<div class="invoice-box">
    <table>
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img
                                src="https://i.ibb.co/VW3DckN/golden-lotus-logo.png"
                                style="width: 100%; max-width: 300px;"
                            />
                        </td>

                        <td>
                            Policy Number: GLI/RC/20/0416/0001<br />
                            Created: January 1, 2020<br />
                            Due: February 1, 2020
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    ​ ​
    <tr class="information">
        <td colspan="2">
            <table>
                <tr>
                    <td>
                        Golden Lotus Insurance Co. Ltd<br />
                        Plot 9711, Chudleigh,<br />
                        Lusaka, Zambia.
                    </td>

                    <td>
                        Charles Malama<br />
                        +260976646340<br />
                        charlesmalama@gmail.com
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    ​
    <br />
    <h2>Particulars Of Vehicle</h2>
    <table>
        <tr class="heading" style="text-align: center;">
            <td>
                Reg No
            </td>
            <td>
                Make
            </td>
            <td>
                Model
            </td>
            <td>
                Engine
            </td>
            <td>
                Chassis No
            </td>
            <td>
                Year Of Manf.
            </td>
            <td>
                Color
            </td>
            ​ ​
        </tr>
        ​
        <tr class="details">
            <td>
                ALB 4594
            </td>
            ​
            <td>
                TOYOTA
            </td>
            <td>
                CORONA
            </td>
            <td>
                7A-H361708
            </td>
            <td>
                AT211-0103710
            </td>
            <td>
                1998
            </td>
            <td>
                BLUE
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width: 50%;">
                <h2>Third Party Limits Of Liability</h2>
                <p>Third Party Property Damage ZMW 30,000</p>
                <p>Third Party Injury and Death ZMW 30,100</p>
                <p>Third Party Bodily Injury/ Death per Event ZMW 60,000</p>
                <br />
                <p>
                    We hereby certify that the policy to which this document
                    relates is issued in accordance with the provisions of Part
                    IX of the Roads & Road Traffic Act of the Republic of
                    Zambia.
                </p>
                <br />
                ​
                <p>
                    <span style="font-weight: bold;">
                        Claims 3rd Party Recovery-
                    </span>
                    In the event of a collision, when the driver of the 3rd
                    Party vehicle is found to be at fault, the Insured will take
                    all reasonable steps to bind the Driver of the 3rd Party
                    vehicle Owner and its Insurance Company to meet the cost of
                    repairs and other claims before repairs & other claims
                    before repairs to the Insured's vehicle are authorized
                </p>
                <br />
                <p>
                    <span style="font-weight: bold;">Policy Excess</span>- As
                    per schedule
                </p>
            </td>
            ​
            <td>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <p>
                    Vehicle Reg
                    No:..............................................
                </p>
                <p>
                    Make...............................Model...........................
                </p>
                <p>
                    Color................................Type................................
                </p>
                <p>
                    Engine
                    No................................................................
                </p>
                <p>
                    Chassis
                    No..............................................................
                </p>
                <p>
                    Date Of Issue..................... Time Of Issue..........
                </p>
                <p>Expiry Date........................... Quarter.......</p>
                <p>Town................................Zambia</p>
            </td>
        </tr>
    </table>
    ​
    <br />
    <p>
        <span style="font-weight: bold;">Notification Clause:</span> On
        happening of an event giving rise to a claim, notification must be done
        within 48hrs for accidental damage& 24hrs for theft from the time of
        happening of an event.
    </p>
    <br />
    <p style="font-weight: bold;">
        Date<span style="text-align-last: right;"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Branch</span
        >
    </p>
    <br />
    <p style="font-weight: bold;">Signed For the Company:</p>
    <br />
    <p style="font-weight: bold;">
        NOTE: THIS INSURANCE CEASES ON THE SALE OR CHANGE OF OWNERSHIP OF THE
        STATED VEHICLE. COVER RESTRICTED WITHIN ZAMBIA ONLY.
    </p>
    ​
</div>
