<div
    style="
        display: flex;
        margin-bottom: 15px;
        align-items: flex-end;
        width: 100%;
    "
>
    <button
        nz-button
        nzType="primary"
        style="margin-right: 8px;"
        (click)="htmlToPdf()"
    >
        Download
    </button>
    <button
        nz-button
        nzType="primary"
        [useExistingCss]="true"
        [printSectionId]="'printSection'"
        ngxPrint
    >
        Print
    </button>
</div>
<nz-spin [nzSpinning]="generatingPDF">
    <div id="printSection">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="595" height="842" viewBox="0 0 595 842">
            <defs>
              <style>
                .cls-1 {
                  clip-path: url(#clip-Certificate);
                }
                .cls-2 {
                  opacity: 0.075;
                  fill: url(#pattern);
                }
                .cls-3 {
                  fill: #ab9856;
                  opacity: 0.048;
                }
                .cls-4 {
                  fill: #434141;
                  font-size: 20px;
                  font-family: HelveticaNeue, Helvetica Neue;
                }
                .cls-10, .cls-5 {
                  fill: none;
                }
                .cls-5 {
                  stroke: #707070;
                  stroke-dasharray: 3;
                }
                .cls-6 {
                  fill: url(#pattern-2);
                }
                .cls-7 {
                  fill: url(#pattern-3);
                }
                .cls-8 {
                  fill: url(#pattern-4);
                }
                .cls-9 {
                  stroke: none;
                }
                .cls-11 {
                  fill: #fff;
                }
              </style>
              <pattern id="pattern" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 710 329">
                <image width="710" height="329" xlink:href="assets/images/golden-logo.png"/>
              </pattern>
              <pattern id="pattern-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 732 848">
                <image width="732" height="848" xlink:href="assets/images/coa-transparent.png"/>
              </pattern>
              <pattern id="pattern-3" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 704 710">
                <image width="704" height="710" xlink:href="assets/images/rtsa-transparent.png"/>
              </pattern>
              <pattern id="pattern-4" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 904 485">
                <image width="904" height="485" xlink:href="assets/images/cropped-cropped-IAZ-logo-1.png"/>
              </pattern>
              <clipPath id="clip-Certificate">
                <rect width="595" height="842"/>
              </clipPath>
            </defs>
            <g id="Certificate" class="cls-1">
              <rect class="cls-11" width="595" height="842"/>
              <rect id="golden-logo" class="cls-2" width="457" height="216" transform="translate(69 214)"/>
              <rect id="Rectangle_1" data-name="Rectangle 1" class="cls-3" width="574" height="812" transform="translate(11 16)"/>
              <text id="CERTIFICATE_OF_MOTOR_INSURANCE" data-name="CERTIFICATE OF MOTOR INSURANCE" class="cls-4" transform="translate(121 101)"><tspan x="0" y="0">CERTIFICATE OF MOTOR INSURANCE</tspan></text>
              <g id="Ellipse_1" data-name="Ellipse 1" class="cls-5" transform="translate(276 446)">
                <circle class="cls-9" cx="143.5" cy="143.5" r="143.5"/>
                <circle class="cls-10" cx="143.5" cy="143.5" r="143"/>
              </g>
              <rect id="coa-transparent" class="cls-6" width="64" height="69" transform="translate(388 466)"/>
              <rect id="rtsa-transparent" class="cls-7" width="50" height="47" transform="translate(463 488)"/>
              <rect id="cropped-cropped-IAZ-logo-1" class="cls-8" width="52" height="47" transform="translate(323 497)"/>
            </g>
          </svg>
    </div>
</nz-spin>
