<div style="margin: 25px;">
    <nz-card>
        <nz-tabset>
            <nz-tab nzTitle="Service Provider">
                <app-service-provider></app-service-provider>
            </nz-tab>
            <nz-tab nzTitle="Loss Adjustor">
                <app-loss-adjustor></app-loss-adjustor>
            </nz-tab>
            <nz-tab nzTitle="Claimants">
                <app-claimant></app-claimant>
            </nz-tab>
            <nz-tab nzTitle="Salvage Buyer">
                <app-salvage-buyer></app-salvage-buyer>
            </nz-tab>
        </nz-tabset>
    </nz-card>
</div>