<div class="invoice-box">
    <tr>
        <strong style="color: red; font-size: 20px;">Draft Quotation</strong>
        <p style="text-align: right;"><strong>Quote
                No: </strong>{{quoteNumber}}</p>
    </tr>
    <table>
        <tr>
            <td>
                <img src="assets/images/apluslogo.png" />
                <span style="float: right;">
                    <p style="font-size: 12px;">
                        A Plus General Insurance<br />
                        Plot No. 402, Roma Park, Zambezi Road<br />
                        P.O. Box 31700, Lusaka Zambia<br />
                        Tel: +260 211 239865/6 - Tele/Fax:+260 211 239867<br />
                        E-mail: info@aplusgeneral.com<br />
                    </p>
                </span>
            </td>
        </tr>

        <hr style="width:100%; height:2px; background-color: red;">

        <tr class="information">
            <td colspan="2">
                <p style="text-align: center;"><strong>INSURANCE QUOTATION SLIP</strong></p>
            </td>
        </tr>

        <hr style="width:100%; height:2px; background-color: black;">

        <table>
            <tr>
                <td><strong>Date</strong></td>
                <td><strong>:</strong></td>
                <td><span>{{dateCreated | date}}</span></td>
            </tr>
            <tr>
                <td><strong>Name Of insured</strong></td>
                <td><strong>:</strong></td>
                <td><span>{{quoteData.client}}</span></td>
            </tr>
            <tr>
                <td><strong>Postal Address</strong></td>
                <td><strong>:</strong></td>
                <td><span>NIL</span></td>
            </tr>
            <tr>
                <td><strong>Period Of Insurance</strong></td>
                <td><strong>:</strong></td>
                <td><span>One year from date to be advised</span></td>
            </tr>
            <tr>
                <td><strong>Validity Period</strong></td>
                <td><strong>:</strong></td>
                <td><span>Thirty (30) days</span></td>
            </tr>
            <tr>
                <td><strong>Agency/Contact Person</strong></td>
                <td><strong>:</strong></td>
                <td><span>Direct</span></td>
            </tr>
            <tr>
                <td><strong>Prepared By</strong></td>
                <td><strong>:</strong></td>
                <td><span>Deryck Musyani</span></td>
            </tr>
        </table>

        <hr style="width:100%; height:2px; background-color: black;">

        <tr class="information">
            <td colspan="2">
                We refer to the above subject and your quotation request dated <strong>{{dateCreated | date}}</strong>
                and
                we are pleased to submit our
                indicative insurance terms of cover valid for 30 days as follows:
                <br />
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <p style="text-align: center; background-color: skyblue; color: aliceblue;">COMPREHENSIVE</p>
                <br />
            </td>
        </tr>

        <table>
            <tr class="information">
                <td colspan="2"><strong>Description of cover</strong></td>
                <td><strong>:</strong></td>
                <td><span>Loss or damage to the insured vehicle
                        (Political Riot
                        and Strike excluded) and indemnity against all
                        sums legally liable to pay to other parties for
                        bodily injury, property damage arising from use of the Insured vehicle.</span></td>
            </tr>

            <tr class="information">
                <td colspan="2"><strong>Basis of coverage</strong></td>
                <td><strong>:</strong></td>
                <td><span>Loss Occurring Basis</span></td>
            </tr>

            <tr class="information">
                <td colspan="2"><strong>Interest</strong></td>
                <td><strong>:</strong></td>
                <td><span>Motor Vehicles</span></td>
            </tr>
        </table>

        <tr class="information">
            <td colspan="2">
                <nz-table style="width: 100%;" nzSize="small" #risksTable [nzData]="risks" nzFrontPagination="false"
                    nzShowPagination="false">
        <tr style="font-size: 15;">
            <th>MAKE</th>
            <th>MODEL</th>
            <th>REG NO.</th>
            <th>SUM INSURED</th>
            <th>RATE(%)</th>
            <th>PREMIUM</th>
            <th>LEVY @ 3%</th>
            <th>TOTAL</th>
        </tr>
        <tr *ngFor="let risk of risksTable.data">
            <td>{{risk.vehicleMake}}</td>
            <td>{{risk.vehicleModel}}</td>
            <td>{{risk.regNumber}}</td>
            <td>{{risk.sumInsured | number: '1.2-2'}}</td>
            <td>5%</td>
            <td>{{risk.basicPremium | number: '1.2-2'}}</td>
            <td>{{risk.premiumLevy | number: '1.2-2'}}</td>
            <td>{{risk.netPremium | number: '1.2-2'}}</td>
        </tr>
        </nz-table>
        <br />
        </td>
        </tr>

        <table>
            <tr>
                <td><strong>Total Sum Insured</strong></td>
                <td><strong>:</strong></td>
                <td><span>{{totalSumInsured | number: '1.2-2'}}</span></td>
            </tr>

            <tr>
                <td><strong>Rate</strong></td>
                <td><strong>:</strong></td>
                <td><span>5% on Total Sum Insured</span></td>
            </tr>

            <tr>
                <td><strong>Basic Premium</strong></td>
                <td><strong>:</strong></td>
                <td><span>{{totalBasicPremium | number: '1.2-2'}}</span></td>
            </tr>

            <tr>
                <td><strong>Levy @ 3%</strong></td>
                <td><strong>:</strong></td>
                <td><span>{{totalLevy | number: '1.2-2'}}</span></td>
            </tr>

            <tr>
                <td><strong>Total Premium</strong></td>
                <td><strong>:</strong></td>
                <td><span>{{totalNetPremium | number: '1.2-2'}}</span></td>
            </tr>

            <tr>
                <td><strong>Basic Excess</strong></td>
                <td><strong>:</strong></td>
                <td><span>10% minimum K1,000.00 each claim – all other losses (Own damage and TPPD)</span></td>
            </tr>

            <tr>
                <td></td>
                <td><strong>:</strong></td>
                <td><span>15% minimum K1,000.00 each claim – theft of vehicle without anti-theft device Fitted.</span>
                </td>
            </tr>

            <tr>
                <td><strong>Conditions/Warranties</strong></td>
                <td><strong>:</strong></td>
                <td><span>As per standard policy</span></td>
            </tr>

            <tr>
                <td><strong>Third Party Limits of Liability</strong></td>
                <td><strong>:</strong></td>
                <td><span>
                        Death/Bodily Injury per person K30,100.00<br />
                        Death/Bodily Injury per event K60,100.00<br />
                        Property Damage any one event K30,000.00
                    </span></td>
            </tr>

            <tr>
                <td><strong>Territorial Clause</strong></td>
                <td><strong>:</strong></td>
                <td><span>Zambia</span></td>
            </tr>

            <tr>
                <td><strong>Jurisdiction Clause</strong></td>
                <td><strong>:</strong></td>
                <td><span>Zambia</span></td>
            </tr>

            <tr>
                <td><strong>Conditions</strong></td>
                <td><strong>:</strong></td>
                <td><span>As per standard policy</span></td>
            </tr>

            <tr>
                <td><strong>Warranties</strong></td>
                <td><strong>:</strong></td>
                <td><span>As per standard policy</span></td>
            </tr>

            <tr>
                <td><strong>Exclusions (Among Others)</strong></td>
                <td><strong>:</strong></td>
                <td><span>As follows</span></td>
            </tr>

            <tr>
                <td>
                    <span>
                        <ul>
                            <li>Consequential Loss of any kind</li>
                            <li>Unlicensed Drivers</li>
                            <li>Driving under the influence of Alcohol/Drugs</li>
                            <li>Damage to tires due to application of brakes</li>
                            <li>Depreciation, Mechanical or electrical failures or breakages</li>
                            <li>Political Risks</li>
                            <li>Terrorism &amp; War Risks</li>
                        </ul>
                    </span>
                </td>
            </tr>
        </table>

        <tr class="information">
            <td colspan="2">
                <strong>We trust you will find our terms competitive and now await your placing slip. Should you have
                    any query please feel free to
                    contact us.</strong>
                <br />
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <strong>Regards</strong>
                <br />
            </td>
        </tr>
    </table>
</div>