<div style="margin: 15px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            Claims
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Claim Details
        </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header (nzBack)="intimateClaim()" nzBackIcon nzTitle="Claim Number: ">
    </nz-page-header>
    <!-- <nz-card style="padding: 20px"> -->
    <nz-card style="margin-bottom: 5px;">
        <nz-divider nzText="Claim Details" nzOrientation="left"></nz-divider>
        <div nz-row>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col [nzSpan]="8">
                        Client
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{getClient(claimData.clientId).clientType === 'Individual'
                        ? capitalize(getClient(claimData.clientId).firstName + ' ' + getClient(claimData.clientId).lastName)
                        : capitalize(getClient(claimData.clientId).companyName)}}
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col class="item-label" [nzSpan]="8">
                        Policy No.:
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{claimData.policyNumber}}
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col class="item-label" [nzSpan]="8">
                        Risk:
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{getRisk(claimData.policyNumber, claimData.riskId).regNumber}}
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col class="item-label" [nzSpan]="8">
                        Loss Estimate:
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{claimData.lossEstimate}}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div nz-row>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col [nzSpan]="8">
                        Loss Location
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{claimData.lossLocation}}
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col class="item-label" [nzSpan]="8">
                        Causation:
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{claimData.causation}}
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col class="item-label" [nzSpan]="8">
                        Third Party:
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{claimData.claimantType}}
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div nz-row>
                    <div nz-col class="item-label" [nzSpan]="8">
                        Description:
                    </div>
                    <div nz-col [nzSpan]="15">
                        {{claimData.claimDescription}}
                    </div>
                </div>
            </div>
        </div>
    </nz-card>

    <!-- Claim Transactions -->

    <nz-card style="margin-bottom: 5px;">
        <nz-divider nzText="Claim Transactions" nzOrientation="left"></nz-divider>
        <div style="margin-bottom: 10px;">
            <div nz-row [nzGutter]="24">
                <div nz-col nzSpan="12">
                    <div style="width: 75%">
                        <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                        </ng-template>
                    </div>
                </div>
                <div nz-col nzSpan=12>
                    <!-- <button nz-button nzType="primary" style="float: right" (click)="openAddPerilFormDrawer()">Add
                            Peril</button> -->
                </div>

            </div>
        </div>
        <nz-table #transactionsTable [nzData]="transactionsList" nzSize="small">
            <thead>
                <tr>
                    <th>Trans Type</th>
                    <th>Trans Date</th>
                    <th>Gross Liability</th>
                    <th>Net Liability</th>
                    <th>Payee</th>
                    <th>Paid Amount</th>
                    <th>Authorised By</th>
                    <th>Authorised Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let peril of transactionsTable.data">
                    <!-- <td>{{peril.claimant}}</td>
                        <td>{{peril.claimId}}</td>
                        <td>{{peril.peril}}</td>
                        <td>{{peril.estimatedAmount}}</td>
                        <td>{{peril.expiredSection}}</td> -->
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
    <!-- <nz-card style="margin-bottom: 5px;">
            <nz-divider nzText="Document Uploads" nzOrientation="left"></nz-divider>

            <nz-table #claimDocumentsTable [nzData]="claimsList">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of claimDocumentsTable.data">
                        <td>{{ file.document.name }}</td>
                        <td>
                            <a href={{file.document.url}}>View</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <nz-form-item>
                <input type="file" (change)="showPreview($event)" formControlName="document" multiple>
            </nz-form-item> -->
    <!-- <nz-upload nzType="drag" [nzMultiple]="true" [nzLimit]="2" nzAction="https://jsonplaceholder.typicode.com/posts/">
                    <p class="ant-upload-drag-icon">
                        <i nz-icon nzType="inbox"></i>
                    </p>
                    <p class="ant-upload-text">Upload claim files</p>
                    <p class="ant-upload-hint">
                        Drag or click this area to upload claim pictures.
                    </p>
                </nz-upload> -->

    <!-- </nz-card> -->
    <!-- </nz-card> -->
</div>

<!-- <app-add-perils [isAddPerilDrawerVisible]="addPerilFormDrawerVisible"
    (closeAddPerilDrawer)="addPerilFormDrawerVisible = false"></app-add-perils> -->