<nz-spin nzSize="large" nzTip="Claim Details Loading...." [nzSpinning]="isClaimDetailLoading">
    <div style="margin: 15px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                Claims
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Claim Details
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        <div style="margin-bottom: 20px; margin-top: 20px; background: #fff;">
            <nz-page-header (nzBack)="navigateBack()" nzBackIcon
                nzTitle="Claim Number: {{claimData ? claimData.claimNumber : '-'}}">
                <nz-page-header-extra>
                    <button *ngIf="isEditmode" nz-button nzType="primary" (click)="isEditmode = false">Save
                        Changes</button>
                </nz-page-header-extra>
            </nz-page-header>
        </div>


        <div style="margin-top: 10px;">
            <nz-card>
                <nz-divider nzText="Claim Details" nzOrientation="left"></nz-divider>
                <nz-descriptions nzBordered>
                    <nz-descriptions-item nzTitle="Client">
                        {{ claimData.client ? claimData.client.clientType == 'Individual' ? claimData.client.firstName + ' ' + claimData.client.lastName : claimData.client.companyName : ''}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Claimant">
                        {{claimData ? (claimData.claimant.firstName + ' ' + claimData.claimant.lastName) : '-'}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Policy No">{{claimData ? claimData.policy.policyNumber : ''}}
                    </nz-descriptions-item>

                    <div *ngIf="claimData?.policy?.class?.className?.toLocaleLowerCase() == 'motor'">
                        <nz-descriptions-item nzTitle="Risk">{{claimData ? claimData.risk.vehicle.regNumber : ''}}
                        </nz-descriptions-item>
                    </div>
                    <div *ngIf="claimData?.policy?.class?.className?.toLocaleLowerCase() == 'fire'">
                        <nz-descriptions-item nzTitle="Risk">{{claimData ? claimData.risk.property.propertyId : ''}}
                        </nz-descriptions-item>
                    </div>
                    <div *ngIf="claimData?.policy?.class?.className?.toLocaleLowerCase() == 'accident'">
                        <nz-descriptions-item nzTitle="Risk">{{claimData ? claimData.risk.accidentProduct.riskId : ''}}
                        </nz-descriptions-item>
                    </div>
                    <nz-descriptions-item
                        nzTitle="Loss Estimate{{claimData.policy.currency == 'ZMW' ? ' (ZMW)' : ' ($)'}}">
                        {{claimData.lossQuantum ? claimData.lossEstimate : ''}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Loss Location">{{claimData ? claimData.road + ', ' + claimData.township + ', ' + claimData.city+ ', ' + claimData.country : ''}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Causation">{{claimData ? claimData.causation : ''}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Third Party">{{claimData ? claimData.thirdPartyInsured : ''}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Description">{{claimData ? claimData.claimDescription : ''}}
                    </nz-descriptions-item>
                </nz-descriptions>
            </nz-card>
        </div>

        <div style="margin-top: 10px; margin: 5px;">
            <nz-card>
                <div nz-row [nzGutter]="10">
                    <div nz-col [nzSpan]="12">
                        <!-- document upload -->
                        <app-document-upload></app-document-upload>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <!-- Photo upload -->
                        <app-photo-upload></app-photo-upload>
                    </div>
                </div>
            </nz-card>
        </div>

        <div style="margin-top: 10px; margin: 5px;">
            <nz-card>
                <!-- Service Provider Quotations -->
                <app-service-provider-quotations></app-service-provider-quotations>
            </nz-card>
        </div>
    </div>
</nz-spin>
