<div style="margin: 10px;">
    <div style="margin-bottom: 10px; background: #fff;">
        <nz-page-header>
            <nz-page-header-title>User Management</nz-page-header-title>
            <!-- <nz-page-header-subtitle>List of all users</nz-page-header-subtitle> -->
            <nz-page-header-extra>
                <!-- <button nz-button>View Summary</button> -->
                <button nz-button nzType="primary" (click)="showModal()">
                    Add New User
                </button>
                <nz-modal
                    [(nzVisible)]="isVisible"
                    [nzWidth]="'1200'"
                    nzTitle="Create User"
                    (nzOnCancel)="handleCancel()"
                    (nzOnOk)="createUser()"
                >
                    <nz-card
                        style="width: 90%; margin: 0 auto;"
                        [nzBordered]="true"
                        nzTitle="User Details"
                    >
                        <form
                            nz-form
                            [formGroup]="userDetailsForm"
                            novalidate
                        >
                            <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="first_name"
                                            >First Name</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">
                                            <input
                                                nz-input
                                                formControlName="first_name"
                                                name="first_name"
                                                type="text"
                                                id="first_name"
                                                placeholder="First Name"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="surname"
                                            >Last Name</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">
                                            <input
                                                nz-input
                                                formControlName="surname"
                                                name="surname"
                                                type="text"
                                                id="surname"
                                                placeholder="Last Name"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="email"
                                            >Email</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">
                                            <input
                                                nz-input
                                                formControlName="email"
                                                name="email"
                                                type="email"
                                                id="email"
                                                placeholder="Email Address"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="phone_number"
                                            >Phone No.</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">
                                            <input
                                                nz-input
                                                formControlName="phone_number"
                                                name="phone_number"
                                                type="tel"
                                                id="phone_number"
                                                placeholder="Phone Number"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <!-- <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSm]="7"
                                            [nzXs]="24"
                                            nzFor="password"
                                            >Password</nz-form-label
                                        >
                                        <nz-form-control
                                            [nzSm]="17"
                                            [nzXs]="24"
                                            nzErrorTip="Please input your password!"
                                        >
                                            <input
                                                nz-input
                                                type="password"
                                                id="password"
                                                formControlName="password"
                                                (ngModelChange)="
                                                    updateConfirmValidator()
                                                "
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSm]="7"
                                            [nzXs]="24"
                                            nzFor="checkPassword"
                                            >Confirm Password</nz-form-label
                                        >
                                        <nz-form-control
                                            [nzSm]="17"
                                            [nzXs]="24"
                                            [nzErrorTip]="errorTpl"
                                        >
                                            <input
                                                nz-input
                                                type="password"

                                                id="checkPassword"
                                            />
                                            <ng-template #errorTpl let-control>
                                                <ng-container
                                                    *ngIf="
                                                        control.hasError(
                                                            'required'
                                                        )
                                                    "
                                                >
                                                    Please confirm your
                                                    password!
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="
                                                        control.hasError(
                                                            'confirm'
                                                        )
                                                    "
                                                >
                                                    Two passwords that you enter
                                                    is inconsistent!
                                                </ng-container>
                                            </ng-template>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div> -->

                             <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="branch"
                                            >Branch</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">
                                          <nz-select
                                            formControlName="branch_id"
                                            nzShowSearch
                                            nzServerSearch
                                            nzAllowClear
                                            placeholder="Select a Permission"
                                          >
                                            <nz-option
                                              *ngFor="  let option of branches"
                                              [nzLabel]="option.name"
                                              [nzValue]="option.ID"
                                            ></nz-option>
                                          </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="department_id"
                                            >Department</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">

                                          <nz-select
                                            formControlName="department_id"
                                            nzShowSearch
                                            nzServerSearch
                                            nzAllowClear
                                            placeholder="Select a Department"
                                          >
                                            <nz-option
                                              *ngFor="
                                                        let option of departments
                                                    "
                                              [nzLabel]="option.name"
                                              [nzValue]="option.ID"
                                            ></nz-option>
                                          </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                            </div>

                            <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="role"
                                            >Roles</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">
                                            <nz-select
                                                formControlName="role"
                                                nzShowSearch
                                                nzServerSearch
                                                nzAllowClear
                                                placeholder="Select a Role"
                                            >
                                                <nz-option
                                                    *ngFor="
                                                        let option of roles
                                                    "
                                                    [nzLabel]="option.role_name"
                                                    [nzValue]="option.ID"
                                                ></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="job_title"
                                            >Job Title</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="17">
                                            <input
                                                nz-input
                                                formControlName="job_title"
                                                name="job_title"
                                                type="job_title"
                                                id="job_title"
                                                placeholder="Job Title"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                          <div nz-row>
                            <div nz-col [nzSpan]="12">
                              <nz-form-item>
                                <nz-form-label
                                  [nzSpan]="7"
                                  nzFor="role"
                                >Roles</nz-form-label
                                >
                                <nz-form-control [nzSpan]="17">
                                  <nz-select
                                    formControlName="permission_id"
                                    nzShowSearch
                                    nzServerSearch
                                    nzAllowClear
                                    placeholder="Select a Permission"
                                    [(ngModel)]="multipleValue"
                                    nzMode="multiple"
                                  >
                                    <nz-option
                                      *ngFor="  let option of permissions"
                                      [nzLabel]="option.name"
                                      [nzValue]="option.ID"
                                    ></nz-option>
                                  </nz-select>
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                          </div>
                        </form>
                    </nz-card>
                </nz-modal>
            </nz-page-header-extra>
            <nz-page-header-content>
                <nz-descriptions [nzColumn]="3">
                </nz-descriptions>
            </nz-page-header-content>
        </nz-page-header>
    </div>
    <nz-card>
        <div style="margin-bottom: 10px; width: 50%;">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="Search by user name" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <nz-table
            #usersTable
            [nzData]="displayUsersList"
            [nzSize]="'small'"
            [nzBordered]="true"
        >
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Job Title</th>
                    <th>Branch</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersTable.data">
                <td>{{user.firstName}} {{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.job_title}}</td>
                <td>{{user.Branch.name}}</td>
                <td>{{user.Department.name}}</td>


                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</div>
