<nz-spin
    nzSize="large"
    nzTip="Underwriting Report Loading...."
    [nzSpinning]="isOkLoading"
>
    <div style="margin: 20px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                Settings
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Vehicle's
            </nz-breadcrumb-item>
        </nz-breadcrumb>

        <div style="margin: 20px;">
            <nz-row nzGutter="24">


              <nz-col nzSpan="8">
                <nz-card
                    [nzBordered]="false"
                    nzTitle="Vehicle Make"
                    [nzExtra]="addVehicleMakeButton"
                >
                    <ng-template #addVehicleMakeButton>
                        <button
                            nz-button
                            nzType="primary"
                            style="float: right;"
                            (click)="openAddVehicleMakeFormDrawer()"
                        >
                            Add Vehicle Make
                        </button>
                    </ng-template>
                    <div style="margin-bottom: 10px;">
                        <div nz-row>
                            <div nz-col>
                                <div style="width: 100%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by name, type"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-table
                        #vehicleMakeTable
                        [(ngModel)]="selectedVehicleMake"
                        (ngModelChange)="vehicleMakeChange($event)"
                        [nzData]="displayedVehicleMake"
                        [nzSize]="'small'"
                        [nzBordered]="true"
                        style="background-color: white;"
                    >
                        <thead>
                            <tr>
                                <th>Vehicle Make</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let vehicle of vehicleMakeTable.data
                                "
                            >
                                <td>
                                    {{ vehicle.vehicleMake }}
                                </td>


                                  <td style="text-align: center;">

                                    <button
                                        nz-button
                                        nzType="default"
                                        (click)="
                                        changeSelectedVehicleMake(
                                                vehicle
                                            )
                                        "
                                        nz-tooltip nzTooltipTitle="intermediary commission structure"
                                    >
                                    <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                                    </button>
                                </td>



                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-col>


                <nz-col nzSpan="8">
                    <nz-card
                        [nzBordered]="false"
                        nzTitle="Vehicle Model"
                        [nzExtra]="addVehicleModelButton"
                    >
                        <ng-template #addVehicleModelButton>
                            <button
                                nz-button
                                nzType="primary"
                                style="float: right;"
                                (click)="openAddVehicleModelFormDrawer()"
                            >
                                Add Vehicle Model
                            </button>
                        </ng-template>
                        <div style="margin-bottom: 10px;">
                            <div nz-row>
                                <div nz-col>
                                    <div style="width: 100%;">
                                        <nz-input-group
                                            [nzSuffix]="suffixIconSearch"
                                        >
                                            <input
                                                type="text"
                                                nz-input
                                                placeholder="Search by name, type"
                                            />
                                        </nz-input-group>
                                        <ng-template #suffixIconSearch>
                                            <i nz-icon nzType="search"></i>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <nz-table
                            #vehicleModelTable
                            [nzData]="displayedVehicleModel"
                            [nzSize]="'small'"
                            [nzBordered]="true"
                            style="background-color: white;"
                        >
                            <thead>
                                <tr>
                                    <th>Vehicle Model</th>
                                    <th>Description</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let vehicle of vehicleModelTable.data
                                    "
                                >
                                    <td>
                                        {{ vehicle.vehicleModel }}
                                    </td>

                                    <td>
                                        {{ vehicle.description }}
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-card>
                </nz-col>




                <nz-col nzSpan="8">
                  <nz-card
                      [nzBordered]="false"
                      nzTitle="Vehicle Body Type"
                      [nzExtra]="addVehicleTypeButton"
                  >
                      <ng-template #addVehicleTypeButton>
                          <button
                              nz-button
                              nzType="primary"
                              style="float: right;"
                              (click)="openAddVehicleTypeFormDrawer()"
                          >
                              Add Vehicle Body Type
                          </button>
                      </ng-template>
                      <div style="margin-bottom: 10px;">
                          <div nz-row>
                              <div nz-col>
                                  <div style="width: 100%;">
                                      <nz-input-group
                                          [nzSuffix]="suffixIconSearch"
                                      >
                                          <input
                                              type="text"
                                              nz-input
                                              placeholder="Search by name, type"
                                          />
                                      </nz-input-group>
                                      <ng-template #suffixIconSearch>
                                          <i nz-icon nzType="search"></i>
                                      </ng-template>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <nz-table
                          #vehicleTypeTable
                          [nzData]="displayedVehicleType"
                          [nzSize]="'small'"
                          [nzBordered]="true"
                          style="background-color: white;"
                      >
                          <thead>
                              <tr>
                                  <th>Vehicle BodyType</th>
                                  <th>Description</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr
                                  *ngFor="
                                      let vehicle of vehicleTypeTable.data
                                  "
                              >

                                  <td>
                                      {{ vehicle.vehicleType }}
                                  </td>

                                    <td style="text-align: center;">
                                      {{ vehicle.description }}
                              </td>
                              </tr>
                          </tbody>
                      </nz-table>
                  </nz-card>
              </nz-col>
            </nz-row>
        </div>
    </div>
</nz-spin>

<!-- Drawers -->
<app-vehicle-type
    [isAddVehicleTypesFormDrawerVisible]="addVehicleTypesFormDrawerVisible"
    (closeAddVehicleTypesFormDrawerVisible)="
        addVehicleTypesFormDrawerVisible = false
    "
    (closeAddVehicleTypesFormDrawerVisible)="recieveUpdate($event)"
></app-vehicle-type>

<app-vehicle-make
    [isAddVehicleMakesFormDrawerVisible]="addVehicleMakesFormDrawerVisible"
    (closeAddVehicleMakesFormDrawerVisible)="
        addVehicleMakesFormDrawerVisible = false
    "
    (closeAddVehicleMakesFormDrawerVisible)="recieveUpdate($event)"
></app-vehicle-make>

<app-vehicle-model
    [isAddVehicleModelsFormDrawerVisible]="addVehicleModelsFormDrawerVisible"
    (closeAddVehicleModelsFormDrawerVisible)="
        addVehicleModelsFormDrawerVisible = false
    "
    (closeAddVehicleModelsFormDrawerVisible)="recieveUpdate($event)"
></app-vehicle-model>
