<!-- <nz-drawer [nzClosable]="false" [nzVisible]="isBankFormDrawerVisible" nzPlacement="left" nzTitle="Add Bank"
    (nzOnClose)="closeBankFormDrawerVisible()" [nzWidth]="600">

    <nz-spin [nzSize]="'large'">

        <form nz-form [formGroup]="bankForm">
            
            <div nz-row>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="bank_name" nzRequired>Bank Name</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input formControlName="bank_name" name="bank_name" id="bank_name"
                            placeholder="Bank name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="branch_name" nzRequired>Branch Name</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input formControlName="branch_name" name="branch_name" id="branch_name"
                            placeholder="Branch name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="branch_code" nzRequired>Branch Code</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input formControlName="branch_code" name="branch_code" id="branch_code"
                            placeholder="Branch code" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="swift_code" nzRequired>Swift Code</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input formControlName="swift_code" name="swift_code" id="swift_code"
                            placeholder="Swift code" />
                    </nz-form-control>
                </nz-form-item>
            </div>

                <nz-form-item>
                <nz-form-control>
                    <div style="text-align: center; margin-top: 10px;">
                        <button nz-button nzType="primary" style="margin-right: 8px;" (click)="submitBankForm()">
                            Add Bank
                        </button>
                        <button nz-button nzType="default">Reset Form</button>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </form>

    </nz-spin>
</nz-drawer> -->