<div>
    <form nz-form [formGroup]="engineeringItemDetailsForm">
        <div nz-row nzGutter="0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="group" nzRequired>
                        Group
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="group" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="rowNumber" nzRequired>
                        Row number
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="rowNumber" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="shortDescription" nzRequired>
                        Short description
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="shortDescription" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="description" nzRequired>
                        Description
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="description" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="limitAmount" nzRequired>
                        Limit Amount
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="limitAmount" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="premiumRate" nzRequired>
                        Premium rate
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="premiumRate" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="divFactor" nzRequired>
                        DIV Factor
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="divFactor" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="rateType" nzRequired>
                        Rate type
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="rateType" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="freeLimit" nzRequired>
                        Free limit
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="freeLimit" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="muiltiplierRate" nzRequired>
                        Multiplier rate
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="muiltiplierRate" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="multiplierDivisionFactor" nzRequired>
                        Multiplier division factor
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="multiplierDivisionFactor" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>