<div style="margin: 20px;">
    <nz-card>
        <nz-tabset>
            <nz-tab nzTitle="Clauses">
                <nz-card style="margin-top: 10px;">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by clause ID, clause type"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <button
                                    nz-button
                                    nzType="primary"
                                    style="float: right;"
                                >
                                    Add New Clause
                                </button>
                            </div>
                        </div>
                    </div>
                    <nz-table #clausesTable [nzData]="clausesList">
                        <thead>
                            <tr>
                                <th>Clause ID</th>
                                <th>Clause Heading</th>
                                <th>Clause Type</th>
                                <th>Clause Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let clause of clausesTable.data">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>

                <!-- <nz-card nzTitle="Clause Sub-class" style="margin-top: 10px;">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by clause ID, clause type"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <button
                                    nz-button
                                    nzType="primary"
                                    style="float: right;"
                                >
                                    Add New Clause Subclass
                                </button>
                            </div>
                        </div>
                    </div>
                    <nz-table
                        #clauseSubclassTable
                        [nzData]="clauseSubClassList"
                    >
                        <thead>
                            <tr>
                                <th>Clause ID</th>
                                <th>Clause Heading</th>
                                <th>Clause Type</th>
                                <th>Editable</th>
                                <th>Mandatory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let clause_subclass of clauseSubclassTable.data
                                "
                            >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card> -->
            </nz-tab>

            <nz-tab nzTitle="Policy Wordings">
                <nz-card nzTitle="Revenue Item" style="margin-top: 10px;">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by itme ID"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <button
                                    nz-button
                                    nzType="primary"
                                    style="float: right;"
                                >
                                    Add Wording
                                </button>
                            </div>
                        </div>
                    </div>
                    <nz-table #revenueItemTable [nzData]="revenuesList">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Heading</th>
                                <th>Type</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let revenue_item of revenueItemTable.data
                                "
                            >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-tab>

            <nz-tab nzTitle="Policy Extensions">
                <nz-card nzTitle="Tax rate" style="margin-top: 10px;">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by rate, rate type, revenue item"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <button
                                    nz-button
                                    nzType="primary"
                                    style="float: right;"
                                >
                                    Add Policy Extension
                                </button>
                            </div>
                        </div>
                    </div>
                    <nz-table #taxRateTable [nzData]="taxRatesList">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Heading</th>
                                <th>Type</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tax_rate of taxRateTable.data">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-tab>
        </nz-tabset>
    </nz-card>
</div>
