<div style="margin: 10px;">
  <div style="margin-bottom: 20px; background: #fff;">
    <nz-page-header>
      <nz-page-header-title>Policies</nz-page-header-title>
      <nz-page-header-subtitle>List of all policies</nz-page-header-subtitle>
      <nz-page-header-extra>
        <!-- <button nz-button>View Summary</button> -->
      </nz-page-header-extra>
      <nz-page-header-content>
        <nz-descriptions [nzColumn]="3">
          <nz-descriptions-item nzTitle="Agent" [nzSpan]="1">Charles Malama</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Last Update" [nzSpan]="1">2017-01-10</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Total Policies" [nzSpan]="1">231</nz-descriptions-item>
          <!-- <nz-descriptions-item nzTitle="Draft Policies" [nzSpan]="1">130</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Confirmed Policies" [nzSpan]="1">101</nz-descriptions-item> -->
        </nz-descriptions>
      </nz-page-header-content>
    </nz-page-header>
  </div>
  <nz-card>
  <div style="margin-bottom: 10px; width: 50%">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Search by client, policy number, agent" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>

    <nz-table #policiesTable [nzData]="policiesList" [nzSize]="'small'" [nzBordered]="true">
    <thead>
      <tr>
        <th>Policy Number</th>
        <th>Endorsement Number</th>
        <th>Product</th>
        <th>Cover From</th>
        <th>Cover To</th>
        <th>Client Name</th>
        <th>Insurance Company</th>
        <th>Currency</th>
        <th>Agent</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of policiesTable.data">
        <td>{{ policy.policyNumber }}</td>
        <td>{{ policy.endorsementNumber }}</td>
        <td>{{ policy.product }}</td>
        <td>{{ policy.startDate | date }}</td>
        <td>{{ policy.endDate | date }}</td>
        <td>{{ policy.client }}</td>
        <td>{{ policy.insuranceCompany}}</td>
        <td>{{ policy.currency}}</td>

        <!-- <td>
          <nz-badge [nzStatus]="policy.status === 'Draft' ? 'warning' : 'success'" [nzText]="policy.status"></nz-badge>
        </td> -->
        <td>{{ policy.preparedBy }}</td>
        <td>
          <button nz-button nzType="default" nzSize="small">Download</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  </nz-card>

</div>
