<div>
    <nz-card>
        <nz-divider nzText="Documents" nzOrientation="left"></nz-divider>

        <ul nz-list [nzDataSource]="data" nzBordered nzSize="large">
            <li nz-list-item *ngFor="let item of data" nzNoFlex>

                <ul nz-list-item-actions>
                    <a (click)="openDocumentUploadModal(item)" style="float: right;"
                        *ngIf="!documentUploads.includes(item)">upload</a>
                    <a (click)="viewDocument(item)" style="float: right;"
                        *ngIf="documentUploads.includes(item)">view</a>
                </ul>
                {{ item }}
                <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"
                    *ngIf="documentUploads.includes(item)" style="margin-left: 10px;"></i>
            </li>
        </ul>
    </nz-card>
</div>

<app-docment-upload-modal [isViewDocumentUploadModalVisible]="isDocumentUploadModalVisible"
    (closeViewDocumentUploadModal)="isDocumentUploadModalVisible = false"></app-docment-upload-modal>