<div style="margin: 25px;">
    <nz-card>
        <h4 nz-typography>Roles and Permissions</h4>
        <div style="margin-bottom: 10px;">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <div style="width: 75%;">
                        <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" nz-input placeholder="Search by clause roles-permmission Code" />
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                        </ng-template> -->
                    </div>
                </div>
                <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select a Role"
                    [(ngModel)]="selectedRoleValue"
                    (ngModelChange)="onChange($event)"
                    nzAllowClear
                >
                    <nz-option
                        *ngFor="let role of rolesList"
                        [nzValue]="role"
                        [nzLabel]="role.className"
                    ></nz-option>
                </nz-select>
            </div>
        </div>

        <nz-table #rolesPermisionssTable [nzData]="permissionsList">
            <thead>
                <tr>
                    <th>Permission</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let role of rolesPermisionssTable.data"
                    (click)="selectedRolesPermissionId(rolesPermission)"
                    style="cursor: pointer;"
                >
                    <td>{{ role.permissionName }}</td>
                    <td>{{ role.Description }}</td>
                </tr>
            </tbody>
        </nz-table>

        <nz-divider nzType="horizontal"></nz-divider>

        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
                <nz-card nzTitle="Roles">
                    <div style="margin-bottom: 10px;">
                        <div nz-col nzSpan="12">
                            <button
                                nz-button
                                nzType="primary"
                                style="float: right;"
                                (click)="openRoles()"
                            >
                                Add New Role
                            </button>
                        </div>
                        <!-- </div> -->
                    </div>
                    <nz-table #rolesTable [nzData]="rolesList">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of rolesTable.data">
                                <td>{{ role.roleName }}</td>
                                <td>{{ role.Description }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-card nzTitle="Permissions">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <button
                                    nz-button
                                    nzType="primary"
                                    style="float: right;"
                                    (click)="openPermissions()"
                                >
                                    Add New Permission
                                </button>
                            </div>
                        </div>
                    </div>
                    <nz-table #permissionTable [nzData]="permissionsList">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let permission of permissionTable.data">
                                <td>{{ permission.permissionName }}</td>
                                <td>{{ permission.Description }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </div>
        </div>
    </nz-card>
</div>

<!--
                    ///////////////////////////////////////////////////////////////////////
                    /////////// ROLES INPUTS/////////////////////////////////////////
                    /////////////////////////////////////////////////
-->

<!-- <nz-drawer
    [nzClosable]="false"
    [nzVisible]="isRolesVisible"
    nzPlacement="left"
    nzTitle="Add Role"
    (nzOnClose)="closeRoles()"
    [nzWidth]="600"
> -->
<nz-modal
    [(nzVisible)]="isRolesVisible"
    nzTitle="Add Role"
    (nzOnCancel)="handleRolesCancel()"
    (nzOnOk)="submitRoleForm()"
>
    <form nz-form [formGroup]="rolesForm">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired> Name</nz-form-label>
            <nz-form-control
                [nzSpan]="12"
                nzHasFeedback
                nzValidatingTip="Validating..."
                [nzErrorTip]="roleNameErrorTpl"
            >
                <input
                    nz-input
                    formControlName="roleName"
                    placeholder="Enter Role"
                />
                <ng-template #roleNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input Role!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The Role is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
            <nz-form-control
                [nzSpan]="12"
                nzHasFeedBack
                nxValidatingTip="Validating"
                [nzErrorTip]="DescriptionErrorTp1!"
            >
                <textarea
                    formControlName="Description"
                    nz-input
                    rows="3"
                    placeholder="write description"
                ></textarea>
                <ng-template #DescriptionErrorTp1 let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please add Description!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <!-- <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button
                    nz-button
                    nzType="primary"
                    [disabled]="!rolesForm.valid"
                >
                    Submit
                </button>

                <button nz-button nzType="default">
                    Cancel
                </button>
            </nz-form-control>
        </nz-form-item> -->
    </form>
</nz-modal>
<!-- 
/////////////////////////////////
///////////  PERMISSIONS INPUT /////////// -->

<nz-modal
[(nzVisible)]="isPermissionsVisible"
nzTitle="Add Permission"
(nzOnCancel)="handlePermissionCancel()"
(nzOnOk)="submitPermissionForm()"
>
<form nz-form [formGroup]="permissionsForm">
<nz-form-item>
<nz-form-label [nzSpan]="7" nzRequired> Name</nz-form-label>
<nz-form-control
[nzSpan]="12"
nzHasFeedback
nzValidatingTip="Validating..."
[nzErrorTip]="permissionNameErrorTpl"
>
<input
nz-input
formControlName="permissionName"
placeholder="Enter Nmae"
/>
<ng-template #permissionNameErrorTpl let-control>
<ng-container *ngIf="control.hasError('required')">
    Please input Name!
</ng-container>
<ng-container *ngIf="control.hasError('duplicated')">
    The Name is redundant!
</ng-container>
</ng-template>
</nz-form-control>
</nz-form-item>

<nz-form-item>
<nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
<nz-form-control
[nzSpan]="12"
nzHasFeedBack
nxValidatingTip="Validating"
[nzErrorTip]="DescriptionErrorTp1!"
>
<textarea
formControlName="Description"
nz-input
rows="3"
placeholder="write description"
></textarea>
<ng-template #DescriptionErrorTp1 let-control>
<ng-container *ngIf="control.hasError('required')">
    Please add Description!
</ng-container>
</ng-template>
</nz-form-control>
</nz-form-item>

</form>
</nz-modal>
