<nz-drawer [nzClosable]="false" [nzVisible]="isDrawerVisible" nzPlacement="left"
  nzTitle="New Account Type" (nzOnClose)="closeDrawer()" [nzWidth]="650">
  
  <form nz-form [formGroup]="createCurrencyForm" style="margin: 0 auto;">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Name</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Symbol</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input formControlName="symbol" id="symbol" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="5" style="text-align: center">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  
  </form>

</nz-drawer>
