<nz-spin [nzSpinning]="false">
    <div class="policy-detail">
        <div style="margin: 15px;"></div>
    </div>
    <div style="margin: 15px;">
        <nz-card>
            <nz-divider
                nzText="Policy Details"
                nzOrientation="left"
            ></nz-divider>
            <form nz-form [formGroup]="policyDetailsForm">
                <div nz-row nzGutter="0">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7"
                                >Name of Insured</nz-form-label
                            >
                            <!-- <nz-form-control nzSpan="17">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    formControlName="nameOfInsured"
                                />
                            </nz-form-control> -->
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Currency</nz-form-label>
                            <!-- <nz-form-control nzSpan="17">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    formControlName="currency"
                                />
                            </nz-form-control> -->
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7"
                                >Sum Insured</nz-form-label
                            >
                            <!-- <nz-form-control nzSpan="17">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    formControlName="sumInsured"
                                />
                            </nz-form-control> -->
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzSpan="7">Premium</nz-form-label>
                            <!-- <nz-form-control nzSpan="17">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    formControlName="netPremium"
                                />
                            </nz-form-control> -->
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Quarter</nz-form-label>
                            <!-- <nz-form-control nzSpan="17">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    formControlName="quarter"
                                />
                            </nz-form-control> -->
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Start Date</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <!-- <nz-date-picker
                                    formControlName="startDate"
                                    [nzDisabled]="!isEditmode"
                                ></nz-date-picker> -->
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">End Date</nz-form-label>
                            <!-- <nz-form-control nzSpan="17">
                                <nz-date-picker
                                    formControlName="endDate"
                                    [nzDisabled]="!isEditmode"
                                ></nz-date-picker>
                            </nz-form-control> -->
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzSpan="7"
                                >Date Of Issue</nz-form-label
                            >
                            <!-- <nz-form-control nzSpan="5">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    formControlName="dateOfIssue"
                                />
                            </nz-form-control> -->
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7"
                                >Time Of Issue</nz-form-label
                            >
                            <!-- <nz-form-control nzSpan="5">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    formControlName="timeOfIssue"
                                />
                            </nz-form-control> -->
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7"
                                >Expiry Date</nz-form-label
                            >
                            <nz-form-control nzSpan="17">
                                <!-- <nz-date-picker
                                    formControlName="expiryDate"
                                    [nzDisabled]="!isEditmode"
                                >
                                </nz-date-picker> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Remarks</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <textarea
                                    nz-input
                                    placeholder="Add remarks..."
                                    [nzAutosize]="{
                                        minRows: 2,
                                        maxRows: 6
                                    }"
                                ></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-control>
                            <div style="text-align: center;">
                                <button nz-button nzType="primary">
                                    Update Policy
                                </button>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </form>
        </nz-card>
        <nz-card>
            <nz-divider nzText="Risk Details" nzOrientation="left"></nz-divider>
            <div style="margin-top: 20px;">
                <div style="margin-bottom: 10px;">
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzSpan="12">
                            <div style="width: 75%;">
                                <nz-input-group
                                    [nzSuffix]="suffixIconSearch"
                                >
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="Search by type, account type"
                                    />
                                </nz-input-group>
                                <ng-template #suffixIconSearch>
                                    <i nz-icon nzType="search"></i>
                                </ng-template>
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <button
                                nz-button
                                nzType="primary"
                                style="float: right;"
                                (click)="openAccountTypeFormDrawer()"
                            >
                                Add New Risk
                            </button>
                        </div>
                    </div>
                </div>
                <nz-table #risksTable nzSize="small">
                    <thead>
                        <tr>
                            <th>Insurance Type</th>
                            <th>Registration Number</th>
                            <th>Vehicle Make</th>
                            <th>Vehicle Model</th>
                            <th>Engine Number</th>
                            <th>Chassis Number</th>
                            <th>Color</th>
                            <th>Product Type</th>
                            <th>Sum Insured</th>
                            <th>Premium</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let policy of risksTable.data">
                            <td>{{ policy.insuranceType }}</td>
                            <td>{{ policy.regNumber }}</td>
                            <td>{{ policy.vehicleMake }}</td>
                            <td>{{ policy.vehicleModel }}</td>
                            <td>{{ policy.engineNumber }}</td>
                            <td>{{ policy.chassisNumber }}</td>
                            <td>{{ policy.color }}</td>
                            <td>{{ policy.productType }}</td>
                            <td>{{ policy.sumInsured | number: '1.2-2' }}</td>
                            <td>{{ policy.netPremium | number: '1.2-2' }}</td>
                            <td>
                            <button
                                nz-button
                                nzType="primary"
                                nzSize="small"
                            (click)=""
                            >
                                Edit
                            </button>
                        </td>
                        </tr> -->
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</nz-spin>
