<div>

    <div>
        <div>
            <form>
                <nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label [nzSpan]="8" nzFor="clientType">Client Type</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-select nzShowSearch nzAllowClear placeholder="Select an Client Type" [(ngModel)]="selectedClientType" (ngModelChange)="changeClientType($event)" name="select">
                                <nz-option nzLabel="Individual" nzValue="individual"></nz-option>
                                <nz-option nzLabel="Corporate" nzValue="corporate"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                </nz-row>
            </form>
        </div>
        <!--Individual client form-->
        <form *ngIf="selectedClientType === 'individual'"  nz-form [formGroup]="individualClientForm" (ngSubmit)="submitIndividualClient()">
            <!--Personal Details starts here-->
            <nz-divider nzText="Personal Details" nzOrientation="left"></nz-divider>
            <div nz-row>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="title">Title</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-select formControlName="title" nzShowSearch nzAllowClear placeholder="Select a Title">
                                    <nz-option nzLabel="Mr" nzValue="mr"></nz-option>
                                    <nz-option nzLabel="Mrs" nzValue="mrs"></nz-option>
                                    <nz-option nzLabel="Miss" nzValue="miss"></nz-option>
                                    <nz-option nzLabel="Dr" nzValue="dr"></nz-option>
                                    <nz-option nzLabel="Prof" nzValue="prof"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="firstName">First Name</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input nz-input formControlName="firstName" name="firstName" type="text" id="firstName"
                                placeholder="First Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="idType">ID Type</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-select formControlName="idType" nzShowSearch nzAllowClear
                                placeholder="Select an ID Type">
                                <nz-option nzLabel="NRC" nzValue="nrc"></nz-option>
                                <nz-option nzLabel="Passport" nzValue="passport"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="idNumber">ID Number</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input nz-input formControlName="idNumber" name="idNumber" id="idNumber"
                                placeholder="ID Number" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="lastName">Last Name</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input nz-input formControlName="lastName" name="lastName" id="lastName"
                                placeholder="Last Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="email">Email</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input nz-input formControlName="email" name="email" type="email" id="email"
                                placeholder="Email Address" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="dateOfBirth">Date of Birth</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-date-picker formControlName="dateOfBirth" name="dateOfBirth" id="dateOfBirth"
                                placeholder="Date of Birth"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="phone">Phone</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input nz-input formControlName="phone" name="phone" id="phone"
                                placeholder="Phone Number" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="address">Address</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input nz-input formControlName="address" name="address" id="address"
                                placeholder="Address" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="gender">Gender</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-select formControlName="gender" nzShowSearch nzAllowClear placeholder="Select Gender">
                                <nz-option nzLabel="Male" nzValue="male"></nz-option>
                                <nz-option nzLabel="Female" nzValue="female"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

                <div nz-row>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="maritalStatus">Marital Status</nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <nz-select formControlName="maritalStatus" nzShowSearch nzAllowClear
                                    placeholder="Select Marital Status">
                                    <nz-option nzLabel="Single" nzValue="single"></nz-option>
                                    <nz-option nzLabel="Married" nzValue="married"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            
            <!--Personal Details ends here-->

            <!--Employment Information starts here-->
            <div>
                <nz-divider nzText="Employment Information" nzOrientation="left"></nz-divider>
                <!-- <form
                    nz-form
                    [formGroup]="employementInformationForm"
                    novalidate
                    (ngSubmit)="onSubmit()"
                > -->
                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="sector">Sector</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <nz-select formControlName="sector" nzShowSearch nzAllowClear
                                    placeholder="Select a Sector">
                                    <nz-option nzLabel="Finance" nzValue="finance"></nz-option>
                                    <nz-option nzLabel="Manufacturing" nzValue="manufacturing"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="occupation">Occupation</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <nz-select formControlName="occupation" nzShowSearch nzAllowClear
                                    placeholder="Select Occupation">
                                    <nz-option nzLabel="Student" nzValue="student"></nz-option>
                                    <nz-option nzLabel="Employed" nzValue="employed"></nz-option>
                                    <nz-option nzLabel="Unemployed" nzValue="unemployed"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <!--Employment Information ends here-->

            <!--Bank Details starts here-->
            <div>
                <nz-divider nzText="Bank Details" nzOrientation="left"></nz-divider>
                <!-- <form
                        nz-form
                        [formGroup]="bankDetailsForm"
                        novalidate
                        (ngSubmit)="onSubmit()"
                    > -->
                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="accountName">Account Name</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input nz-input formControlName="accountName" name="accountName" type="text"
                                    id="accountName" placeholder="Account Name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="accountNumber">Account No.</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input nz-input formControlName="accountNumber" name="accountNumber" type="number"
                                    id="accountNumber" placeholder="Account Number" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="accountType">Account Type</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <nz-select formControlName="accountType" nzShowSearch nzAllowClear
                                    placeholder="Account Type">
                                    <nz-option nzLabel="ZMW" nzValue="zmw"></nz-option>
                                    <nz-option nzLabel="Dollar" nzValue="dollar"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="bank">Bank</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input nz-input formControlName="bank" name="bank" type="text" id="bank"
                                    placeholder="Bank" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="6" nzFor="branch">Branch</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                                <input nz-input formControlName="branch" name="branch" id="branch"
                                    placeholder="Branch" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <!--Bank Details ends here-->

            <nz-form-item>
                <nz-form-control>
                    <div style="text-align: center; margin-top: 10px">

                        <button nz-button nzType="primary" style="margin-right: 8px">Add Client</button>
                        <button nz-button nzType="default">Reset Form</button>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </form>
        <!--End of individual client form-->



        <div>
            <!--Corporate  clients form-->
            <form *ngIf="selectedClientType === 'corporate'" nz-form [formGroup]="corporateClientForm" (ngSubmit)="submitCorporateClient()">
                <!--Company Details starts here-->
                <nz-divider nzText="Company Details" nzOrientation="left"></nz-divider>
                <!-- <form
                    nz-form
                    [formGroup]="companyDetailsForm"
                    novalidate
                    (ngSubmit)="onSubmit()"
                > -->
                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="companyName">Company Name</nz-form-label>
                            <nz-form-control [nzSpan]="15">
                                <input nz-input formControlName="companyName" name="companyName" id="companyName"
                                    placeholder="Company Name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="taxPin">Tpin Number</nz-form-label>
                            <nz-form-control [nzSpan]="15">
                                <input nz-input formControlName="taxPin" name="taxPin" type="text" id="taxPin"
                                    placeholder="taxPin" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="registrationNumber">Registration Number</nz-form-label>
                            <nz-form-control [nzSpan]="15">
                                <input nz-input formControlName="registrationNumber" name="registrationNumber"
                                    type="text" id="registrationNumber" placeholder="Registration Number" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="email">Email</nz-form-label>
                            <nz-form-control [nzSpan]="15">
                                <input nz-input formControlName="email" name="email" type="email" id="email"
                                    placeholder="Email Address" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="phone">Phone</nz-form-label>
                            <nz-form-control [nzSpan]="15">
                                <input nz-input formControlName="phone" name="phone" id="phone"
                                    placeholder="Phone Number" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="address">Address</nz-form-label>
                            <nz-form-control [nzSpan]="15">
                                <input nz-input formControlName="address" name="address" id="address"
                                    placeholder="Address" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="sector">Sector</nz-form-label>
                            <nz-form-control [nzSpan]="15">
                                <nz-select formControlName="sector" nzShowSearch nzAllowClear
                                    placeholder="Select a Sector">
                                    <nz-option nzLabel="Finance" nzValue="finace"></nz-option>
                                    <nz-option nzLabel="Manufacturing" nzValue="manufacturing"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <!--Company Details ends here-->

                <!--Corporate Contact Details starts here put under corporate client-->
                <div>
                    <nz-divider nzText="Corporate Contact Details" nzOrientation="left"></nz-divider>
                    <!-- <form
                        nz-form
                        [formGroup]="contactPersornForm"
                        novalidate
                        (ngSubmit)="onSubmit()"
                    > -->
                    <div nz-row>
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzFor="contactFirstName">Contact First Name</nz-form-label>
                                <nz-form-control [nzSpan]="16">
                                    <input nz-input formControlName="contactFirstName" name="contactFirstName"
                                        type="text" id="contactFirstName" placeholder="Contact First Name" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzFor="contactLastName">Contact Last Name</nz-form-label>
                                <nz-form-control [nzSpan]="16">
                                    <input nz-input formControlName="contactLastName" name="contactLastName"
                                        id="contactLastName" placeholder="Contact Last Name" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzFor="contactEmail">Contact Email</nz-form-label>
                                <nz-form-control [nzSpan]="16">
                                    <input nz-input formControlName="contactEmail" name="contactEmail" type="email"
                                        id="contactEmail" placeholder="Contact Email Address" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzFor="contactPhone">Contact Phone</nz-form-label>
                                <nz-form-control [nzSpan]="16">
                                    <input nz-input formControlName="contactPhone" name="contactPhone" type="phone"
                                        id="contactPhone" placeholder="Contact Phone" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="8" nzFor="contactAddress">Contact Address</nz-form-label>
                                <nz-form-control [nzSpan]="16">
                                    <input nz-input formControlName="contactAddress" name="contactAddress"
                                        id="contactAddress" placeholder="Contact Address" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <!--Corporate Contact Details ends here-->


                <!--Corporate Bank Details starts here-->
                <div>
                    <nz-divider nzText="Corporate Bank Details" nzOrientation="left"></nz-divider>

                    <!-- <form
                    nz-form
                    [formGroup]="bankDetailsForm"
                    novalidate
                    (ngSubmit)="onSubmit()"
                > -->
                    <div nz-row>
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="6" nzFor="accountName">Account Name</nz-form-label>
                                <nz-form-control [nzSpan]="18">
                                    <input nz-input formControlName="accountName" name="accountName" type="text"
                                        id="accountName" placeholder="Account Name" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="6" nzFor="accountNumber">Account No.</nz-form-label>
                                <nz-form-control [nzSpan]="18">
                                    <input nz-input formControlName="accountNumber" name="accountNumber" type="number"
                                        id="accountNumber" placeholder="Account Number" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="6" nzFor="accountType">Account Type</nz-form-label>
                                <nz-form-control [nzSpan]="18">
                                    <nz-select formControlName="accountType" nzShowSearch nzAllowClear
                                        placeholder="Account Type">
                                        <nz-option nzLabel="ZMW" nzValue="zmw"></nz-option>
                                        <nz-option nzLabel="Dollar" nzValue="dollar"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="6" nzFor="bank">Bank</nz-form-label>
                                <nz-form-control [nzSpan]="18">
                                    <input nz-input formControlName="bank" name="bank" type="text" id="bank"
                                        placeholder="Bank" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="6" nzFor="branch">Branch</nz-form-label>
                                <nz-form-control [nzSpan]="18">
                                    <input nz-input formControlName="branch" name="branch" id="branch"
                                        placeholder="Branch" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <!--Corporate Bank Details ends here-->

                <nz-form-item>
                    <nz-form-control>
                        <div style="text-align: center; margin-top: 10px">

                            <button nz-button nzType="primary" style="margin-right: 8px">Add CLient</button>
                            <button nz-button nzType="default">Reset Form</button>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>




    <!-- <div style="margin: 20px;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      Clients
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Create Client
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<div style="margin: 20px;">
  <nz-steps [nzCurrent]="0">
    <nz-step ></nz-step>
    <nz-step> </nz-step>
    <nz-step></nz-step>
    <nz-step></nz-step>
  </nz-steps>
</div>
<div style="margin: 20px;">
  <nz-card style="width:50%; margin: 0 auto;" [nzBordered]="true" nzTitle="Client Type">
    <form nz-form [formGroup]="clientTypeForm" novalidate (ngSubmit)="next()">
      <nz-form-item nz-row>
        <nz-form-label [nzSpan]="6" nzFor="type">Client Type</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="type" nzShowSearch nzAllowClear nzPlaceHolder="Select a Client Type">
            <nz-option nzLabel="Individual Client" nzValue="ind"></nz-option>
            <nz-option nzLabel="Corporate Client" nzValue="cor"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item >
      <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="default">Next</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div> -->