<div style="
        display: flex;
        margin-bottom: 15px;
        align-items: flex-end;
        width: 100%;
    ">
    <!-- <button nz-button nzType="primary" style="margin-right: 8px;" (click)="htmlToPdf()">
        Download
    </button> -->
    <button nz-button nzType="primary" [useExistingCss]="true" [printSectionId]="'debitPrintSection'" ngxPrint>
        Print
    </button>
</div>

<div id="debitPrintSection">
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top" style="border: none;">
                <td style="border: none;">
                    <table>
                        <tr style="border: none;">
                            <td class="title" style="border: none;">

                                <img src="/assets/images/golden-lotus-transparent.png"
                                    style="width: 100%; max-width: 100px;" />
                            </td>

                            <td style="
                                    font-size: 11px;
                                    float: right !important;
                                    border: none;
                                ">
                                Golden Lotus Insurance Co. Ltd<br />
                            Plot 9711, Chudleigh,<br />
                            Lusaka, Zambia<br />
                            goldenlutosinsurance@gmail.com<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr style="width: 100%; height: 2px; background-color: black;" />

        <h2 style="text-align: center; font-weight: bolder;">POLICY SCHEDULE</h2>
        <h2 style="text-align: center; font-weight: bolder;">{{policy?.risks[0]?.property?.subClass}}</h2>

        <br />

        <table>
            <tr>
                <td style="width: 50%;">
                    <table>
                        <tr>
                            <td style="width: 36%;"><strong>Insurer:</strong></td>
                            <td style="width: 64%;"> {{'Savenda General insurance'}}</td>
                        </tr>
                        <tr>
                            <td style="width: 36%;"><strong>Name Of Insured</strong></td>
                            <td style="width: 6465%;"> {{ policy?.client }}</td>
                        </tr>
                        <tr>
                            <td style="width: 36%;"><strong>Address of Insured :</strong></td>
                            <td style="width: 640%;">
                                {{ client?.address }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 36%;"><strong>Agency :</strong></td>
                            <td style="width: 640%;">
                                {{policy?.sourceOfBusiness == 'direct' ? policy?.intermediaryName : 'Direct'}}
                            </td>
                        </tr>
                    </table>
                </td>

                <td style="width: 50%;">
                    <table>
                        <tr>
                            <td style="width: 40%;"><strong>Policy No : </strong></td>
                            <td style="width: 60%;">{{policy?.policyNumber}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%;"><strong>Policy Sign Date : </strong></td>
                            <td style="width: 60%;">{{policy?.dateOfIssue | date}}</td>
                        </tr>
                        <tr>
                            <td style="width: 36%;"><strong>Premium : </strong></td>
                            <td style="width: 640%;">{{policy?.currency == 'ZMW' ? 'ZMW' : 'USD'}}
                                {{policy.risks[0]?.basicPremium | number: '1.2-2'}}</td>
                        </tr>
                        <tr>
                            <td style="width: 40%;"><strong>Insurance Levy : </strong></td>
                            <td style="width: 60%;">{{policy?.currency == 'ZMW' ? 'ZMW' : 'USD'}}
                                {{policy?.risks[0]?.premiumLevy}}</td>
                        </tr>
                        <tr>
                            <td style="width: 40%;"><strong>Total Premium : </strong></td>
                            <td style="width: 60%;">{{policy?.currency == 'ZMW' ? 'ZMW' : 'USD'}}
                                {{policy.netPremium | number: '1.2-2'}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <br />
        <p><strong>PERIOD OF INSURANCE</strong></p>
        <ol type="a">
            <li><strong>From </strong>{{policy?.startDate | date}}<strong> To </strong>{{policy?.endDate | date}} both
                dates inclusive
            </li>
            <li>Any subsequent period for which the the insured shall pay and the company shall accept a renewal payment
            </li>
        </ol>

        <br />

        <hr style="width: 100%; height: 2px; background-color: black;" />

        <table style="border:1px solid;">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><strong>Risk Address: </strong>{{policy?.risks[0]?.property?.address}}</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
                <td></td>
                <td>
                    <table>
                        <tr>
                            <td><strong>For an amount not exceeding:
                                </strong>{{policy?.currency == 'ZMW' ? 'ZMW' : '$'}}
                                {{policy?.risks[0]?.sumInsured | number: '1.2-2'}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />

        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><strong>Cover Description: </strong></td>
                            <td>{{policy?.risks[0]?.insuranceType}}</td>
                        </tr>
                        <tr>
                            <td><strong>Business Class: </strong></td>
                            <td>{{policy?.class?.className}}</td>
                        </tr>
                        <tr>
                            <td><strong>Product: </strong></td>
                            <td>{{policy?.risks[0]?.property?.subClass}}</td>
                        </tr>
                        <tr *ngIf="policy?.risks[0]?.property?.subClass?.toLocaleLowerCase() == 'house owners'">
                            <td><strong>Category: </strong></td>
                            <td>{{policy?.risks[0]?.productType}}</td>
                        </tr>


                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><strong>Limit Amount: </strong></td>
                            <td>{{policy?.currency == 'ZMW' ? 'ZMW' : 'USD'}}
                                {{policy?.risks[0]?.sumInsured | number: '1.2-2'}}</td>
                        </tr>
                        <tr>
                            <td><strong>Premium: </strong></td>
                            <td>{{policy?.currency == 'ZMW' ? 'ZMW' : 'USD'}}
                                {{policy?.risks[0]?.basicPremium | number: '1.2-2'}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <br />
        <table>
            <tr>
                <td style="width: 60%;">
                    <table>
                        <tr>
                            <td><strong>Extensions:</strong></td>
                            <td>
                                <ul style="list-style-type: none;">
                                    <li *ngFor="let extension of extensions">
                                        {{ extension.extensionType }}
                                        <span
                                            style="font-weight: bold;">{{ policy.currency }}{{ extension.amount }}</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Excess:</strong></td>
                            <td>
                                <ul style="list-style-type: none;">
                                    <li *ngFor="let ex of excessList">
                                        {{ ex.description }}
                                        <span style="font-weight: bold;">{{ policy.currency }}{{ ex.amount }}</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Clauses:</strong></td>
                            <td>
                                <ul style="list-style-type: none;">
                                    <li *ngFor="let clause of clauses">
                                        {{ clause.heading }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>

                </td>
            </tr>
        </table>

        <!-- <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><strong>Excess: </strong></td>
                            <td>
                                <ul style="list-style-type: none;">
                                    <li *ngFor="let ex of policy.risks[0].excesses">
                                        {{ ex.description }}
                                        <span style="font-weight: bold;">{{ policy.currency }}{{ ex.amount }}</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </td>
            </tr>
        </table> -->

        <br />

        <!-- <div style="margin-left: 6px;">
            <p>
                <span style="font-weight: bold;"><strong>Extensions</strong></span>
            </p>
            <ul style="list-style-type: none;">
                <li *ngFor="let extension of extensions">
                    {{ extension.extensionType }}
                    <span style="font-weight: bold;">{{ policy.currency }}{{ extension.amount }}</span>
                </li>
            </ul>

            <p>
                <span style="font-weight: bold;"><strong>Excess</strong></span>
            </p>
            <ul style="list-style-type: none;">
                <li *ngFor="let ex of excessList">
                    {{ ex.description }}
                    <span style="font-weight: bold;">{{ policy.currency }}{{ ex.amount }}</span>
                </li>
            </ul>

            <p>
                <span style="font-weight: bold;"><strong>Clauses</strong></span>
            </p>
            <ul style="list-style-type: none;">
                <li *ngFor="let clause of clauses">
                    {{ clause.heading }}
                </li>
            </ul>
        </div> -->

        <br />

        <p>
            SIGNED AT:.............................................<span style="text-align: center;">DATE:
                {{ policy.dateOfIssue | date }}</span><span
                style="float: right;">....................................................</span>
        </p>
        <p>
            <span style="float: center;"></span><span style="float: right;"><span style="font-weight: bold;">For Chief
                    Executive Officer</span></span>
        </p>
    </div>
</div>
