<nz-steps [nzCurrent]="1">
    <nz-step nzTitle="Quotation Details"></nz-step>
    <nz-step nzTitle="Quotation Product Details"></nz-step>
    <nz-step nzTitle="Risk Details"></nz-step>
  </nz-steps>
  
  <div class="steps-content">

      <form nz-form [formGroup]="quotationProductDetailsForm">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="binder_type">Binder Type</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please select binder type">
              <nz-select id="binder_type" >
                <nz-option nzValue="binder" nzLabel="Binder"></nz-option>
                <nz-option nzValue="open_market" nzLabel="Open Market"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="binder">Binder</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please select binder">
              <nz-select id="binder" >
                <nz-option nzLabel="APA PSV MOTOR ASSET"></nz-option>
                <nz-option nzLabel="Britum Commercial Tractor"></nz-option>
                <nz-option nzLabel="Britam Credit Life"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-control [nzSpan]="12" [nzOffset]="5" style="text-align: center">
                <button nz-button nzType="primary" routerLink="/create-quote/quotation-details">Back</button>
                <button nz-button nzType="primary" routerLink="/create-quote/risk-details">Proceed</button>
            </nz-form-control>
          </nz-form-item>
        </form>
    
    
  </div>
  