<div style="
        display: flex;
        margin-bottom: 15px;
        align-items: flex-end;
        width: 100%;
    ">
    <!-- <button nz-button nzType="primary" style="margin-right: 8px;" (click)="htmlToPdf()">
        Download
    </button> -->
    <button nz-button nzType="primary" [useExistingCss]="true" [printSectionId]="'wordingPrintSection'" ngxPrint>
        Print
    </button>
</div>

<div id="wordingPrintSection">
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="6">
                    <table>
                        <tr>

                            <td class="title"> <img src="/assets/images/golden-lotus-transparent.png"
                                    style="width: 100%; max-width: 100px;" /></td>

                            <td style="
                                    font-size: 11px;
                                    float: right !important;
                                ">
                                Golden Lotus Insurance Co. Ltd<br />
                            Plot 9711, Chudleigh,<br />
                            Lusaka, Zambia<br />
                            goldenlutosinsurance@gmail.com<br />

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <hr style="width: 100%; height: 2px; background-color: red;" />
        <br />
        <br />
        <br />

        <h2 style="text-align: center; font-weight: bolder;">MOTOR INSURANCE</h2>
        <br />

        <span style="font-weight: bolder;">SUB-SECTION 1: OWN DAMAGE- (FOR COMPREHENSIVE MOTOR INSURANCE ONLY)</span>
        <p>
        <span style="font-weight: bolder;"> DEFINED EVENTS</span>
        </p>

        <p>Loss of or damage to any vehicle described in the schedule and its accessories and spare parts whilst
            thereon.</p>

        <p>Provided that:</p>
        <ol type="I">
            <li>
                the limit of indemnity for each type of vehicle is as stated in the schedule and shall be the maximum
                amount payable by
                the company in respect of such loss or damage, but shall not exceed the reasonable market value of the
                vehicle and its
                accessories and spare parts at the time of such loss or damage</li>
            <li>
                the company may, at its own option, repair, reinstate or replace such vehicle or any part thereof and/or
                its accessories
                and spare parts or may pay in cash the amount of the loss or damage not exceeding the market value of
                the
                vehicle
                and/or its accessories and/or spare parts at the time of such loss or damage</li>
            <li>
                the company shall not be liable for more than the amount stated in the schedule (after deduction of the
                first amount
                payable) in respect of the theft or attempted theft of radios, tape players and similar equipment or
                telephones not
                supplied by the manufacturers of the vehicle when new
            </li>
            <li>
                the company shall pay reasonable towing charges subject however to a maximum amount of ZMW750, unless
                otherwise stated in the Policy Schedule.
            </li>
        </ol>
        <br/>

        <span style="font-weight: bolder;">EXCEPTIONS TO SUB-SECTION A</span>
        <p>The company shall not be liable to pay for:</p>
        <ul>
            <li>
                    consequential loss as a result of any cause whatsoever, depreciation in value whether arising from repairs
                    following a
                    defined event or otherwise, wear and tear, mechanical or electrical breakdowns, failures or breakages
            </li>
            <li>
                    damage to tyres by application of brakes or by road punctures, cuts or bursts
            </li>
            <li>
                    damage to springs / shock absorbers due to inequalities of the road or other surface or to impact with
                    such
                    inequalities
            </li>
            <li>
                    requisition by customs or other officials or authorities detention, confiscation.
            </li>
        </ul>
        <br/>

        <span style="font-weight: bolder;">SUB-SECTION B: THRID PARTY LIABILITY</span>
        <span style="font-weight: bolder;"> DEFINED EVENTS</span>
        <br />
        <ol type="I">
            <li>
                    The Company will subject to the Limits of Liability and the Jurisdiction Clause indemnify the Insured
                    against all
                    sums including claimant’s costs and expenses which the Insured shall become legally liable to pay in respect
                    of:

                    <ol type="a">
                        <li>death of or bodily injury to any person or person(s)</li>
                        <li>damage to property</li>
                    </ol>
                    Where such death or injury or damage arises out of an accident caused by or in connection with the Motor
                    Vehicle or the loading or unloading of the Motor Vehicle.
            </li>
            <li>
                    Indemnity to Other Persons
                    The Company will subject to the Limits of Liability and the Jurisdiction Clause indemnify any Authorised
                    Driver
                    or at the request of the Insured any person (other than the person driving) in or getting into our out of
                    the
                    Motor Vehicle against all sums including claimant’s costs and expenses which such Authorised Driver or
                    person shall become legally liable to pay in respect of
                    <ol type="a">
                        <li>death of or bodily injury to any person</li>
                        <li>damage to property</li>
                    </ol>
                    Where such death or injury or damage arises out of an accident caused by or in connection with the Motor
                    Vehicle or the loading or unloading of the Motor Vehicle provided that such Authorised Driver or person
                    shall
                    as though he were the insured observe, fulfill and be subject to the terms of this policy insofar as they
                    can
                    apply.
                    The driver is not entitled to indemnity under any other policy.
            </li>
            <li>
                    Indemnity to Legal Representatives
                    In the event of the death of any person entitled to indemnity under this Section the Company will in respect
                    of
                    the liability incurred by such person indemnify his legal personal representatives in terms of and subject
                    to the
                    limitations which applied to such person.
                    IV. Use of Limits of Liability
                    In the event of an accident involving indemnity under this Section to more than one person the Limits of
                    Liability shall apply to the aggregate amount of indemnity to all persons indemnified and such indemnity
                    shall
                    apply with preeminence to the Insured.
            </li>
            <li>
                    Legal Representation and Defence Costs
                    The Company may at its own option arrange for representation at any inquest or fatal inquiry in
                    respect of any death which may be the subject of indemnity under this section.undertake the defence of
                    proceedings in any court of law in respect of any act or alleged offence causing or relating to any event
                    which
                    may be the subject of indemnity under this section.
            </li>
            <li>
                    Other Expenses related to the loss/damage
                    The Company will pay all costs and expenses incurred with its written consent.
            </li>
        </ol>
        <br/>

        <span style="font-weight: bolder;">THIRD PARTY LIABILITY LIMITS</span>
        <ul>
            <li>Per person – bodily injury or death – K30,100.00</li>
            <li>Event limit – Bodily injury or death – K60,300.00</li>
            <li>Property damage- K30,000.00</li>
        </ul>
        <br/>

        <span style="font-weight: bolder;">EXCEPTIONS TO SUB-SECTION B</span>
        <p>The company shall not be liable under this sub-section in respect of</p>
        <ol type="a">
            <li>Any liability arising from death or injury or property damage caused intentionally by the insured</li>
            <li>Any liability arising out of the ownership or operation of a vehicle as defined under (a), (b), (c) or
                    (e) while it is being
                    used as a livery conveyance</li>
            <li>Any liability arising out of ownership, maintenance or use of any vehicle as defined under (a), (b) or
                    (d) which has fewer
                    than four wheels or is designed mainly for use off public roads</li>
            <li>
                    Any liability arising from the operation, demonstration or use (for purposes other than maintenance or
                    repair) of any tool
                    forming part of or attached to or used in connection with a vehicle or anything manufactured by or contained
                    in any such
                    tool or plant. This exclusion shall not apply to fork lift trucks.
            </li>
        </ol>
        <br/>

        <span style="font-weight: bolder;">LIMITS OF INDEMNITY</span>
        <p>
                Unless otherwise stated the liability of the company under this sub-section in respect of any one occurrence
                shall not exceed the
                limits of indemnity as stated in the schedule.
        </p>
        <br/>

        <span style="font-weight: bolder;">SUB-SECTION C: MEDICAL EXPENSES</span>
        <span style="font-weight: bolder;">DEFINED EVENTS</span>
        <p>
                If an occupant of a vehicle defined under (a) or (c) and described in the schedule sustains bodily injury by
                violent,
                accidental, external and visible means, the company shall pay to the insured the medical expenses incurred
                as a
                result of such injury up to ZMW500 per injured occupant but not exceeding ZMW2, 000 in total for all
                occupants
                injured as a result of an occurrence or series of occurrences arising out of an event
        </p>
        <br/>

        <span style="font-weight: bolder;">DEFINITIONS</span>
        <span style="font-weight: bolder;">OCCURRENCE</span>
        <p>
                The term occurrence shall mean an occurrence or series of occurrences arising from one cause in connection
                with any one
                Vehicle in respect of which indemnity is provided by this insurance.
        </p>

        <br/>
        <span style="font-weight: bolder;">VEHICLE</span>
        <p>
                The term vehicle shall mean
            </p>
                <ol type="a">
                    <li>
                            private type motor cars (including station wagons, safari vans, estate cars and the like or similar
                            vehicles designed to
                            seat not more than 7 persons including the driver)
                    </li>
                    <li>commercial vehicles and special type vehicles as described in the schedule</li>
                    <li>motor cycles (including motor scooters and 3-wheeled vehicles)</li>
                    <li>buses (including any vehicle used for business purposes and designed to seat more than 7 persons,
                            including the
                            driver)</li>
                    <li>
                            trailers, i.e. any vehicle without means of self-propulsion designed to be drawn by a self-propelled
                            vehicle, but excluding
                            any parts or accessories not permanently fitted thereto .
                    </li>
                </ol>

                <p>
                any such vehicle being owned by or hired or leased to the insured, including any such vehicle temporarily
                operated by the
                insured as replacement for any vehicle out of use for the purpose of overhaul upkeep and/or repair provided
                that the insurer's
                maximum liability shall not exceed the lesser of the market value of the replacement vehicle or the limit of
                indemnity of the
                replaced vehicle as stated in the schedule.
            </p>
            <br/>

            <span style="font-weight: bolder;">NO CLAIM DISCOUNT (APPLICABLE TO SPECIFIED VEHICLE BASIS)</span>
            <p>
                    In the event of no claim being made or arising under this policy during a period of insurance specified
                    below immediately
                    preceding the renewal of this policy, the renewal premium for the insurance of the vehicles will be subject
                    to the No Claim
                    Discount (NCD) as follows
            </p>

            <table>
                <tr>
                        <td>INSURANCE PERIOD</td>
                        <td>PRIVATE USE</td>
                        <td>COMMERCIAL USE</td>
                </tr>
                <tr>
                        <td>2ND YEAR</td>
                        <td>15%</td>
                        <td>10%</td>
                </tr>
                <tr>
                        <td>3RD YEAR</td>
                        <td>30%</td>
                        <td>20%</td>
                </tr>
                <tr>
                        <td>4TH YEAR</td>
                        <td>40%</td>
                        <td>30%</td>
                </tr>
                <tr>
                        <td>5TH YEAR</td>
                        <td>60%</td>
                        <td>50%</td>
                </tr>
            </table>
            <br />
            <p>
                    Should the company consent to a transfer of interest in this policy, No Claim Discount (NCD) shall not
                    accrue to the benefit of
                    the transferee.
                    Where the insured claims in any particular year with the exception of the first year of insurance, the NCD
                    will roll back by two
                    years of the discount earned.
                    The NCD is not applicable to commercial/business use vehicles on fleet rates
                    If more than one vehicle is described in the schedule to this policy, the No Claim Discount shall be applied
                    as if a separate
                    policy had been issued in respect of each such vehicle.
            </p>
            <br/>

            <span style="font-weight: bolder;">EXTENSIONS</span>
            <ol type="1">
                <li>
                        <span style="font-weight: bolder;">CONTINGENT LIABILITY EXTENSION (If Stated In The Schedule To Be Included) </span>
                        <p>
                                The indemnity under sub-section B shall include claims made against
                            </p>
                                <ol type="a">
                                    <li>
                                            the insured in the event of an accident arising in the course of the business and caused by or through
                                            or in
                                            connection with any motor vehicle not the property of nor provided by the insured, while being used by any
                                            partner
                                            or director or employee of the insured (hereinafter in this extension referred to as such person)
                                    </li>
                                    <li>
                                            any such person in the event of an accident arising in the course of the business and caused by or
                                            through or in
                                            connection with any motor vehicle not belonging to him nor to the insured nor leased nor hired by either of
                                            them,
                                            but only in so far as such person has not been refused any motor insurance or continuance thereof by any
                                            insurer
                                            provided that
                                            <ol type="i">
                                                <li>
                                                        the company shall not be liable for loss of or damage to any motor vehicle being used for the purposes
                                                        and in the
                                                        manner described in (a) and (b) above
                                                </li>
                                                <li>
                                                        the payment by the insured of subsidies or travelling allowances to such person for the use of his own
                                                        vehicle for
                                                        official purposes of the insured, including the carriage of persons for such purposes, is allowed without
                                                        prejudice
                                                        to the insurance by this extension
                                                </li>
                                                <li>
                                                        if, at the time of the occurrence of any accident giving rise to a claim under this extension, the
                                                        insured or such
                                                        person is entitled to indemnity under any other policy in respect of the same occurrence, the company shall
                                                        not be
                                                        liable to make any payment hereunder except in respect of any excess beyond the amount payable under such
                                                        other policy
                                                </li>
                                                <li>
                                                        the terms exceptions and conditions of the policy shall otherwise apply.
                                                </li>
                                            </ol>
                                    </li>
                                </ol>
                </li>
                <br />
                <li>
                        <span style="font-weight: bolder;">UNAUTHORISED PASSENGER LIABILITY EXTENSION (If Stated In The Schedule To Be Included)</span>
                        The indemnity under sub-section B extends to cover the insured's legal liability for death of or bodily
                        injury to persons
                        while being carried in or upon or entering or getting onto or alighting from any vehicle in contravention of
                        the insured's
                        instructions to their driver not to carry passengers. The limit of indemnity for any one occurrence shall
                        not exceed the
                        amount stated in the schedule.
                </li>
                <br />
                <li>
                        <span style="font-weight: bolder;">WINDSCREEN EXTENSION (If Stated In The Schedule To Be Included)</span>
                        <p>
                        The provisions of this section relating to first amount payable and No Claim Discount (NCD) shall not apply
                        to any
                        payment for damage to windscreen glass, side or rear glass forming part of any vehicle
                        provided that
                    </p>
                        <ol type="a">
                            <li>No other damage has been caused to the vehicle giving rise to a claim under the policy</li>
                            <li>The insured shall be responsible for the first amount payable (applicable to glass) stated in the
                                    schedule of each
                                    and every loss.</li>
                        </ol>
                </li>
                <br />
                <li>
                        <span style="font-weight: bolder;">CROSS LIABILITIES</span>
                        <p>
                        Where more than one insured is named in the schedule, the company will indemnify each insured separately and
                        not
                        jointly, and any liability arising between such insured shall be treated as though separate policies had
                        been issued to
                        each, provided that the aggregate liability of the company shall not exceed the limit of indemnity stated in
                        the schedule.
                    </p>
                </li>
                <br />
                <li>
                        <span style="font-weight: bolder;">RIOT AND STRIKE EXTENSION (If Stated In The Schedule To Be Included)</span>
                        <p>
                        Subject otherwise to the terms, conditions, exclusions, exceptions and warranties contained therein, this
                        section is
                        extended to cover loss or damage directly occasioned by or through or in consequence of:
                    </p>
                        <ol type="i">
                            <li>civil commotion, labour disturbances, riot, strike or lockout;</li>
                            <li>
                                    the act of any lawfully established authority in controlling, preventing, suppressing or in any other
                                    way dealing
                                    with any occurrence referred to in (i) above;
                                    provided that this extension does not cover:
                                    <ol type="a">
                                        <li>consequential or indirect loss or damage of any kind or description whatsoever;</li>
                                        <li>loss or damage resulting from total or partial cessation of work, or the retarding or interruption or
                                                cessation of any
                                                process or operation;</li>
                                        <li>
                                                loss or damage occasioned by permanent or temporary dispossession resulting from confiscation,
                                                commandeering or requisition by any lawfully constituted authority;
                                        </li>
                                        <li>
                                                loss or damage related to or caused by any occurrence referred to in general exception 1(A)(ii), (iii),
                                                (iv), (v) or
                                                (vi) of this policy or the act of any lawfully established authority in controlling, preventing, suppressing
                                                or in any
                                                other way dealing with any such occurrence.
                                        </li>
                                    </ol>
                                    <p>
                                            If the company alleges that by reason of provisos (a), (b), (c) or (d), loss or damage is not covered by
                                            this section, the
                                            burden of proving the contrary shall rest on the insured
                                    </p>

                            </li>
                        </ol>
                </li>
                <br />
                <li>
                        <span style="font-weight: bolder;">LOSS OF KEYS EXTENSION (If Stated In The Schedule To Be Included)</span>
                        <p>
                        The company will indemnify the insured in respect of the cost of replacing locks and keys, including the
                        remote alarm
                        controller and, if necessary, the reprogramming of any coded alarm system of any insured vehicle, following
                        upon the
                        disappearance of any key or alarm controller of such vehicle or following upon the insured having reason to
                        believe that
                        any unauthorised person may be in possession of a duplicate of such key or alarm controller, provided that
                    </p>
                    <ol type="i">
                        <li>the company's liability shall not exceed, in respect of any one event, the amount stated in the schedule</li>
                        <li>such amount shall be reduced by the first amount payable stated in the schedule.</li>
                    </ol>
                </li>
                <br />
                <li>
                        <span style="font-weight: bolder;">DEBRIS REMOVAL (If Stated In The Schedule To Be Included)</span>
                        <p>
                        The cover provided under sub-section A of this section is extended to include costs and expenses incurred by
                        the
                        insured in respect of the clearing and removal of debris and wreckage of any insured vehicle following
                        damage to such
                        vehicle by a defined event, provided that, in addition to the limit of indemnity under sub-section A, the
                        limit of the
                        company's liability under this extension shall not exceed, in respect of any one occurrence, the limit
                        stated in the
                        schedule to apply to this extension.
                    </p>
                </li>
            </ol>
            <br/>

            <span style="font-weight: bolder;">MEMORANDA</span>
            <ol type="1">
                <li>
                        <span style="font-weight: bolder;">PREMIUM ADJUSTMENT CLAUSE</span>
                        <p>
                        If this section is issued on a non-specified vehicle basis, the insured shall submit to the company at the
                        end of each
                        period of insurance a declaration of the total number of vehicles owned, hired or leased at such expiry
                        date. The
                        company shall upon receipt of this declaration make a premium adjustment of 50 per cent of the annual rate
                        per vehicle
                        applied to the difference in the number of vehicles at inception or renewal and the number declared.
                        However, the
                        vehicles owned, hired or leased at inception or renewal if not declared at the commencement of insurance
                        shall not be
                        entitled to any coverage under this policy till the date they are declared by the insured and included by
                        the Company in
                        the schedule of insured vehicles.
                    </p>
                </li>
                <li>
                        <span style="font-weight: bolder;">WAR CLAUSE</span>
                        <p>
                        In respect of sub-sections B and C only, general exception 1 is deleted and replaced by the following:
                        This section does not cover war, invasion, act of foreign enemy, hostilities (whether war has been declared
                        or not), civil
                        war, mutiny, insurrection, rebellion, revolution, military or usurped power.
                    </p>
                </li>
                <li>
                        <span style="font-weight: bolder;">DESCRIPTION OF USE CLAUSE</span>
                        <p>
                        Use for social, domestic and pleasure purposes and use for the business or occupation of the insured
                        Excluding hiring, carriage of passengers for hire, or carriage of fare paying passengers, racing speed or
                        other contests,
                        rallies, trials, carriage of explosives or carriage of any load or passengers exceeding the capacity for
                        which it is
                        constructed or licensed to carry or use for any purpose in connection with the motor trade. The indemnity to
                        the insured
                        in connection with any vehicle shall operate while such vehicle is in the custody or control of a member of
                        the motor trade
                        for the purpose of its overhaul, upkeep or repair.
                    </p>
                </li>
                <li>
                        <span style="font-weight: bolder;">SPARE PARTS AND ACCESSORIES WARRANTY</span>
                        <p>
                        In the event of any part or accessory being unprocurable as a standard (ready manufactured) article within
                        the Republic
                        of Zambia, Our liability shall be discharged by the payment of a sum equal to the value of such part at the
                        time of the
                        accident but not in any case exceeding the maker’s latest price operative in Zambia.
                    </p>
                    <p>We may approve the use of any of the following repair parts:</p>
                        <ul>
                            <li>
                                    After-market parts- new parts that meet the vehicle manufacturer's specifications, but are produced by
                                    someone other than the original equipment manufacturer
                            </li>
                            <li>
                                    Recycled parts- quality parts removed from vehicles in on-drivable conditions and used as replacement
                                    parts
                            </li>
                            <li>
                                    Remanufactured parts- items such as radiators and alternators that have been rebuilt to meet the
                                    manufacturer's specifications
                            </li>
                            <li>
                                    Original Equipment Manufacturer (OEM) parts- parts manufactured by, or under licence to, the vehicle
                                    manufacturer
                            </li>
                        </ul>
                </li>
            </ol>
            <br/>

            <span style="font-weight: bolder;">OPTIONAL LIMITATIONS</span>
            <span style="font-weight: bolder;">THIRD PARTY BODILY INJURY ONLY LIMITATION (if stated in the schedule to be applicable)</span>
            <p>Sub-sections A, B (ii) and C and the No Claim Discount (NCD) provisions are cancelled.</p>
            <br/>

            <span style="font-weight: bolder;">THIRD PARTY, FIRE AND THEFT ONLY LIMITATION (if stated in the schedule to be applicable)</span>
            <p>The liability of the company under sub-section A is restricted solely to loss or damage resulting from fire,
                    self-ignition, lightning
                    or explosion or by theft or any attempt thereat. Further, sub-section C and the No Claim Discount (NCD)
                    provisions are
                    cancelled.</p>
            <br/>

            <span style="font-weight: bolder;">SPECIFIC EXCEPTIONS</span>
            <ol type="1">
                <li>
                        The company shall not be liable for any accident, injury, loss, damage or liability
                        <ol type="a">
                            <li>
                                    whilst the vehicle is being used with the general knowledge and consent of the insured otherwise than in
                                    accordance with the description of use clause
                            </li>
                            <li>
                                    incurred outside the Republic of Zambia
                            </li>
                            <li>
                                    incurred while any vehicle is being driven by:
                                    <ol type="i">
                                        <li>
                                                the insured while under the influence of intoxicating liquor or drugs (unless administered by or
                                                prescribed
                                                by and taken in accordance with the instructions of a member of the medical profession other than himself)
                                                or while not licensed to drive such vehicle
                                        </li>
                                        <li>
                                                any other person with the general consent of the insured who, to the insured's knowledge, is under the
                                                influence of intoxicating liquor or drugs (unless administered by or prescribed by and taken in accordance
                                                with the instructions of a member of the medical profession other than himself) or is not licensed to drive
                                                such vehicle, but this shall not apply if the insured was unaware that the driver was unlicensed and the
                                                insured can prove to the satisfaction of the company that, in the normal course of his business, procedures
                                                are in operation to ensure that only licensed drivers are permitted to drive insured vehicles.
                                        </li>
                                    </ol>
                            </li>
                        </ol>
                </li>
                <li>
                    <p>
                        The company shall not be liable for any claim arising from contractual liability, unless such liability
                        would have attached
                        to the insured notwithstanding such contractual agreement.
                    </p>
                    <br/>
                </li>
            </ol>
            <br/>

            <span style="font-weight: bolder;">SPECIFIC CONDITION</span>
            <p>
                        If, during the currency of this section, any driver's licence in favour of the insured or their authorised
                        driver is endorsed,
                        suspended or cancelled, or if he or they shall be charged or convicted of negligent, reckless or improper
                        driving, notification
                        shall be sent in writing to the company immediately the insured have knowledge of such event.
                    </p>


        <br />
        <br />
        <div class="bottom">
            <p>
                .......................................................
            </p>
            <p>For and on behalf of</p>
            <p style="font-weight: bold;">
                SAVENDA GENERAL INSURANCE
            </p>
        </div>
    </div>
</div>
