<nz-steps [nzCurrent]="2">
    <nz-step nzTitle="Quotation Details"></nz-step>
    <nz-step nzTitle="Quotation Product Details"></nz-step>
    <nz-step nzTitle="Risk Details"></nz-step>
</nz-steps>

<div class="steps-content">

    <form nz-form [formGroup]="riskDetailsForm">
        
            <div class="row">
                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="insured_type">Insured Type</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Please select insured type">
                            <nz-select id="insured_type">
                                <nz-option nzValue="individual" nzLabel="Individual"></nz-option>
                                <nz-option nzValue="corporate" nzLabel="Corporate"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="insured">Insured</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Please select insured">
                            <nz-select id="insured">
                                <nz-option nzLabel="Daniel"></nz-option>
                                <nz-option nzLabel="Chanaga"></nz-option>
                                <nz-option nzLabel="Joshua"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="subclass">Subclass</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Please select subclass">
                            <nz-select id="subclass">
                                <nz-option nzValue="credit_life_assurance" nzLabel="Credit Life Assurance"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="risk_id">Risk ID</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Please input your risk ID!">
                            <nz-input-group id="risk_id">
                                <input type="text" nz-input/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="period_rates">Period Rates</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Please select Period rates">
                            <nz-select id="period_rates">
                                <nz-option nzValue="prorated" nzLabel="Prorated"></nz-option>
                                <nz-option nzValue="short_period_rates" nzLabel="Short Period Rates"></nz-option>
                                <nz-option nzValue="full" nzLabel="Full"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="negotiated_premium">Premium</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Please input Negotiated Premium">
                            <nz-input-group id="negotiated_premium">
                                <input type="text" nz-input />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="cover_type">Cover Type</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Please select Cover Type">
                            <nz-select id="cover_type">
                                <nz-option nzValue="standard" nzLabel="Standard"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="column">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzFor="risk_description">Risk Desc</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-input-group id="risk_description">
                                <input type="text" nz-input />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="row">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="commission_rate">Commission Rate</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <nz-input-group id="commission_rate">
                            <input type="text" nz-input />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <nz-form-item>
                <nz-form-control [nzSpan]="14" [nzOffset]="5" style="text-align: center">
                    <button nz-button nzType="primary" routerLink="/create-quote/quotation-product-details">Back</button>
                    <button nz-button nzType="primary" routerLink="#">Proceed</button>
                </nz-form-control>
            </nz-form-item>
    </form>
</div>