table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 5px;
    text-align: left;
}
#text {
    text-align: center !important;
    padding-left: 40%;
}
.heading {
    text-align: center;
    font-weight: bold;
}
