<nz-spin [nzSize]="'large'" [nzSpinning]="isCreatingQuote" nzTip="Creating Quotation...">
    <!-- <h1>Create Quotation</h1> -->
    <div style="margin: 15px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                Quotes
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Create Quote
            </nz-breadcrumb-item>
        </nz-breadcrumb>

        <!-- Policy Details form starts here -->
        <form nz-form style="margin-top: 20px;" [formGroup]="quoteForm" novalidate>
            <nz-card nzTitle="Policy Details" style="margin-bottom: 5px;">
                <div nz-row nzGutter="0">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired>Client Name</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-select nzShowSearch nzAllowClear formControlName="client"
                                    nzPlaceHolder="Select or create client">
                                    <div *ngFor="let client of clients">
                                        <nz-option [nzValue]="
                                                client.clientType ===
                                                'Individual'
                                                    ? client
                                                    : client
                                            " [nzLabel]="
                                                client.clientType ===
                                                'Individual'
                                                    ? client.firstName +
                                                      ' ' +
                                                      client.lastName + ' ' + '(' + client.idNumber + ')'
                                                    : client.companyName + ' ' + '(' + client.registrationNumber + ')'
                                            "></nz-option>
                                    </div>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired>Currency</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-select formControlName="currency" nzPlaceHolder="Select currency">
                                    <nz-option nzValue="ZMW" nzLabel="ZMW"></nz-option>
                                    <nz-option nzValue="USD" nzLabel="USD"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzFor="sourceOfBusiness" nzRequired>Source Of Business
                            </nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-select name="sourceOfBusiness" formControlName="sourceOfBusiness"
                                    [(ngModel)]="selectedSourceOfBusiness" nzAllowClear
                                    nzPlaceHolder="Select source of Business">
                                    <nz-option *ngFor="
                                            let option of sourceOfBusinessOptions
                                        " [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <div *ngIf="selectedSourceOfBusiness === 'Broker'">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="intermediaryName" nzRequired>Broker
                                </nz-form-label>
                                <nz-form-control nzSpan="17">
                                    <nz-select name="intermediaryName" formControlName="intermediaryName" nzAllowClear
                                        nzPlaceHolder="Select broker">
                                        <nz-option *ngFor="let option of brokers" [nzValue]="option"
                                            [nzLabel]="option.companyName"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div *ngIf="selectedSourceOfBusiness === 'Agent'">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="intermediaryName" nzRequired>Agent
                                </nz-form-label>
                                <nz-form-control nzSpan="17">
                                    <nz-select name="intermediaryName" formControlName="intermediaryName" nzAllowClear
                                        nzPlaceHolder="Select agent">
                                        <nz-option *ngFor="let option of agents" [nzValue]="option"
                                            [nzLabel]="option.companyName"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div *ngIf="
                                selectedSourceOfBusiness ===
                                'SalesRepresentative'
                            ">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="intermediaryName" nzRequired>Sales Representative
                                </nz-form-label>
                                <nz-form-control nzSpan="17">
                                    <nz-select nzShowSearch nzAllowClear name="intermediaryName"
                                        formControlName="intermediaryName" nzAllowClear
                                        nzPlaceHolder="Select Sales Representative">
                                        <nz-option *ngFor="
                                                let option of salesRepresentatives
                                            " [nzValue]="
                                                option
                                            " [nzLabel]="
                                                option.contactFirstName +
                                                ' ' +
                                                option.contactLastName
                                            "></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzSpan="7">Start Date</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-date-picker formControlName="startDate" [nzDisabledDate]="disabledSubmissionDate"
                                    min="" nzFormat="dd-MM-yyyy" (ngModelChange)="
                                        handlePolicyEndDateCalculation()
                                    ">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>


                    <div nz-col nzSpan="12">
                        <div *ngIf="currentClassName?.toLocaleLowerCase() == 'motor'">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired>Quarters</nz-form-label>
                                <nz-form-control nzSpan="5">
                                    <nz-select formControlName="quarter" nzPlaceHolder="Select quarter" (ngModelChange)="
                                        handlePolicyEndDateCalculation()
                                    ">
                                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                                        <nz-option nzValue="2" nzLabel="2"></nz-option>
                                        <nz-option nzValue="3" nzLabel="3"></nz-option>
                                        <nz-option nzValue="4" nzLabel="4"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <nz-form-item>
                            <nz-form-label nzRequired nzSpan="7">End Date</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-date-picker formControlName="endDate" nzFormat="dd-MM-yyyy"
                                    (ngModelChange)="handleDatesCalculation()">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired nzSpan="7">Number of Days</nz-form-label>
                            <nz-form-control nzSpan="5">
                                <input nz-input formControlName="policyNumberOfDays" [disabled]="true" readonly />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>
        </form>
        <!-- Policy Details form ends here -->

        <!-- Risk Details starts here -->
        <nz-card nzTitle="Risk Details" style="margin-bottom: 5px;">
            <!-- Premium Computation starts here -->

            <h4>Premium Computation</h4>
            <div nz-row nzGutter="0" style="margin-top: 20px;">
                <div nz-col>
                    <nz-collapse>
                        <nz-collapse-panel nzHeader="Add Risk" [nzActive]="isAddRiskPanelOpen"
                            (nzActiveChange)="resetForms()">
                            <div nz-row nzGutter="0" style="margin-bottom: 30px;">
                                <div nz-col nzSpan="8"></div>
                                <div nz-col nzSpan="8"></div>
                                <div nz-col nzSpan="8" *ngIf="currentClassName == 'Motor'">
                                    <nz-form-item>
                                        <button nz-button nzType="primary" (click)="showModal()" style="float: right;">
                                            Import Fleet
                                        </button>
                                    </nz-form-item>
                                </div>
                            </div>

                            <!-- create quote component structure -->

                            <!-- unique risk details -->
                            <app-vehicle-details *ngIf="currentClassName == 'Motor'"></app-vehicle-details>
                            <app-property-details *ngIf="currentClassName == 'Fire'"></app-property-details>
                            <app-accident-product-details *ngIf="currentClassName == 'Accident'">
                            </app-accident-product-details>

                            <div style="margin-top: 15px;">
                                <nz-divider nzText="Premium Computation" nzOrientation="left">
                                </nz-divider>

                                <div nz-row>
                                    <div nz-col nzSpan="18">
                                        <!-- premium computation details -->
                                        <app-premium-computation-details *ngIf="currentClassName == 'Motor'">
                                        </app-premium-computation-details>
                                        <app-fire-premium-computation-details *ngIf="currentClassName == 'Fire'">
                                        </app-fire-premium-computation-details>
                                        <app-accident-premium-computation-details
                                            *ngIf="currentClassName == 'Accident'">
                                        </app-accident-premium-computation-details>
                                        <!-- end of premium computation details -->
                                    </div>

                                    <div nz-col nzSpan="6">
                                        <!-- TODO => combine premium computation and premium computation details components -->
                                        <!-- premium computation -->
                                        <app-premium-computation></app-premium-computation>
                                    </div>
                                </div>

                                <!-- <nz-divider nzOrientation="left">
                                </nz-divider> -->

                                <div nz-row nzGutter="0">
                                    <div nz-col nzSpan="16">

                                        <div nz-row nzGutter="0">
                                            <nz-divider nzText="Extensions" nzOrientation="left"></nz-divider>
                                            <div nz-col nzSpan="8">
                                                <!-- extensions starts here -->
                                                <app-extensions></app-extensions>
                                                <!-- </div> -->
                                            </div>

                                            <div nz-col nzSpan="16">
                                                <nz-card>
                                                    <!-- extensions view -->
                                                    <app-extensions-view></app-extensions-view>
                                                </nz-card>
                                            </div>
                                        </div>

                                        <div nz-row nzGutter="0">
                                            <nz-divider nzText="Discounts" nzOrientation="left"></nz-divider>
                                            <div nz-col nzSpan="8">
                                                <!-- Discount Starts here -->
                                                <app-discounts></app-discounts>
                                                <!-- Discount Ends here -->
                                            </div>
                                            <div nz-col nzSpan="16">
                                                <div style="margin-top: 5px;">
                                                    <nz-card>
                                                        <!-- discounts view -->
                                                        <app-discounts-view></app-discounts-view>
                                                    </nz-card>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="8">
                                        <div nz-col nzSpan="20" style="float: right;">
                                            <nz-card>
                                                <!-- totals view -->
                                                <app-totals-view></app-totals-view>
                                            </nz-card>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <nz-divider nzText="Schedule" nzOrientation="left"></nz-divider>

                            <div *ngIf="currentClassName == 'Motor'">
                                <div nz-row nzGutter="10">
                                    <div nz-col nzSpan="12">
                                        <nz-card>
                                            <!-- limits of liability -->
                                            <app-limits-of-liability></app-limits-of-liability>
                                        </nz-card>
                                    </div>

                                    <div nz-col nzSpan="12">
                                        <nz-card>
                                            <nz-divider nzText="Excesses" nzOrientation="left"></nz-divider>
                                            <!-- excesses -->
                                            <app-excesses></app-excesses>
                                        </nz-card>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="currentClassName == 'Fire'">
                                <nz-row>
                                    <div nz-col>
                                        <nz-card>
                                            <nz-divider nzText="Excesses" nzOrientation="left"></nz-divider>
                                            <!-- excesses -->
                                            <app-excesses></app-excesses>
                                        </nz-card>
                                    </div>
                                </nz-row>
                            </div>
                            <div *ngIf="currentClassName == 'Accident'">
                                <!-- fire class schedule -->
                                <app-schedule></app-schedule>
                            </div>

                            <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                                <button nz-button nzType="primary" (click)="addRisk()">
                                    Add Risk
                                </button>
                                <button nz-button nzType="default" (click)="resetRiskDetails()">
                                    Reset Form
                                </button>
                            </div>
                            <!-- ///////// -->
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>
            </div>

            <!-- Risks Table Search bar and Table details start here -->
            <div style="margin-bottom: 20px; margin-top: 20px; width: 25%;">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Search by client, quotation number, agent" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </div>
            <nz-table #risksTable [nzData]="risks" [nzSize]="'small'" [nzBordered]="true" id="risksTable">
                <thead>
                    <tr>
                        <th>Insurance Type</th>
                        <th>Product Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Sum Insured</th>
                        <th>Premium</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let risk of risksTable.data; let i = index" style="cursor: pointer;">
                        <td>{{ risk.insuranceType }}</td>
                        <td>{{ risk.productType }}</td>
                        <td>{{ risk.riskStartDate | date}}</td>
                        <td>{{ risk.riskEndDate | date}}</td>
                        <td>{{ risk.sumInsured | number }}</td>
                        <td>{{ risk.netPremium | number: '1.2-2' }}</td>
                        <td>
                            <button nz-button nzType="primary" (click)="viewRiskDetails(risk)">
                                View
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>

                            <button *ngIf="deleteRisk === isPresent?.name || admin === isPresent?.name" nz-button
                                nzType="danger" nz-popconfirm nzTitle="Delete Risk?" (nzOnConfirm)="removeRisk(risk)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <!-- <div *ngIf="!isTabletemplate">
                <nz-table [nzData]="risks" [nzSize]="'small'" [nzBordered]="true" id="risksTemplateTable">
                    <thead>
                        <tr>
                            <th>insuranceType</th>
                            <th>regNumber</th>
                            <th>vehicleMake</th>
                            <th>vehicleModel</th>
                            <th>engineNumber</th>
                            <th>chassisNumber</th>
                            <th>color</th>
                            <th>productType</th>
                            <th>SumInsured</th>
                            <th>netPremium</th>
                        </tr>
                    </thead>
                </nz-table>
            </div> -->
            <!--  Risks Table Search bar and Table details ends here -->
            <nz-divider></nz-divider>

            <!-- Clauses Start here-->
            <div style="margin-top: 10px;">
                <app-clauses (onClauseSelected)="clauseSelected($event)" (onWordingSelected)="wordingSelected($event)">
                </app-clauses>
            </div>

            <nz-divider></nz-divider>
            <!-- Warranties start here--->
            <!-- <div style="margin-top: 10px;">
                <app-warranties (onWarrantySelected)="warrantySelected($event)"
                    (onExclusionSelected)="exclusionSelected($event)"></app-warranties>
            </div> -->

            <!-- <nz-divider></nz-divider> -->
            <!--  start here--->
            <div style="margin-top: 10px;">
                <app-perils></app-perils>
            </div>
            <!-- Add quote and reset quote form buttons starts here -->
            <div style="
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 10px;
                ">
                <button nz-button nzType="primary" (click)="addQuote()" [disabled]="!quoteForm.valid">
                    Create Quote
                </button>
                <button nz-button nzType="default">Reset Form</button>
            </div>
            <!-- Add quote and reset quote form buttons ends here -->
        </nz-card>
        <!-- Risk Details ends here -->

        <!-- Risks Fleet upload modal starts here -->
        <app-fleet-upload></app-fleet-upload>
        <!-- Risks Fleet upload modal ends here -->

        <app-view-risk [isViewRiskModalVisible]="viewRiskModalVisible" (closeViewRiskModal)="viewRiskModalVisible=false"
            [riskData]="selectedRisk" (saveRiskEmitter)="saveRisk()">
        </app-view-risk>
    </div>

    <nz-modal [(nzVisible)]="isExtensionEditVisible" nzTitle="Edit Extension" (nzOnCancel)="handleEditExtensionCancel()"
        (nzOnOk)="handleEditExtensionOk()">
        <form nz-form [formGroup]="extensionForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Heading</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="extensionErrorTpl">
                    <input nz-input formControlName="heading" />
                    <ng-template #extensionErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input your clause heading!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">
                            The heading is redundant!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="extensionDescriptionErrorTpl">
                    <textarea formControlName="description" nz-input rows="5"></textarea>

                    <ng-template #extensionDescriptionErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input your description!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">
                            The details are redundant!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>
</nz-spin>