<!-- <h1>Create Quotation</h1> -->
<div style="margin: 15px">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            Quotes
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Create Quote
        </nz-breadcrumb-item>
    </nz-breadcrumb>
    <!-- <nz-card style="padding: 20px"> -->
    <form nz-form style="margin-top: 20px" [formGroup]="quoteForm" novalidate>
        <nz-card nzTitle="Client Details" style="margin-bottom: 5px;">
            <div nz-row nzGutter="0">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Client Name</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-select
                                formControlName="clientCode"
                                nzPlaceHolder="Select or create client"
                            >
                                <ng-container *ngFor="let client of clients">
                                    <nz-option
                                        *ngIf="
                                            client.clientType === 'Corporate'
                                        "
                                        [nzValue]="client.companyName"
                                        nzLabel="{{ client.companyName }}"
                                    ></nz-option>
                                    <nz-option
                                        *ngIf="
                                            client.clientType === 'Individual'
                                        "
                                        [nzValue]="client.firstName"
                                        nzLabel="{{ client.firstName }} {{
                                            client.lastName
                                        }}"
                                    ></nz-option>
                                </ng-container>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Currency</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-select
                                formControlName="currency"
                                nzPlaceHolder="Select currency"
                            >
                                <nz-option
                                    nzValue="ZMW"
                                    nzLabel="ZMW"
                                ></nz-option>
                                <nz-option
                                    nzValue="Dollar"
                                    nzLabel="Dollar"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzSpan="7"
                            >Select Start Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-date-picker
                                formControlName="startDate"
                                [nzDisabledDate]="disabledStartDate"
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                nzPlaceHolder="Start"
                                (nzOnOpenChange)="handleStartOpenChange($event)"
                            ></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzSpan="7"
                            >Select End Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-date-picker
                                formControlName="endDate"
                                [nzDisabledDate]="disabledEndDate"
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                nzPlaceHolder="End"
                                [nzOpen]="endOpen"
                                (nzOnOpenChange)="handleEndOpenChange($event)"
                            >
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-card>
        <nz-card nzTitle="Quotation Details" style="margin-bottom: 5px;">
            <div nz-row nzGutter="0">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Binding Type</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-select
                                nzPlaceHolder="Select binding type"
                            ></nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Binding</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-select
                                nzPlaceHolder="Select binding"
                            ></nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-card>
    </form>

    <nz-card nzTitle="Risk Details" style="margin-bottom: 5px;">
        <div nz-row nzGutter="0">
            <!-- <div *ngFor="let control of listOfControl; let i = index"> -->
            <nz-collapse>
                <nz-collapse-panel nzHeader="Add Risks">
                    <div nz-row nzGutter="0">
                        <div>
                            <nz-form-item>
                                <nz-form-label
                                    [nzSpan]="6"
                                    nzFor="insuranceType"
                                    nzRequired
                                    >Insurance Type</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <nz-select
                                        name="insuranceType"
                                        [(ngModel)]="selectedValue"
                                        [compareWith]="compareFn"
                                        (ngModelChange)="log($event)"
                                        nzAllowClear
                                        nzPlaceHolder="Choose"
                                    >
                                        <nz-option
                                            *ngFor="let option of optionList"
                                            [nzValue]="option"
                                            [nzLabel]="option.label"
                                        ></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div *ngIf="selectedValue?.value === 'Comprehensive'">
                        <form [formGroup]="riskComprehensiveForm" novalidate>
                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="vehicleMake"
                                            nzRequired
                                            >Vehicle Make</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="vehicleMake"
                                                formControlName="vehicleMake"
                                                type="text"
                                                id="vehicleMake"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="vehicleModel"
                                            nzRequired
                                            >Vehicle Model</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="vehicleModel"
                                                formControlName="vehicleModel"
                                                type="text"
                                                id="vehicleModel"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="registrationNumber"
                                            nzRequired
                                            >Registration Number</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="registrationNumber"
                                                formControlName="registrationNumber"
                                                type="text"
                                                id="registrationNumber"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="engineNumber"
                                            nzRequired
                                            >Engine Number</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="engineNumber"
                                                formControlName="engineNumber"
                                                type="text"
                                                id="engineNumber"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="color"
                                            nzRequired
                                            >Color</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="color"
                                                formControlName="color"
                                                type="text"
                                                id="color"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="productType"
                                            >Product Type</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <nz-select
                                                nzShowSearch
                                                nzAllowClear
                                                formControlName="productType"
                                                nzPlaceHolder="Select a product type"
                                                name="productType"
                                                id="productType"
                                            >
                                                <nz-option
                                                    nzLabel="Private"
                                                    nzValue="Private"
                                                ></nz-option>
                                                <nz-option
                                                    nzLabel="Commercial"
                                                    nzValue="Commercial"
                                                ></nz-option>
                                                <nz-option
                                                    nzLabel="Bus/Taxi"
                                                    nzValue="Bus/Taxi"
                                                ></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="chasisNumber"
                                            nzRequired
                                            >Chasis Number</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="chasisNumber"
                                                formControlName="chasisNumber"
                                                type="text"
                                                id="chasisNumber"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="estimatedValue"
                                            nzRequired
                                            >Estimated Value</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="estimatedValue"
                                                formControlName="estimatedValue"
                                                type="text"
                                                id="estimatedValue"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div
                                style="text-align: center; margin-top: 10px; margin-bottom: 10px;"
                            >
                                <button
                                    nz-button
                                    nzType="primary"
                                    (click)="addComprehensiveRisk()"
                                >
                                    Add Risk
                                </button>
                                <button nz-button nzType="default" type>
                                    Reset Form
                                </button>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="selectedValue?.value === 'ThirdParty'">
                        <form [formGroup]="riskThirdPartyForm" novalidate>
                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="vehicleMake"
                                            nzRequired
                                            >Vehicle Make</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="vehicleMake"
                                                formControlName="vehicleMake"
                                                type="text"
                                                id="vehicleMake"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="vehicleModel"
                                            nzRequired
                                            >Vehicle Model</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="vehicleModel"
                                                formControlName="vehicleModel"
                                                type="text"
                                                id="vehicleModel"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="registrationNumber"
                                            nzRequired
                                            >Registration Number</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="registrationNumber"
                                                formControlName="registrationNumber"
                                                type="text"
                                                id="registrationNumber"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="engineNumber"
                                            nzRequired
                                            >Engine Number</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="engineNumber"
                                                formControlName="engineNumber"
                                                type="text"
                                                id="engineNumber"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="color"
                                            nzRequired
                                            >Color</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="color"
                                                formControlName="color"
                                                type="text"
                                                id="color"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="productType"
                                            >Product Type</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <nz-select
                                                nzShowSearch
                                                nzAllowClear
                                                formControlName="productType"
                                                nzPlaceHolder="Select a product type"
                                                name="productType"
                                                id="productType"
                                            >
                                                <nz-option
                                                    nzLabel="Private"
                                                    nzValue="Private"
                                                ></nz-option>
                                                <nz-option
                                                    nzLabel="Commercial"
                                                    nzValue="Commercial"
                                                ></nz-option>
                                                <nz-option
                                                    nzLabel="Bus/Taxi"
                                                    nzValue="Bus/Taxi"
                                                ></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row nzGutter="0">
                                <div nz-col nzSpan="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="7"
                                            nzFor="chasisNumber"
                                            nzRequired
                                            >Chasis Number</nz-form-label
                                        >
                                        <nz-form-control nzSpan="17">
                                            <input
                                                nz-input
                                                name="chasisNumber"
                                                formControlName="chasisNumber"
                                                type="text"
                                                id="chasisNumber"
                                            />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div
                                style="text-align: center; margin-top: 10px; margin-bottom: 10px;"
                            >
                                <button
                                    nz-button
                                    nzType="primary"
                                    (click)="addThirdPartyRisk()"
                                >
                                    Add Risk
                                </button>
                                <button nz-button nzType="default" type>
                                    Reset Form
                                </button>
                            </div>
                        </form>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
            <!-- <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i> -->
        </div>
        <!-- <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
            <i nz-icon nzType="plus"></i>
            Add field
          </button>

           <nz-card> -->

        <div style="margin-bottom: 20px; margin-top: 20px; width: 50%">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                    type="text"
                    nz-input
                    placeholder="Search by client, quotation number, agent"
                />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <nz-table
            #risksTable
            [nzData]="risks"
            [nzSize]="'small'"
            [nzBordered]="true"
        >
            <thead>
                <tr>
                    <th>Insurance Type</th>
                    <th>Registration Number</th>
                    <th>Vehicle Make</th>
                    <th>Vehicle Model</th>
                    <th>Engine Number</th>
                    <th>Chasis Number</th>
                    <th>Color</th>
                    <th>Product Type</th>
                    <th>Estimated Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let risk of risksTable.data">
                    <td>{{ risk.insuranceType }}</td>
                    <td>{{ risk.registrationNumber }}</td>
                    <td>{{ risk.vehicleMake }}</td>
                    <td>{{ risk.vehicleModel }}</td>
                    <td>{{ risk.engineNumber }}</td>
                    <td>{{ risk.chasisNumber }}</td>
                    <td>{{ risk.color }}</td>
                    <td>{{ risk.productType }}</td>
                    <td>{{ risk.estimatedValue }}</td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
    <!-- </nz-card> -->
    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
        <button nz-button nzType="primary" (click)="addQuote()">
            Create Quote
        </button>
        <button nz-button nzType="default">Reset Form</button>
    </div>
</div>
