<div style="margin: 15px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item
            (click)="goToClientsList()"
            style="cursor: pointer;"
        >
            Clients
        </nz-breadcrumb-item>
        <nz-breadcrumb-item
            (click)="goToClientsList()"
            style="cursor: pointer;"
        >
            Clients List
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Client Details
        </nz-breadcrumb-item>
        <nz-page-header
            (nzBack)="goToClientsList()"
            nzBackIcon
            nzTitle="Client ID: {{ client ? client.clientID : '-' }}"
            [nzSubtitle]="
                client
                    ? client.clientType === 'Individual'
                        ? client.firstName + ' ' + client.lastName
                        : client.companyName
                    : '-'
            "
        >
            <nz-page-header-extra>
                <button
                    *ngIf="isEditmode"
                    nz-button
                    nzType="primary"
                    (click)="saveDetails()"
                >
                    Save Changes
                </button>
                <button
                    *ngIf="!isEditmode"
                    nz-button
                    nzType="primary"
                    (click)="isEditmode = true"
                >
                    Edit Client
                </button>
            </nz-page-header-extra>
        </nz-page-header>
    </nz-breadcrumb>
    <div class="client-personal-details" style="margin-top: 20px;">
        <div *ngIf="client ? client.clientType == 'Individual' : '-'">
            <nz-card>
                <nz-divider
                    nzText="Personal Details"
                    nzOrientation="left"
                ></nz-divider>
                <form nz-form [formGroup]="individualClientForm">
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >First Name</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    [nzErrorTip]="perFirstNameErrorTpl"
                                >
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.firstName"
                                        formControlName="firstName"
                                        [disabled]="!isEditmode"
                                    />
                                    <ng-template
                                        #perFirstNameErrorTpl
                                        let-control
                                    >
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input First Name!
                                        </ng-container>
                                        <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Last Name</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    [nzErrorTip]="lastNameErrorTp1"
                                >
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.lastName"
                                        [disabled]="!isEditmode"
                                        formControlName="lastName"
                                    />
                                    <ng-template #lastNameErrorTp1 let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Last Name!
                                        </ng-container>
                                        <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Title</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <nz-select
                                        formControlName="title"
                                        nzPlaceHolder="{{ client.title }}"
                                        [nzDisabled]="!isEditmode"
                                    >
                                        <nz-option
                                            nzLabel="Mr"
                                            nzValue="mr"
                                        ></nz-option>
                                        <nz-option
                                            nzLabel="Mrs"
                                            nzValue="mrs"
                                        ></nz-option>
                                        <nz-option
                                            nzLabel="Miss"
                                            nzValue="miss"
                                        ></nz-option>
                                        <nz-option
                                            nzLabel="Dr"
                                            nzValue="dr"
                                        ></nz-option>
                                        <nz-option
                                            nzLabel="Prof"
                                            nzValue="prof"
                                        ></nz-option
                                    ></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7">email</nz-form-label>
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.email"
                                        [disabled]="!isEditmode"
                                        formControlName="email"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7"
                                    >Date of Birth</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <!-- <input
                                    formControlName="dateOfBirth"
                                        nz-input
                                        [disabled]="!isEditmode"
                                    /> -->
                                    <nz-date-picker
                                        formControlName="dateOfBirth"
                                        nzFormat="dd-MM-yyyy"
                                        [nzDisabled]="!isEditmode"
                                        [nzDisabled]="!isEditmode"
                                    ></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Address</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    nzHasFeedback
                                    [nzErrorTip]="addressErrorTpl"
                                >
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.address"
                                        [disabled]="!isEditmode"
                                        formControlName="address"
                                    />
                                    <ng-template #addressErrorTpl let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input your Address!
                                        </ng-container>
                                        <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Phone</nz-form-label
                                >
                                <nz-form-control
                                    [nzErrorTip]="phoneErrorTpl"
                                    nzSpan="17"
                                >
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.phone"
                                        [disabled]="!isEditmode"
                                        formControlName="phone"
                                        maxlength="13"
                                    />
                                    <ng-template #phoneErrorTpl let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input your Phone!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Gender</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <nz-select
                                        nzPlaceHolder="{{ client.gender }}"
                                        [nzDisabled]="!isEditmode"
                                        formControlName="gender"
                                    >
                                        <nz-option
                                            nzLabel="Male"
                                            nzValue="male"
                                        ></nz-option>
                                        <nz-option
                                            nzLabel="Female"
                                            nzValue="female"
                                        ></nz-option
                                    ></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Identfication Type</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <nz-select
                                        nzPlaceHolder="{{ client.idType }}"
                                        [nzDisabled]="!isEditmode"
                                        formControlName="idType"
                                    >
                                        <nz-option
                                            nzLabel="NRC"
                                            nzValue="nrc"
                                        ></nz-option>
                                        <nz-option
                                            nzLabel="Passport"
                                            nzValue="passport"
                                        ></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Identfication No.</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    nzHasFeedback
                                    [nzErrorTip]="idNumberErrorTpl"
                                >
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.idNumber"
                                        [disabled]="!isEditmode"
                                        formControlName="idNumber"
                                    />
                                    <ng-template #idNumberErrorTpl let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input your ID Number!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            The ID Number is already taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </nz-card>

            <nz-card>
                <form nz-form [formGroup]="occupationDetailsForm">
                    <nz-divider
                        nzText="Occupation Details"
                        nzOrientation="left"
                    ></nz-divider>

                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7"
                                    >Occupation</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    [nzErrorTip]="occupationErrorTpl"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="client.occupation"
                                        [disabled]="!isEditmode"
                                        formControlName="occupation"
                                    />
                                    <ng-template
                                        #occupationErrorTpl
                                        let-control
                                    >
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Occupation!
                                        </ng-container>
                                        <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired>Sector</nz-form-label>
                                <nz-form-control nzSpan="17">
                                    <nz-select nzPlaceHolder="{{client.sectorID}}" [nzDisabled]="!isEditmode"></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div> -->
                    </div>
                </form>
            </nz-card>
        </div>

        <div *ngIf="client.clientType === 'Corporate'">
            <nz-card>
                <nz-divider
                    nzText="Company Details"
                    nzOrientation="left"
                ></nz-divider>
                <form nz-form [formGroup]="corporateClientForm">
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Company Name</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    [nzErrorTip]="companyNameErrorTpl"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="client.companyName"
                                        [disabled]="!isEditmode"
                                        formControlName="companyName"
                                    />
                                    <ng-template
                                        #companyNameErrorTpl
                                        let-control
                                    >
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Company Name!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            This Name is already taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Registration Number</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.taxPin"
                                        [disabled]="!isEditmode"
                                        formControlName="taxPin"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Sector</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    [nzErrorTip]="sectorErrorTpl"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="client.sector"
                                        [disabled]="!isEditmode"
                                        formControlName="sector"
                                    />
                                    <ng-template #sectorErrorTpl let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Client Sector!
                                        </ng-container>
                                        <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Tpin Number</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    [nzErrorTip]="taxPinErrorTpl"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="client.taxPin"
                                        [disabled]="!isEditmode"
                                        formControlName="taxPin"
                                    />
                                    <ng-template #taxPinErrorTpl let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Tpin!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Phone</nz-form-label
                                >
                                <nz-form-control
                                    nzSpan="17"
                                    [nzErrorTip]="phoneErrorTpl"
                                >
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.phone"
                                        [disabled]="!isEditmode"
                                        formControlName="phone"
                                    />
                                    <ng-template #phoneErrorTpl let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Phone Number!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Address</nz-form-label
                                >
                                <ng-template #addressErrorTpl let-control>
                                    <ng-container
                                        *ngIf="control.hasError('required')"
                                    >
                                        Please input your Address!
                                    </ng-container>
                                    <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                </ng-template>
                                <nz-form-control
                                    nzSpan="17"
                                    nzHasFeedback
                                    [nzErrorTip]="addressErrorTpl"
                                >
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.address"
                                        [disabled]="!isEditmode"
                                        formControlName="address"
                                    />
                                    <ng-template #addressErrorTpl let-control>
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input your Address!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Email</nz-form-label
                                >
                                <nz-form-control
                                    [nzErrorTip]="contactEmailErrorTpl"
                                    nzSpan="17"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="client.contactEmail"
                                        [disabled]="!isEditmode"
                                        formControlName="contactEmail"
                                    />
                                    <ng-template
                                        #contactEmailErrorTpl
                                        let-control
                                    >
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Contact Email!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is Email taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </nz-card>

            <nz-card>
                <nz-divider
                    nzText="Contact Person Details"
                    nzOrientation="left"
                ></nz-divider>
                <form nz-form>
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >First Name</nz-form-label
                                >
                                <nz-form-control
                                    [nzErrorTip]="cnttFirstNameErrorTpl"
                                    nzSpan="17"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="
                                            client.contactFirstName
                                        "
                                        [disabled]="!isEditmode"
                                        formControlName="contactFirstName"
                                    />
                                    <ng-template
                                        #cnttFirstNameErrorTpl
                                        let-control
                                    >
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Contact First Name!
                                        </ng-container>
                                        <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Email</nz-form-label
                                >
                                <nz-form-control
                                    [nzErrorTip]="contactEmailErrorTpl"
                                    nzSpan="17"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="client.contactEmail"
                                        [disabled]="!isEditmode"
                                        formControlName="contactEmail"
                                    />
                                    <ng-template
                                        #contactEmailErrorTpl
                                        let-control
                                    >
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Contact Email!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Email is already taken!
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Last Name</nz-form-label
                                >
                                <nz-form-control
                                    [nzErrorTip]="contactLastNameErrorTpl"
                                    nzSpan="17"
                                >
                                    <input
                                        nz-input
                                        [(placeholder)]="client.contactLastName"
                                        [disabled]="!isEditmode"
                                        formControlName="contactLastName"
                                    />
                                    <ng-template
                                        #contactLastNameErrorTpl
                                        let-control
                                    >
                                        <ng-container
                                            *ngIf="control.hasError('required')"
                                        >
                                            Please input Contact Last Name!
                                        </ng-container>
                                        <!-- <ng-container
                                            *ngIf="
                                                control.hasError('duplicated')
                                            "
                                        >
                                            Adress is already taken!
                                        </ng-container> -->
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </nz-card>
        </div>

        <nz-card>
            <nz-divider nzText="Bank Details" nzOrientation="left"></nz-divider>

            <form nz-form [formGroup]="bankDetailsForm">
                <div nz-row nzGutter="0">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="6"
                                >Account Name</nz-form-label
                            >
                            <nz-form-control nzSpan="18">
                                <input
                                    nz-input
                                    [(placeholder)]="client.accountName"
                                    [disabled]="!isEditmode"
                                    formControlName="accountName"
                                />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="6"
                                >Account Number</nz-form-label
                            >
                            <nz-form-control nzSpan="18">
                                <input
                                    nz-input
                                    [(placeholder)]="client.accountNumber"
                                    [disabled]="!isEditmode"
                                    formControlName="accountNumber"
                                />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Bank</nz-form-label>
                            <nz-form-control nzSpan="16">
                                <nz-select
                                    [nzPlaceHolder]="client.bank"
                                    [nzDisabled]="!isEditmode"
                                    (ngModelChange)="bankChange($event)"
                                    name="bank"
                                    id="bank"
                                    formControlName="bank"
                                    ><nz-option
                                        *ngFor="let bank of bankList"
                                        nzValue="{{ bank.id }}"
                                        nzLabel="{{ bank.bank_name }}"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Branch</nz-form-label>
                            <nz-form-control nzSpan="16">
                                <nz-select
                                    [nzPlaceHolder]="client.branch"
                                    (ngModelChange)="bankChange($event)"
                                    name="branch"
                                    id="branch"
                                    formControlName="branch"
                                    ><nz-option
                                        *ngFor="let branch of branchList"
                                        nzValue="{{ branch.id }}"
                                        nzLabel="{{ branch.branch_name }}"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
    </div>
    <div class="policies">
        <nz-card>
            <nz-divider
                nzText="Client's Policies"
                nzOrientation="left"
            ></nz-divider>
            <nz-table
                #policiesTable
                [nzData]="ploicyList"
                [nzSize]="'small'"
                [nzBordered]="true"
                [nzPageSize]="3"
            >
                <thead>
                    <tr>
                        <th>Policy Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of policiesTable.data"
                        (click)="viewPolicyDetails(data.id)"
                        style="cursor: pointer;"
                    >
                        <td>{{ data.policyNumber }}</td>
                        <td>{{ data.startDate | date }}</td>
                        <td>{{ data.endDate | date }}</td>
                        <td>{{ data.status }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
    <div class="claims">
        <nz-card>
            <nz-divider
                nzText="Client's Claims"
                nzOrientation="left"
            ></nz-divider>
            <nz-table
                #claimsData
                [nzData]="clientClaims"
                [nzSize]="'small'"
                [nzBordered]="true"
                [nzPageSize]="3"
            >
                <thead>
                    <tr>
                        <th>Claim Id</th>
                        <th>Risk Id</th>
                        <th>Policy Number</th>
                        <th>Loss Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of claimsData.data"
                        (click)="viewClaimDetails()"
                        style="cursor: pointer;"
                    >
                        <td>{{ data.claimId }}</td>
                        <td>{{ data.riskId }}</td>
                        <td>{{ data.policyNumber }}</td>
                        <td>{{ data.lossDate | date }}</td>
                        <td>{{ data.status }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
