<div style="margin: 15px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item
            (click)="goToClientsList()"
            style="cursor: pointer;"
        >
            Clients
        </nz-breadcrumb-item>
        <nz-breadcrumb-item
            (click)="goToClientsList()"
            style="cursor: pointer;"
        >
            Clients List
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Client Details
        </nz-breadcrumb-item>
        <nz-page-header
            (nzBack)="goToClientsList()"
            nzBackIcon
            nzTitle="{{
            client.clientType === 'Individual'
            ? client.firstName + ' ' + client.lastName
            : client.companyName }}"
        >
            <nz-page-header-extra>
                <button
                    *ngIf="isEditmode"
                    nz-button
                    nzType="primary"
                    (click)="isEditmode = false"
                >
                    Save Changes
                </button>
                <button
                    *ngIf="!isEditmode"
                    nz-button
                    nzType="primary"
                    (click)="isEditmode = true"
                >
                    Edit Client
                </button>
            </nz-page-header-extra>
        </nz-page-header>
    </nz-breadcrumb>
    <div class="client-personal-details" style="margin-top: 20px;">
        <div *ngIf="client.clientType == 'Individual'">
            <nz-card>
                <nz-divider
                    nzText="Personal Details"
                    nzOrientation="left"
                ></nz-divider>
                <form nz-form [formGroup]="individualClientForm">
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >First Name</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.firstName"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Last Name</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.lastName"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Title</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <nz-select
                                        nzPlaceHolder="{{ client.title }}"
                                        [nzDisabled]="!isEditmode"
                                    ></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >email</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.email"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Date of Birth</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <!-- <input
                                    formControlName="dateOfBirth"
                                        nz-input
                                        [disabled]="!isEditmode"
                                    /> -->
                                    <nz-date-picker formControlName="dateOfBirth" nzFormat="dd-MM-yyyy" [nzDisabled]="!isEditmode"
                                [nzDisabled]="!isEditmode"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Address</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.address"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Phone</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.phoneNumber"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Gender</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <nz-select
                                        nzPlaceHolder="{{ client.gender }}"
                                        [nzDisabled]="!isEditmode"
                                    ></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Identfication Type</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <nz-select
                                        nzPlaceHolder="{{ client.idType }}"
                                        [nzDisabled]="!isEditmode"
                                    ></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Identfication No.</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.phoneNumber"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </nz-card>

            <nz-card>
                <nz-divider
                    nzText="Occupation Details"
                    nzOrientation="left"
                ></nz-divider>
                <form nz-form>
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Occupation</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.occupation"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired>Sector</nz-form-label>
                                <nz-form-control nzSpan="17">
                                    <nz-select nzPlaceHolder="{{client.sectorID}}" [nzDisabled]="!isEditmode"></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div> -->
                    </div>
                </form>
            </nz-card>
        </div>

        <div *ngIf="client.clientType === 'Corporate'">
            <nz-card>
                <nz-divider
                    nzText="Company Details"
                    nzOrientation="left"
                ></nz-divider>
                <form nz-form [formGroup]="corporateClientForm">
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Company Name</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.companyName"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Registration Number</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.tpinNumber"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Sector</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.sector"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Tpin Number</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.tpinNumber"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Phone</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.phoneNumber"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Address</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                                    <input
                                        nz-input
                                        [(placeholder)]="client.address"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Email</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.contactEmail"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </nz-card>

            <nz-card>
                <nz-divider
                    nzText="Contact Person Details"
                    nzOrientation="left"
                ></nz-divider>
                <form nz-form>
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >First Name</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="
                                            client.firstName
                                        "
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Email</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <input
                                        nz-input
                                        [(placeholder)]="client.contactEmail"
                                        [disabled]="!isEditmode"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzSpan="7" nzRequired
                                    >Last Name</nz-form-label
                                >
                                <nz-form-control nzSpan="17">
                                    <nz-select
                                        nzPlaceHolder="{{
                                            client.lastName
                                        }}"
                                        [nzDisabled]="!isEditmode"
                                    ></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </nz-card>
        </div>

        <nz-card>
            <nz-divider nzText="Bank Details" nzOrientation="left"></nz-divider>
            <form nz-form>
                <div nz-row nzGutter="0">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="6" nzRequired
                                >Account Name</nz-form-label
                            >
                            <nz-form-control nzSpan="18">
                                <input
                                    nz-input
                                    [(placeholder)]="clientAccountDetails.accountName"
                                    [disabled]="!isEditmode"
                                />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="6" nzRequired
                                >Account Number</nz-form-label
                            >
                            <nz-form-control nzSpan="18">
                                <input
                                    nz-input
                                    [(placeholder)]="clientAccountDetails.accountNumber"
                                    [disabled]="!isEditmode"
                                />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired
                                >Bank</nz-form-label
                            >
                            <nz-form-control nzSpan="16">
                                <nz-select
                                    [nzPlaceHolder]="clientAccountDetails.bank"
                                    [nzDisabled]="!isEditmode"
                                ></nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired
                                >Branch</nz-form-label
                            >
                            <nz-form-control nzSpan="16">
                                <nz-select
                                    [nzPlaceHolder]="clientAccountDetails.branch"
                                    [nzDisabled]="!isEditmode"
                                ></nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
    </div>
    <div class="policies">
        <nz-card>
            <nz-divider
                nzText="Client's Policies"
                nzOrientation="left"
            ></nz-divider>
            <nz-table
                #policiesTable
                [nzData]="clientPolicies"
                [nzSize]="'small'"
                [nzBordered]="true"
                [nzPageSize]="3"
            >
                <thead>
                    <tr>
                        <th>Policy Number</th>
                        <th>Product</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Insurer</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of policiesTable.data"
                        (click)="viewPolicyDetails()"
                        style="cursor: pointer;"
                    >
                        <td>{{ data.policyNumber }}</td>
                        <td>{{ data.product }}</td>
                        <td>{{ data.startDate | date }}</td>
                        <td>{{ data.endDate | date }}</td>
                        <td>{{ data.insuranceCompany }}</td>
                        <td>{{ data.status }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
    <div class="claims">
        <nz-card>
            <nz-divider
                nzText="Client's Claims"
                nzOrientation="left"
            ></nz-divider>
            <nz-table
                #claimsData
                [nzData]="clientClaims"
                [nzSize]="'small'"
                [nzBordered]="true"
                [nzPageSize]="3"
            >
                <thead>
                    <tr>
                        <th>Claim Id</th>
                        <th>Risk Id</th>
                        <th>Policy Number</th>
                        <th>Loss Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of claimsData.data"
                        (click)="viewClaimDetails()"
                        style="cursor: pointer;"
                    >
                        <td>{{ data.claimId }}</td>
                        <td>{{ data.id }}</td>
                        <td>{{ data.policyNumber }}</td>
                        <td>{{ data.lossDate | date }}</td>
                        <td>{{ data.status }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>