<div>
    <nz-divider
        nzText="Corporate Bank Details"
        nzOrientation="left"
    ></nz-divider>

    <form
        nz-form
        [formGroup]="bankDetailsForm"
        novalidate
        (ngSubmit)="onSubmit()"
    >
        <div nz-row>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="accountName"
                        >Account Name</nz-form-label
                    >
                    <nz-form-control [nzSpan]="18">
                        <input
                            nz-input
                            formControlName="accountName"
                            name="accountName"
                            type="text"
                            id="accountName"
                            placeholder="Account Name"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="accountNumber"
                        >Account No.</nz-form-label
                    >
                    <nz-form-control [nzSpan]="18">
                        <input
                            nz-input
                            formControlName="accountNumber"
                            name="accountNumber"
                            type="number"
                            id="accountNumber"
                            placeholder="Account Number"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="accountType"
                        >Account Type</nz-form-label
                    >
                    <nz-form-control [nzSpan]="18">
                        <nz-select
                            formControlName="accountType"
                            nzShowSearch
                            nzAllowClear
                            placeholder="Account Type"
                        >
                            <nz-option nzLabel="ZMW" nzValue="zmw"></nz-option>
                            <nz-option
                                nzLabel="Dollar"
                                nzValue="dollar"
                            ></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="bank"
                        >Bank</nz-form-label
                    >
                    <nz-form-control [nzSpan]="18">
                        <input
                            nz-input
                            formControlName="bank"
                            name="bank"
                            type="text"
                            id="bank"
                            placeholder="Bank"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="branch"
                        >Branch</nz-form-label
                    >
                    <nz-form-control [nzSpan]="18">
                        <input
                            nz-input
                            formControlName="branch"
                            name="branch"
                            id="branch"
                            placeholder="Branch"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="14" [nzOffset]="10">
                <button nz-button nzType="primary" style="float: right;">
                    Save
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
