<div style="margin: 20px;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      Claims
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Claims Transactions
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div>
    <div style="margin-bottom: 20px; margin-top: 20px; background: #fff;">
      <nz-page-header>
        <nz-page-header-title>Claims</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button routerLink="/flosure/claims/intimate-claims" nzType="primary">Intimate Claim</button>
        </nz-page-header-extra>
        <nz-page-header-content>
          <nz-row [nzGutter]="1">
            <nz-col [nzSpan]="9">
              <nz-statistic [nzValueTemplate]="claimsStats" [nzTitle]="'Total Claims'"></nz-statistic>
            </nz-col>
            <!-- <nz-col [nzSpan]="6">
                <nz-statistic [nzValue]="2019 | number " [nzTitle]="'Individual Clients'"></nz-statistic>
              </nz-col> -->
            <nz-col [nzSpan]="9">
              <nz-statistic [nzValueTemplate]="claimsStats" [nzTitle]="'Claimants'"></nz-statistic>
            </nz-col>
          </nz-row>
        </nz-page-header-content>
      </nz-page-header>
    </div>
  </div>
  <nz-card>
    <nz-card>
      <div style="margin-bottom: 10px; width: 50%">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Search by Client, ClaimID, Policy Number, Status"
            [(ngModel)]="searchString" (ngModelChange)="search($event)" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <nz-table #claimsTable [nzData]="displayClaimsList" nzSize="small">
        <thead>
          <tr>
            <th [nzAlign]="columnAlignment">Claim Number</th>
            <th [nzAlign]="columnAlignment">Client</th>
            <th [nzAlign]="columnAlignment">Claimant</th>
            <th [nzAlign]="columnAlignment">Claimant Type</th>
            <th [nzAlign]="columnAlignment">Policy Number</th>
            <th [nzAlign]="columnAlignment">Loss Date</th>
            <th [nzAlign]="columnAlignment">Notification Date</th>
            <th [nzAlign]="columnAlignment">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let claim of claimsTable.data" (click)="viewClaimDetails(claim)" style="cursor: pointer;">
            <td [nzAlign]="columnAlignment">{{claim.claimNumber}}</td>
            <td [nzAlign]="columnAlignment">
              {{claim.client.clientType == 'Individual' ? (claim.client.firstName + ' ' + claim.client.lastName) : claim.client.companyName}}
            </td>
            <td [nzAlign]="columnAlignment">{{claim.claimant.firstName + ' ' + claim.claimant.lastName}}
            </td>
            <td [nzAlign]="columnAlignment">{{claim.claimant.type}}</td>
            <td [nzAlign]="columnAlignment">{{claim.policy.policyNumber}}</td>
            <td [nzAlign]="columnAlignment">{{claim.lossDate | date}}</td>
            <td [nzAlign]="columnAlignment">{{claim.notificationDate | date}}</td>
            <td [nzAlign]="columnAlignment">{{claim.claimStatus}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-card>
</div>

<ng-template #claimsStats>
  <div *ngIf="claimsLoading">
    <nz-spin nzSimple></nz-spin>
  </div>
  <div *ngIf="!claimsLoading">
    {{claimsCount | number}}
  </div>
</ng-template>