<nz-spin
    [nzSize]="'large'"
    [nzSpinning]="approvingQuote"
    [nzTip]="'Approving Quote...'"
>
    <div style="margin: 15px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                Quotes
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Quotes List
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Quote Details
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-page-header nzBackIcon [nzTitle]="title">
            <ng-template #title>
                <div style="display: flex; align-items: center;">
                    <span style="margin-right: 8px;"
                        >Quote Number: {{ quote.quoteNumber }}</span
                    >
                    <nz-tag [nzColor]="isQuoteApproved ? 'blue' : 'orange'">
                        {{ isQuoteApproved ? 'Approved' : 'Pending Approval' }}
                    </nz-tag>
                </div>
            </ng-template>
            <nz-page-header-extra>
                <button
                    nz-button
                    nzType="primary"
                    (click)="generateDocuments()"
                >
                    {{ isQuoteApproved ? 'Receipt' : 'Approve' }}
                </button>
                <button
                    *ngIf="!isEditmode && !isQuoteApproved"
                    nz-button
                    nzType="primary"
                    (click)="isEditmode = true"
                >
                    Edit Policy
                </button>
                <button
                    *ngIf="isEditmode"
                    nz-button
                    nzType="primary"
                    (click)="isEditmode = false"
                >
                    Save Changes
                </button>
            </nz-page-header-extra>
        </nz-page-header>
        <nz-card>
            <nz-divider
                nzText="Quote Details"
                nzOrientation="left"
            ></nz-divider>
            <form nz-form [formGroup]="quoteDetailsForm">
                <div nz-row nzGutter="0">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired
                                >Client Name</nz-form-label
                            >
                            <nz-form-control nzSpan="17">
                                <input
                                    nz-input
                                    [disabled]="!isEditmode"
                                    [ngModel]="quote.clientCode"
                                    formControlName="client"
                                />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired
                                >Currency</nz-form-label
                            >
                            <nz-form-control nzSpan="17">
                                <nz-select
                                    [nzDisabled]="!isEditmode"
                                    formControlName="currency"
                                    [ngModel]="quote.currency"
                                >
                                    <nz-option
                                        nzValue="ZMW"
                                        nzLabel="ZMW"
                                    ></nz-option>
                                    <nz-option
                                        nzValue="Dollar"
                                        nzLabel="Dollar"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired nzSpan="7"
                                >Town</nz-form-label
                            >
                            <nz-form-control nzSpan="17">
                                <input nz-input [disabled]="!isEditmode" formControlName="town" [ngModel]="quote.town"/>
                            </nz-form-control>
                        </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired>Start Date</nz-form-label>
                        <nz-form-control nzSpan="17">
                            <input nz-input [disabled]="!isEditmode" formControlName="startDate" [value]="getTimeStamp(quote) * 1000 | date"/>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired>End Date</nz-form-label>
                        <nz-form-control nzSpan="17">
                            <input nz-input [disabled]="!isEditmode" formControlName="endDate" [value]="
                            getEndDateTimeStamp(quote) * 1000 | date
                        "/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
    <nz-card>
        <nz-divider nzText="Risk Details" nzOrientation="left"></nz-divider>
        <div style="margin-bottom: 20px; margin-top: 20px">
            <div style="margin-bottom: 20px; margin-top: 20px; width: 50%">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                    type="text"
                    nz-input
                    placeholder="Search by insurance type, vehicle make, vehicle model, engine number, chassis number"
                    [(ngModel)]="searchString"
                    (ngModelChange)="search($event)"
                />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
                <nz-table #risksTable [nzData]="displayQuote.risks" nzSize="small">
                        <thead>
                            <tr>
                                <th>Insurance Type</th>
                                <th>Registration Number</th>
                                <th>Vehicle Make</th>
                                <th>Vehicle Model</th>
                                <th>Engine Number</th>
                                <th>Chassis Number</th>
                                <th>Color</th>
                                <th>Product Type</th>
                                <th>Estimated Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let quote of risksTable.data">
                                <td>{{quote.insuranceType}}</td>
                                <td>{{quote.regNumber}}</td>
                                <td>{{quote.vehicleMake}}</td>
                                <td>{{quote.vehicleModel}}</td>
                                <td>{{quote.engineNumber}}</td>
                                <td>{{quote.chassisNumber}}</td>
                                <td>{{quote.color}}</td>
                                <td>{{quote.productType}}</td>
                                <td>{{quote.estimatedValue | number}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
    </nz-card>
    
    <nz-card>
            <nz-divider nzText="Premium Details" nzOrientation="left"></nz-divider>
            <nz-divider nzText="Basic Premuim" nzOrientation="left"></nz-divider>
        <div nz-row nzGutter="0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzSpan="7" nzRequired>Sum Insured</nz-form-label>
                    <nz-form-control nzSpan="17">
                        <input nz-input nzPlaceHolder="" name="sumInsured" [(ngModel)]="sumInsured" [disabled]="!isEditmode"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzSpan="7" nzRequired>Rate</nz-form-label>
                    <nz-form-control nzSpan="17">
                        <nz-input-group nzCompact>
                        <nz-select [(ngModel)]="premiumRateType" style="width: 10%;" [disabled]="!isEditmode">
                            <nz-option [nzLabel]="'%'" nzValue="percentage"></nz-option>
                            <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'ZMW'" [nzLabel]="'K'" nzValue="figure"></nz-option>
                            <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'Dollar'" [nzLabel]="'$'" nzValue="figure"></nz-option>
                        </nz-select>
                        <input nz-input nzPlaceHolder="" name="premiumRate" [(ngModel)]="premiumRate" style="width: 90%;" [disabled]="!isEditmode"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzXs]="{ span: 24, offset: 4 }" [nzSm]="{ span: 20, offset: 7 }">
                        <button nz-button nzType="primary" (click)="computeBasicPremium()">Compute</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-card style="margin: 0 auto; float: right;">
                    <nz-form-item>
                        <nz-form-label nzSpan="12">Premium</nz-form-label>
                        <nz-form-control nzSpan="12">
                            <input nz-input [disabled]="true" name="basicPremium" [ngModel]="basicPremium"
                                [value]="basicPremium" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="12">Levy</nz-form-label>
                        <nz-form-control nzSpan="12">
                            <input nz-input [disabled]="true" name="basicPremiumLevy" [ngModel]="basicPremiumLevy"
                                [value]="basicPremiumLevy" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="12">Sub Total</nz-form-label>
                        <nz-form-control nzSpan="12" nzDisabled>
                            <input nz-input [disabled]="true" name="basicPremiumSubTotal"
                                [ngModel]="basicPremiumSubTotal" [value]="basicPremiumSubTotal" />
                        </nz-form-control>
                    </nz-form-item>
                </nz-card>
            </div>
        </div>

        <nz-divider nzText="Loading" nzOrientation="left"></nz-divider>
        <div nz-row nzGutter="0">
            <div nz-col nzSpan="12" *ngIf = "isEditmode">
                <div>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="load">Load
                                </nz-form-label>
                                <nz-form-control nzSpan="17">
                                    <nz-select name="load" [(ngModel)]="selectedLoadingValue" [compareWith]="compareFn"
                                         nzAllowClear>
                                        <nz-option *ngFor="let option of loadingOptions"
                                            [nzValue]="option" [nzLabel]="option.label"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                </div>
                <div *ngIf="selectedLoadingValue.value === 'increasedThirdPartyLimits'">
                                <nz-form-item>
                                        <nz-form-label [nzSpan]="7" nzFor="increasedThirdPartyLimitsRate">Increase to
                                        </nz-form-label>
                                        <nz-form-control nzSpan="6">
                                                        <input nz-input [(ngModel)]="increasedThirdPartyLimitValue" [disabled]="!isEditmode"/>
                                        </nz-form-control>
                                    </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="7" nzFor="increasedThirdPartyLimitsRate">Rate
                                    </nz-form-label>
                                    <nz-form-control nzSpan="6">
                                            <nz-input-group nzCompact>
                                                    <nz-select [(ngModel)]="increasedThirdPartyLimitsRateType" style="width: 30%;" [disabled]="!isEditmode">
                                                        <nz-option [nzLabel]="'%'" nzValue="percentage"></nz-option>
                                                        <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'ZMW'" [nzLabel]="'K'" nzValue="figure"></nz-option>
                                                        <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'Dollar'" [nzLabel]="'$'" nzValue="figure"></nz-option>
                                                    </nz-select>
                                                    <input nz-input style="width: 70%;" name="increasedThirdPartyLimitsRate" [(ngModel)]="increasedThirdPartyLimitsRate" [disabled]="!isEditmode"/>
                                                    </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-control [nzXs]="{ span: 24, offset: 4 }" [nzSm]="{ span: 20, offset: 7 }">
                                        <button nz-button nzType="primary"
                                            (click)="computeIncreasedThirdPartyLimit()">Compute</button>
                                    </nz-form-control>
                                </nz-form-item>
                </div>
                <div *ngIf="selectedLoadingValue.value === 'riotAndStrike'">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="riotAndStrikeRate">Rate</nz-form-label>
                                <nz-form-control nzSpan="6">
                                        <nz-input-group nzCompact>
                                                <nz-select [(ngModel)]="riotAndStrikeRateType" style="width: 30%;" [disabled]="!isEditmode">
                                                    <nz-option [nzLabel]="'%'" nzValue="percentage"></nz-option>
                                                    <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'ZMW'" [nzLabel]="'K'" nzValue="figure"></nz-option>
                                                    <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'Dollar'" [nzLabel]="'$'" nzValue="figure"></nz-option>
                                                </nz-select>
                                                <input nz-input nzPlaceHolder="" name="riotAndStrikeRate" [(ngModel)]="riotAndStrikeRate" style="width: 70%;" [disabled]="!isEditmode"/>
                                                </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control [nzXs]="{ span: 24, offset: 4 }" [nzSm]="{ span: 20, offset: 7 }">
                                    <button nz-button nzType="primary" (click)="computeRiotAndStrike()">Compute</button>
                                </nz-form-control>
                            </nz-form-item>
                </div>
                <div *ngIf="selectedLoadingValue.value === 'carStereo'">
                    <div nz-row nzGutter="2">
                        <div nz-col nzSpan="25">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="carStereoValue">Car Stereo Value</nz-form-label>
                                <nz-form-control nzSpan="6">
                                    <input nz-input nzPlaceHolder="" name="carStereoValue"
                                        [(ngModel)]="carStereoValue" [disabled]="!isEditmode"/>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                    <nz-form-label [nzSpan]="7" nzFor="carStereoRate">Rate</nz-form-label>
                                    <nz-form-control nzSpan="6">
                                            <nz-input-group nzCompact>
                                                    <nz-select [(ngModel)]="carStereoRateType" style="width: 30%;" [disabled]="!isEditmode">
                                                        <nz-option [nzLabel]="'%'" nzValue="percentage"></nz-option>
                                                        <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'ZMW'" [nzLabel]="'K'" nzValue="figure"></nz-option>
                                                        <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'Dollar'" [nzLabel]="'$'" nzValue="figure"></nz-option>
                                                    </nz-select>
                                                    <input nz-input nzPlaceHolder="" name="carStereoRate" [(ngModel)]="carStereoRate" style="width: 70%;" [disabled]="!isEditmode"/>
                                                    </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            <nz-form-item>
                                <nz-form-control [nzXs]="{ span: 24, offset: 4 }" [nzSm]="{ span: 20, offset: 7 }">
                                    <button nz-button nzType="primary" (click)="computeCarStereo()">Compute</button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedLoadingValue.value === 'territorailExtension'">
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="25">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="territorailExtensionRate">Rate</nz-form-label>
                                <nz-form-control nzSpan="6">
                                        <nz-input-group nzCompact>
                                                <nz-select [(ngModel)]="territorailExtensionRateType" style="width: 30%;" [disabled]="!isEditmode">
                                                    <nz-option [nzLabel]="'%'" nzValue="percentage"></nz-option>
                                                    <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'ZMW'" [nzLabel]="'K'" nzValue="figure"></nz-option>
                                                    <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'Dollar'" [nzLabel]="'$'" nzValue="figure"></nz-option>
                                                </nz-select>
                                                <input nz-input style="width: 70%;" [disabled]="!isEditmode"/>
                                                </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control [nzXs]="{ span: 24, offset: 4 }" [nzSm]="{ span: 20, offset: 7 }">
                                    <button nz-button nzType="primary"
                                        (click)="computeTerritorialExtension()">Compute</button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedLoadingValue.value === 'lossOfUse'">
                    <div nz-row nzGutter="0">
                        <div nz-col nzSpan="25">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzFor="lossOfUseDailyRate">Daily Rate</nz-form-label>
                                <nz-form-control nzSpan="6">
                                        <nz-input-group nzCompact>
                                                <nz-select [(ngModel)]="lossOfUseDailyRateType" style="width: 30%;" [disabled]="!isEditmode">
                                                    <nz-option [nzLabel]="'%'" nzValue="percentage"></nz-option>
                                                    <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'ZMW'" [nzLabel]="'K'" nzValue="figure"></nz-option>
                                                    <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'Dollar'" [nzLabel]="'$'" nzValue="figure"></nz-option>
                                                </nz-select>
                                                <input nz-input nzPlaceHolder="" name="lossOfUseDailyRate" [(ngModel)]="lossOfUseDailyRate" style="width: 70%;" [disabled]="!isEditmode"/>
                                                </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                    <nz-form-label [nzSpan]="7" nzFor="lossOfUseDays">Number Of Days</nz-form-label>
                                    <nz-form-control nzSpan="6">
                                        <input nz-input id="lossOfUseDays" nzPlaceHolder="" name="lossOfUseDays"
                                            [(ngModel)]="lossOfUseDays" [disabled]="!isEditmode"/>
                                    </nz-form-control>
                                </nz-form-item>
                            <nz-form-item>
                                <nz-form-control [nzXs]="{ span: 24, offset: 4 }" [nzSm]="{ span: 20, offset: 7 }">
                                    <button nz-button nzType="primary" (click)="computeLossOfUse()">Compute</button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col nSpan="12">
                        <nz-card style="margin: 0 auto; float: right">
                            <form>
                                <section *ngFor="let load of loads; let i = index;">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="12">{{load.loadType}}</nz-form-label>
                                        <nz-form-control nzSpan="12" nzDisabled>
                                            <input nz-input [value]="load.amount" [disabled]="true" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </section>
                            </form>
                            <nz-form-item>
                                <nz-form-label nzSpan="12">Sub Total</nz-form-label>
                                <nz-form-control nzSpan="12" nzDisabled>
                                    <input nz-input [disabled]="true" name="premiumLoadingsubTotal"
                                        [ngModel]="premiumLoadingsubTotal" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-card>
            </div>
        </div>


        <nz-divider nzText="Discount" nzOrientation="left"></nz-divider>
            <div nz-row nzGutter="0">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7">Discount Rate</nz-form-label>
                        <nz-form-control nzSpan="17">
                                <nz-input-group nzCompact>
                                        <nz-select [(ngModel)]="premiumDiscountRateType" style="width: 10%;" [disabled]="!isEditmode">
                                            <nz-option [nzLabel]="'%'" nzValue="percentage"></nz-option>
                                            <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'ZMW'" [nzLabel]="'K'" nzValue="figure"></nz-option>
                                            <nz-option *ngIf="quoteDetailsForm.get('currency').value === 'Dollar'" [nzLabel]="'$'" nzValue="figure"></nz-option>
                                        </nz-select>
                                        <input nz-input nzPlaceHolder="" name="premiumDiscountRate" [(ngModel)]="premiumDiscountRate" style="width: 90%;" [disabled]="!isEditmode"/>
                                        </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzXs]="{ span: 24, offset: 4 }" [nzSm]="{ span: 20, offset: 7 }">
                            <button nz-button nzType="primary" (click)="computeDiscount()">Compute</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-card style="margin: 0 auto; float: right;">
                        <nz-form-item>
                            <nz-form-label nzSpan="12">Discount</nz-form-label>
                            <nz-form-control nzSpan="12" nzDisabled>
                                <input nz-input [disabled]="true" name="premiumDiscount" [ngModel]="premiumDiscount" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="12">Sub Total</nz-form-label>
                            <nz-form-control nzSpan="12" nzDisabled>
                                <input nz-input [disabled]="true" name="premiumDiscountSubtotal"
                                    [ngModel]="premiumDiscountSubtotal" />
                            </nz-form-control>
                        </nz-form-item>
                    </nz-card>
                </div>
            </div>
        <nz-divider nzText="Net Premium" nzOrientation="left"></nz-divider>
        <div nz-row nzGutter="0">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzSpan="7">Total Premium</nz-form-label>
                    <nz-form-control nzSpan="17" nzDisabled>
                        <input nz-input [disabled]="true" [ngModel]="totalPremium" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </nz-card>


    <nz-card *ngIf="isQuoteApproved">
        <nz-divider
            [nzText]="'Documents'"
            [nzOrientation]="'left'"
        ></nz-divider>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="8">
                <nz-card
                    nzTitle="Certificate"
                    [nzExtra]="expansionView1"
                    [nzHoverable]="true"
                    (nzClick)="showCertModal = true"
                >
                    <pdf-viewer
                        [src]="policyCertificateURl"
                        [original-size]="false"
                    ></pdf-viewer>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card
                    nzTitle="Debit Note"
                    [nzExtra]="expansionView2"
                    [nzHoverable]="true"
                    (nzClick)="showDebitModal = true"
                >
                    <pdf-viewer
                        [src]="debitNoteURL"
                        [original-size]="false"
                    ></pdf-viewer>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card
                    nzTitle="Policy Schedule"
                    [nzExtra]="expansionView3"
                    [nzHoverable]="true"
                    (nzClick)="showQuoteModal = true"
                >
                    <pdf-viewer
                        [src]="quoteURL"
                        [original-size]="false"
                    ></pdf-viewer>
                </nz-card>
            </div>
        </div>


<nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
>
    <ng-template #modalTitle>
        Payment
    </ng-template>

    <ng-template #modalContent>
        <form nz-form [formGroup]="quoteDetailsForm">
            <nz-form-item>
                <nz-form-label nzSpan="8" nzRequired
                    >Payment Method</nz-form-label
                >
                <nz-form-control nzSpan="15">
                    <nz-select
                        nzPlaceHolder="Select Payment Method"
                        formControlName="paymentMethod"
                    >
                        <nz-option
                            nzValue="mobileMoney"
                            nzLabel="Mobile Money"
                        ></nz-option>
                        <nz-option nzValue="cash" nzLabel="Cash"></nz-option>
                        <nz-option
                            nzValue="cheque"
                            nzLabel="Cheque"
                        ></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSpan="7" nzRequired
                    >Recieved From</nz-form-label
                >
                <nz-form-control nzSpan="17">
                    <input nz-input formControlName="preparedBy" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzSpan="7" nzRequired>Amount</nz-form-label>
                <nz-form-control nzSpan="17">
                    <input nz-input formControlName="sumInsured" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button
            nz-button
            nzType="primary"
            (click)="handleOk()"
            [nzLoading]="isConfirmLoading"
        >
            Reciept
        </button>
    </ng-template>
</nz-modal>



<ng-template #expansionView1>
    <div>
        <button
            nz-button
            nzType="primary"
            nzSize="small"
            style="margin-right: 5px;"
            (click)="showCertModal = true"
        >
            View
        </button>
        <button nz-button nzType="default" nzSize="small">Print</button>
    </div>
</ng-template>
<ng-template #expansionView2>
    <div>
        <button
            nz-button
            nzType="primary"
            nzSize="small"
            style="margin-right: 5px;"
            (click)="showDebitModal = true"
        >
            View
        </button>
        <button nz-button nzType="default" nzSize="small">Print</button>
    </div>
</ng-template>
<ng-template #expansionView3>
    <div>
        <button
            nz-button
            nzType="primary"
            nzSize="small"
            style="margin-right: 5px;"
            (click)="showQuoteModal = true"
        >
            View
        </button>
        <button nz-button nzType="default" nzSize="small">Print</button>
    </div>
</ng-template>

<!-- Document Modals -->
<nz-modal
    [(nzVisible)]="showCertModal"
    nzTitle="Policy Receipt"
    (nzOnCancel)="showCertModal = false"
    (nzOnOk)="showCertModal = false"
>
    <div style="margin: 20px;">
        <nz-card style="width: 100%" nzTitle="Receipt" [nzExtra]="actions">
            <pdf-viewer
                [src]="policyCertificateURl"
                [original-size]="false"
            ></pdf-viewer>
        </nz-card>
        <ng-template #actions>
            <div>
                <button
                    nz-button
                    nzType="primary"
                    nzSize="medium"
                    style="margin-right: 8px;"
                >
                    Print
                </button>
                <button nz-button nzType="default" nzSize="medium">
                    Email
                </button>
            </div>
        </ng-template>
    </div>
</nz-modal>
<nz-modal
    [(nzVisible)]="showDebitModal"
    nzTitle="Debit Note"
    (nzOnCancel)="showDebitModal = false"
    (nzOnOk)="showDebitModal = false"
>
    <div style="margin: 20px;">
        <nz-card style="width: 100%" nzTitle="Receipt" [nzExtra]="actions">
            <pdf-viewer
                [src]="debitNoteURL"
                [original-size]="false"
            ></pdf-viewer>
        </nz-card>
        <ng-template #actions>
            <div>
                <button
                    nz-button
                    nzType="primary"
                    nzSize="medium"
                    style="margin-right: 8px;"
                >
                    Print
                </button>
                <button nz-button nzType="default" nzSize="medium">
                    Email
                </button>
            </div>
        </ng-template>
    </div>
</nz-modal>
<nz-modal
    [(nzVisible)]="showQuoteModal"
    nzTitle="Quote"
    (nzOnCancel)="showQuoteModal = false"
    (nzOnOk)="showQuoteModal = false"
>
    <div style="margin: 20px;">
        <nz-card style="width: 100%" nzTitle="Receipt" [nzExtra]="actions">
            <pdf-viewer [src]="quoteURL" [original-size]="false"></pdf-viewer>
        </nz-card>
        <ng-template #actions>
            <div>
                <button
                    nz-button
                    nzType="primary"
                    nzSize="medium"
                    style="margin-right: 8px;"
                >
                    Print
                </button>
                <button nz-button nzType="default" nzSize="medium">
                    Email
                </button>
            </div>
        </ng-template>
    </div>
</nz-modal>
