<div class="policy-detail">
    <div style="margin: 15px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item
                (click)="goToPoliciesList()"
                style="cursor: pointer;"
            >
                Policies
            </nz-breadcrumb-item>
            <nz-breadcrumb-item
                (click)="goToPoliciesList()"
                style="cursor: pointer;"
            >
                Policies List
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Policy Details
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-page-header
            (nzBack)="goToClientsList()"
            nzBackIcon
            nzTitle="Policy Number: {{ policyData.policyNumber }}"
            [nzSubtitle]="policyData.client"
        >
            <nz-page-header-extra>
                <button
                    *ngIf="policyData.paymentPlan === 'NotCreated'"
                    nz-button
                    nzType="primary"
                    (click)="showModal(policyData)"
                >
                    Create Payment Plan
                </button>
                <nz-modal
                    [(nzVisible)]="isVisible"
                    nzTitle="Payment Plan"
                    (nzOnCancel)="handleCancel()"
                    (nzOnOk)="handleOk()"
                    [nzWidth]="800"
                >
                    <div nz-row nzGutter="0">
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label
                                    [nzSpan]="9"
                                    nzFor="paymentPlan"
                                    nzRequired
                                    >Payment Plan</nz-form-label
                                >
                                <nz-form-control nzSpan="15">
                                    <nz-select
                                        name="paymentPlan"
                                        nzShowSearch
                                        nzAllowClear
                                        [(ngModel)]="selectedValue"
                                        nzPlaceHolder="Choose Payment Plan"
                                    >
                                        <nz-option
                                            *ngFor="let option of optionList"
                                            [nzValue]="option.value"
                                            [nzLabel]="option.label"
                                        ></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div *ngIf="selectedValue === 'fully'">
                        <div nz-row nzGutter="0">
                            <div
                                nz-col
                                [nzSpan]="12"
                                style="margin-left: 20px;"
                            >
                                <p>Click Ok to Proceed To Receipt</p>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="selectedValue === 'plan'">
                        <div nz-row nzGutter="0" style="margin-left: 20px;">
                            <form
                                nz-form
                                [nzLayout]="'inline'"
                                [formGroup]="paymentPlanForm"
                            >
                                <nz-form-item>
                                    <nz-form-label
                                        [nzSpan]="12"
                                        nzRequired
                                        nzFor="numberOfInstallments"
                                        >Number Of Installments</nz-form-label
                                    >
                                    <nz-form-control
                                        [nzSpan]="12"
                                        nzErrorTip="Please input your username!"
                                    >
                                        <input
                                            id="numberOfInstallments"
                                            type="number"
                                            nz-input
                                            formControlName="numberOfInstallments"
                                        />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label
                                        [nzSm]="12"
                                        [nzXs]="24"
                                        nzRequired
                                        >Initial Installment Date</nz-form-label
                                    >
                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                        <nz-date-picker
                                            formControlName="initialInstallmentDate"
                                        ></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label
                                        [nzSpan]="12"
                                        nzRequired
                                        nzFor="initialInstallmentAmount"
                                        >Initial Installment
                                        Amount</nz-form-label
                                    >
                                    <nz-form-control
                                        [nzSpan]="12"
                                        nzErrorTip="Please input your username!"
                                    >
                                        <input
                                            id="initialInstallmentAmount"
                                            type="number"
                                            nz-input
                                            formControlName="initialInstallmentAmount"
                                        />
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                    </div>
                </nz-modal>
            </nz-page-header-extra>
        </nz-page-header>
    </div>

    <nz-modal
        [(nzVisible)]="showCertModal"
        nzTitle="Policy Certificate"
        (nzOnCancel)="showCertModal = false"
        (nzOnOk)="showCertModal = false"
    >
        <div style="margin: 20px;">
            <nz-card
                style="width: 100%;"
                nzTitle="Certificate"
                [nzExtra]="actions"
            >
                <pdf-viewer
                    [src]="'/assets/docs/cert.pdf'"
                    [original-size]="false"
                ></pdf-viewer>
            </nz-card>
            <ng-template #actions>
                <div>
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="medium"
                        style="margin-right: 8px;"
                    >
                        Print
                    </button>
                    <button nz-button nzType="default" nzSize="medium">
                        Email
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-modal>

    <nz-modal
        [(nzVisible)]="showReceiptModal"
        nzTitle="Policy Receipt"
        (nzOnCancel)="showReceiptModal = false"
        (nzOnOk)="showReceiptModal = false"
    >
        <div style="margin: 20px;">
            <nz-card style="width: 100%;" nzTitle="Receipt" [nzExtra]="actions">
                <pdf-viewer
                    [src]="'/assets/docs/receipt.pdf'"
                    [original-size]="false"
                ></pdf-viewer>
            </nz-card>
            <ng-template #actions>
                <div>
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="medium"
                        style="margin-right: 8px;"
                    >
                        Print
                    </button>
                    <button nz-button nzType="default" nzSize="medium">
                        Email
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-modal>

    <nz-modal
        [(nzVisible)]="showDebitModal"
        nzTitle="Debit Note"
        (nzOnCancel)="showDebitModal = false"
        (nzOnOk)="showDebitModal = false"
    >
        <div style="margin: 20px;">
            <nz-card
                style="width: 100%;"
                nzTitle="Debit Note"
                [nzExtra]="actions"
            >
                <pdf-viewer
                    [src]="'/assets/docs/debit.pdf'"
                    [original-size]="false"
                ></pdf-viewer>
            </nz-card>
            <ng-template #actions>
                <div>
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="medium"
                        style="margin-right: 8px;"
                    >
                        Print
                    </button>
                    <button nz-button nzType="default" nzSize="medium">
                        Email
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-modal>
</div>
<div style="margin: 15px;">
    <nz-card>
        <nz-divider nzText="Policy Details" nzOrientation="left"></nz-divider>
        <form nz-form [formGroup]="policyDetailsForm">
            <div nz-row nzGutter="0">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Name of Insured</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="nameOfInsured"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Currency</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="currency"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Sum Insured</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="sumInsured"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Premium</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="netPremium"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Quarter</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="quarter"
                            />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Start Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="startDate"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >End Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="endDate"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Date Of Issue</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="dateOfIssue"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Time Of Issue</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="timeOfIssue"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Expiry Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="expiryDate"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <!-- <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Branch</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="branch"
                            />
                        </nz-form-control>
                    </nz-form-item> -->
                </div>
            </div>
        </form>
    </nz-card>
    <nz-card>
        <nz-divider nzText="Risk Details" nzOrientation="left"></nz-divider>
        <div style="margin-top: 20px;">
            <nz-table #risksTable [nzData]="displayPolicy.risks" nzSize="small">
                <thead>
                    <tr>
                        <th>Insurance Type</th>
                        <th>Registration Number</th>
                        <th>Vehicle Make</th>
                        <th>Vehicle Model</th>
                        <th>Engine Number</th>
                        <th>Chassis Number</th>
                        <th>Color</th>
                        <th>Product Type</th>
                        <th>Estimated Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let policy of risksTable.data">
                        <td>{{ policy.insuranceType }}</td>
                        <td>{{ policy.regNumber }}</td>
                        <td>{{ policy.vehicleMake }}</td>
                        <td>{{ policy.vehicleModel }}</td>
                        <td>{{ policy.engineNumber }}</td>
                        <td>{{ policy.chassisNumber }}</td>
                        <td>{{ policy.color }}</td>
                        <td>{{ policy.productType }}</td>
                        <td>{{ policy.estimatedValue | number }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-card>
</div>
