<div class="policy-detail">
    <div style="margin: 15px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item
                (click)="goToPoliciesList()"
                style="cursor: pointer"
            >
                Policies
            </nz-breadcrumb-item>
            <nz-breadcrumb-item
                (click)="goToPoliciesList()"
                style="cursor: pointer"
            >
                Policies List
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Policy Details
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-page-header
            (nzBack)="goToClientsList()"
            nzBackIcon
            nzTitle="Policy Number: HFB-489384"
            [nzSubtitle]="policyData.client"
        >
            <nz-page-header-extra>
                <button
                    nz-button
                    nzType="primary"
                    (click)="showCertModal = true"
                >
                    View Certificate
                </button>
                <button
                    nz-button
                    nzType="primary"
                    (click)="showReceiptModal = true"
                >
                    View Receipt
                </button>
                <button
                    nz-button
                    nzType="primary"
                    (click)="showDebitModal = true"
                >
                    View Debit Note
                </button>
                <button
                    *ngIf="isEditmode"
                    nz-button
                    nzType="primary"
                    (click)="isEditmode = false"
                >
                    Save Changes
                </button>
                <button
                    *ngIf="!isEditmode"
                    nz-button
                    nzType="primary"
                    (click)="isEditmode = true"
                >
                    Edit Policy
                </button>
            </nz-page-header-extra>
        </nz-page-header>
    </div>

    <nz-modal
        [(nzVisible)]="showCertModal"
        nzTitle="Policy Certificate"
        (nzOnCancel)="showCertModal = false"
        (nzOnOk)="showCertModal = false"
    >
        <div style="margin: 20px;">
            <nz-card
                style="width: 100%"
                nzTitle="Certificate"
                [nzExtra]="actions"
            >
                <pdf-viewer
                    [src]="'/assets/docs/cert.pdf'"
                    [original-size]="false"
                ></pdf-viewer>
            </nz-card>
            <ng-template #actions>
                <div>
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="medium"
                        style="margin-right: 8px;"
                    >
                        Print
                    </button>
                    <button nz-button nzType="default" nzSize="medium">
                        Email
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-modal>

    <nz-modal
        [(nzVisible)]="showReceiptModal"
        nzTitle="Policy Receipt"
        (nzOnCancel)="showReceiptModal = false"
        (nzOnOk)="showReceiptModal = false"
    >
        <div style="margin: 20px;">
            <nz-card style="width: 100%" nzTitle="Receipt" [nzExtra]="actions">
                <pdf-viewer
                    [src]="'/assets/docs/receipt.pdf'"
                    [original-size]="false"
                ></pdf-viewer>
            </nz-card>
            <ng-template #actions>
                <div>
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="medium"
                        style="margin-right: 8px;"
                    >
                        Print
                    </button>
                    <button nz-button nzType="default" nzSize="medium">
                        Email
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-modal>

    <nz-modal
        [(nzVisible)]="showDebitModal"
        nzTitle="Debit Note"
        (nzOnCancel)="showDebitModal = false"
        (nzOnOk)="showDebitModal = false"
    >
        <div style="margin: 20px;">
            <nz-card
                style="width: 100%"
                nzTitle="Debit Note"
                [nzExtra]="actions"
            >
                <pdf-viewer
                    [src]="'/assets/docs/debit.pdf'"
                    [original-size]="false"
                ></pdf-viewer>
            </nz-card>
            <ng-template #actions>
                <div>
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="medium"
                        style="margin-right: 8px;"
                    >
                        Print
                    </button>
                    <button nz-button nzType="default" nzSize="medium">
                        Email
                    </button>
                </div>
            </ng-template>
        </div>
    </nz-modal>
</div>
<div style="margin: 15px;">
    <nz-card>
        <nz-divider nzText="Policy Details" nzOrientation="left"></nz-divider>
        <form nz-form [formGroup]="policyDetailsForm">
            <div nz-row nzGutter="0">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Client Name</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="client"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Name of Insured</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="nameOfInsured"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Sum Insured</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="sumInsured"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Currency</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-select
                                [nzDisabled]="!isEditmode"
                                formControlName="currency"
                            >
                                <nz-option
                                    nzValue="currency 1"
                                    nzLabel="currency 1"
                                ></nz-option>
                                <nz-option
                                    nzValue="currency 2"
                                    nzLabel="currency 2"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Expiry Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="expiryDate"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Quater</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-select
                                [nzDisabled]="!isEditmode"
                                formControlName="quater"
                            >
                                <nz-option nzValue="1" nzLabel="1"></nz-option>
                                <nz-option nzValue="2" nzLabel="2"></nz-option>
                                <nz-option nzValue="3" nzLabel="3"></nz-option>
                                <nz-option nzValue="4" nzLabel="4"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Product</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <nz-select
                                nzPlaceHolder="Motor Comprehensive"
                                [nzDisabled]="!isEditmode"
                                formControlName="product"
                            >
                                <nz-option
                                    nzValue="type 1"
                                    nzLabel="type 1"
                                ></nz-option>
                                <nz-option
                                    nzValue="type 2"
                                    nzLabel="type 2"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Start Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="startDate"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >End Date</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <!-- <nz-select nzPlaceHolder="Select or create client" [nzDisabled]="isEditmode"></nz-select> -->
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="endDate"
                            />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Date Of Issue</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="dateOfIssue"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Time Of Issue</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="timeOfIssue"
                            />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired
                            >Town</nz-form-label
                        >
                        <nz-form-control nzSpan="17">
                            <input
                                nz-input
                                [disabled]="!isEditmode"
                                formControlName="town"
                            />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
    <nz-card>
        <nz-divider nzText="Risk Details" nzOrientation="left"></nz-divider>
        <div style="margin-top:20px">
            <nz-table #risksTable [nzData]="policy" nzSize="small">
                <thead>
                    <tr>
                        <th>Insurance Type</th>
                        <th>Registration Number</th>
                        <th>Vehicle Make</th>
                        <th>Vehicle Model</th>
                        <th>Engine Number</th>
                        <th>Chassis Number</th>
                        <th>Color</th>
                        <th>Product Type</th>
                        <th>Estimated Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let policy of risksTable.data">
                        <td>{{ policy.risk.insuranceType }}</td>
                        <td>{{ policy.risk.regNumber }}</td>
                        <td>{{ policy.risk.vehicleMake }}</td>
                        <td>{{ policy.risk.vehicleModel }}</td>
                        <td>{{ policy.risk.engineNumber }}</td>
                        <td>{{ policy.risk.chassisNumber }}</td>
                        <td>{{ policy.risk.color }}</td>
                        <td>{{ policy.risk.productType }}</td>
                        <td>{{ policy.risk.estimatedValue }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-card>
</div>
