<nz-drawer [nzClosable]="false" [nzVisible]="isAddPerilFormDrawerVisible" nzPlacement="left" nzTitle="Add Peril"
    (nzOnClose)="closeAddPerilFormDrawer()" [nzWidth]="600">
    <form nz-form [formGroup]="perilForm" (ngSubmit)="submitPerilForm()">
        <div>
            <div *ngIf="!productName">
                <nz-alert nzType="warning" nzMessage="Please Click a Product" nzShowIcon></nz-alert>
            </div>​
            <div *ngIf="productName">
                <nz-alert nzType="success" nzMessage="{{productName}} is Selected" nzShowIcon></nz-alert>
            </div>​
        </div>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                [nzErrorTip]="perilNameErrorTpl">
                <input nz-input formControlName="name" placeholder="Enter Name" />
                <ng-template #perilNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input a name!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The name is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Type</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                [nzErrorTip]="perilTypeErrorTpl">
                <input nz-input formControlName="type" placeholder="Enter Type" />
                <ng-template #perilTypeErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input a type!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                [nzErrorTip]="perilsDescErrorTpl">
                <textarea formControlName="description" nz-input rows="5" placeholder="Enter Description"></textarea>
                <ng-template #perilsDescErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your description!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The description is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" [disabled]="!perilForm.valid">
                    Submit
                </button>
                <button nz-button (click)="resetPerilForm()">
                    Reset
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-drawer>