<nz-collapse>
    <nz-collapse-panel nzHeader="Clauses and Wordings">
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
                <nz-card nzTitle="Policy Wordings">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group [nzSuffix]="
                                            suffixIconSearch
                                        ">
                                        <input type="text" nz-input placeholder="Search by Wording ID, clause type" />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>

                            <diV nz-col nzSpan="12">
                                <nz-select style="
                                        width: 200px;
                                    " nzShowSearch nzAllowClear nzPlaceHolder="Select a Wording" nzMode="multiple"
                                    [(ngModel)]="
                                        selectedWordingValue
                                    ">
                                    <nz-option *ngFor="
                                            let o of wordingList
                                        " [nzLabel]="
                                            o.heading
                                        " [nzValue]="o"></nz-option>
                                </nz-select>
                            </diV>
                        </div>
                    </div>
                    <nz-table #wordingTable [nzData]="selectedWordingValue">
                        <thead>
                            <tr>
                                <th>Heading</th>
                                <th>Details</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                                    let wording of wordingTable.data
                                ">
                                <td>
                                    {{
                                        wording.heading
                                    }}
                                </td>
                                <td>
                                    {{
                                        wording.description
                                    }}
                                </td>
                                <td>
                                    <!-- <button
                                    nz-button
                                    nzType="primary"
                                    (click)="
                                        onSelectWording(
                                            wording
                                        )
                                    "
                                >
                                    Select
                                </button> -->
                                    <button nz-button nzType="default" (click)="
                                            onEditWording(
                                                wording
                                            )
                                        ">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-card nzTitle="Policy Clauses">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group [nzSuffix]="
                                            suffixIconSearch
                                        ">
                                        <input type="text" nz-input placeholder="Search by clause ID, clause type" />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                            <diV nz-col nzSpan="12">
                                <nz-select style="
                                        width: 200px;
                                    " nzShowSearch nzAllowClear nzPlaceHolder="Select a Clause" nzMode="multiple"
                                    [(ngModel)]="
                                        selectedClauseValue
                                    ">
                                    <nz-option *ngFor="
                                            let o of clauseList
                                        " [nzLabel]="
                                            o.heading
                                        " [nzValue]="o"></nz-option>
                                </nz-select>
                            </diV>
                        </div>
                    </div>
                    <nz-table #clauseTable [nzData]="
                        selectedClauseValue
                        ">
                        <thead>
                            <tr>
                                <th>Heading</th>
                                <th>Details</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                                    let clause of clauseTable.data
                                ">
                                <td>
                                    {{
                                        clause.heading
                                    }}
                                </td>
                                <td>
                                    {{
                                        clause.clauseDetails
                                    }}
                                </td>
                                <td>
                                    <!-- <button
                                    nz-button
                                    nzType="primary"
                                    (click)="
                                        onSelectExtension(
                                            extension
                                        )
                                    "
                                >
                                    Select
                                </button> -->
                                    <button nz-button nzType="default" (click)="
                                            onEditClause(
                                                clause
                                            )
                                        ">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </div>
        </div>
    </nz-collapse-panel>
</nz-collapse>

<nz-modal [(nzVisible)]="isWordingEditVisible" nzTitle="Edit Wording" (nzOnCancel)="handleEditWordingCancel()"
    (nzOnOk)="handleEditWordingOk()">
    <form nz-form [formGroup]="wordingForm">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Heading</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="wordingErrorTpl">
                <input nz-input formControlName="heading" />
                <ng-template #wordingErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your wording heading!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The heading is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                [nzErrorTip]="wordingDescriptionErrorTpl">
                <textarea formControlName="description" nz-input rows="5"></textarea>

                <ng-template #wordingDescriptionErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your description!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The description is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>

<nz-modal [(nzVisible)]="isClauseEditVisible" nzTitle="Edit Clause" (nzOnCancel)="handleEditClauseCancel()"
    (nzOnOk)="handleEditClauseOk()">
    <form nz-form [formGroup]="clauseForm">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Heading</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="clauseErrorTpl">
                <input nz-input formControlName="heading" />
                <ng-template #clauseErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your clause heading!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The heading is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                [nzErrorTip]="clauseDeailsErrorTpl">
                <textarea formControlName="clauseDetails" nz-input rows="5"></textarea>

                <ng-template #clauseDeailsErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your clause details!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The details are redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>