<nz-collapse>
    <nz-collapse-panel nzHeader="Warranties and Exclusions" >
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
                <nz-card nzTitle="Warranties">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div
                                    style="width: 75%;"
                                >
                                    <nz-input-group
                                        [nzSuffix]="
                                            suffixIconSearch
                                        "
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by Warranty ID, Warranty type"
                                        />
                                    </nz-input-group>
                                    <ng-template
                                        #suffixIconSearch
                                    >
                                        <i
                                            nz-icon
                                            nzType="search"
                                        ></i>
                                    </ng-template>
                                </div>
                            </div>

                            <diV nz-col nzSpan="12">
                                <nz-select
                                    style="
                                        width: 200px;
                                    "
                                    nzShowSearch
                                    nzAllowClear
                                    nzPlaceHolder="Select a Warranty"
                                    nzMode="multiple"
                                    [(ngModel)]="
                                        selectedWarrantyValue
                                    "
                                >
                                    <nz-option
                                        *ngFor="
                                            let o of warrantyList
                                        "
                                        [nzLabel]="
                                            o.heading
                                        "
                                        [nzValue]="o"
                                    ></nz-option>
                                </nz-select>
                            </diV>
                        </div>
                    </div>
                    <nz-table
                        #warrantyTable
                        [nzData]="selectedWarrantyValue"
                    >
                        <thead>
                            <tr>
                                <th>Heading</th>
                                <th>Details</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let warranty of warrantyTable.data
                                "
                            >
                                <td>
                                    {{
                                        warranty.heading
                                    }}
                                </td>
                                <td>
                                    {{
                                        warranty.description
                                    }}
                                </td>
                                <td>
                                    <!-- <button
                                    nz-button
                                    nzType="primary"
                                    (click)="
                                        onSelectWording(
                                            wording
                                        )
                                    "
                                >
                                    Select
                                </button> -->
                                    <button
                                        nz-button
                                        nzType="default"
                                        (click)="
                                            onEditWarranty(
                                                warranty
                                            )
                                        "
                                    >
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-card nzTitle="Exclusions">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div
                                    style="width: 75%;"
                                >
                                    <nz-input-group
                                        [nzSuffix]="
                                            suffixIconSearch
                                        "
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by exclusion ID, exclusion type"
                                        />
                                    </nz-input-group>
                                    <ng-template
                                        #suffixIconSearch
                                    >
                                        <i
                                            nz-icon
                                            nzType="search"
                                        ></i>
                                    </ng-template>
                                </div>
                            </div>
                            <diV nz-col nzSpan="12">
                                <nz-select
                                    style="
                                        width: 200px;
                                    "
                                    nzShowSearch
                                    nzAllowClear
                                    nzPlaceHolder="Select a Exclusion"
                                    nzMode="multiple"
                                    [(ngModel)]="
                                        selectedExclusionValue
                                    "
                                >
                                    <nz-option
                                        *ngFor="
                                            let o of exclusionList
                                        "
                                        [nzLabel]="
                                            o.heading
                                        "
                                        [nzValue]="o"
                                    ></nz-option>
                                </nz-select>
                            </diV>
                        </div>
                    </div>
                    <nz-table
                        #exclusionTable
                        [nzData]="
                        selectedExclusionValue
                        "
                    >
                        <thead>
                            <tr>
                                <th>Heading</th>
                                <th>Details</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let exclusion of exclusionTable.data
                                "
                            >
                                <td>
                                    {{
                                        exclusion.heading
                                    }}
                                </td>
                                <td>
                                    {{
                                        exclusion.description
                                    }}
                                </td>
                                <td>
                                    <!-- <button
                                    nz-button
                                    nzType="primary"
                                    (click)="
                                        onSelectExtension(
                                            extension
                                        )
                                    "
                                >
                                    Select
                                </button> -->
                                    <button
                                        nz-button
                                        nzType="default"
                                        (click)="
                                            onEditExclusion(
                                                exclusion
                                            )
                                        "
                                    >
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </div>
        </div>
    </nz-collapse-panel>
  </nz-collapse>
