<nz-modal [(nzVisible)]="isViewPhotoUploadModalVisible" [nzTitle]="photoTitle" [nzContent]="photoUploadContent"
    [nzFooter]="null" (nzOnCancel)="closePhotoUploadModal()" (nzOnOk)="closePhotoUploadModal()" nzWidth="50%">

    <ng-template #photoUploadContent>
        <nz-spin nzSize="large" nzTip="Uploading Photo...." [nzSpinning]="isUploading">
            <nz-upload nzType="drag" (nzChange)="onFileSelected($event)">
                <p class="ant-upload-drag-icon">
                    <i nz-icon nzType="inbox"></i>
                </p>
                <p class="ant-upload-text">Click or drag file to this area to upload</p>
            </nz-upload>
        </nz-spin>
    </ng-template>
</nz-modal>