<div style="margin: 15px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            Claims
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Intimate Claim
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-page-header (nzBack)="backToTransactions()" nzBackIcon nzTitle="Intimate Claim">
    </nz-page-header>

    <!-- <nz-card style="padding: 20px"> -->
    <form nz-form style="margin-top: 20px;" [formGroup]="intimateClaimForm" (ngSubmit)="onSubmit()">
        <nz-card style="margin-bottom: 5px;">
            <nz-divider nzText="Claim Details" nzOrientation="left"></nz-divider>
            <div nz-row nzGutter="0">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzSpan="8" nzRequired>Client Name</nz-form-label>
                        <nz-form-control nzSpan="15">
                            <input nz-input formControlName="clientName">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="8" nzRequired>Service Provider</nz-form-label>
                        <nz-form-control nzSpan="15">
                            <nz-select nzPlaceHolder="Select service provider" formControlName="serviceProvider"
                                [(ngModel)]="serviceProviderClass" (ngModelChange)="onChangeProvider($event)">
                                <nz-option *ngFor="let o of serviceProvidersList" [nzValue]="o"
                                    [nzLabel]="o.companyName"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzSpan="8" nzRequired>Service Type</nz-form-label>
                        <nz-form-control nzSpan="15">
                            <nz-select nzPlaceHolder="Select service provider type" formControlName="serviceType"
                                [(ngModel)]="selectedType">
                                <nz-option nzLabel="Garage" nzValue="garage"></nz-option>
                                <nz-option nzLabel="Repairers" nzValue="repairers"></nz-option>
                                <nz-option nzLabel="Panel Beaters" nzValue="panel beaters"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired nzSpan="8">Claim Description</nz-form-label>
                        <nz-form-control nzSpan="15">
                            <textarea nz-input formControlName="claimDescription"></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzSpan="8" nzRequired>Booked by</nz-form-label>
                        <nz-form-control nzSpan="15">
                            <input nz-input formControlName="bookedBy">
                        </nz-form-control>
                    </nz-form-item>

                </div>
                <div nz-col nzSpan="12">

                    <nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired>Policy number</nz-form-label>
                        <nz-form-control nzSpan="16">
                            <input nz-input formControlName="policyNumber" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired>Select Risk</nz-form-label>
                            <nz-form-control nzSpan="16">
                                <nz-select nzPlaceHolder="Select risk" formControlName="risk">
                                    <nz-option nzValue="risk 1" nzLabel="risk 1"></nz-option>
                                    <nz-option nzValue="risk 2" nzLabel="risk 2"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-label nzSpan="7" nzRequired>Select Activity</nz-form-label>
                        <nz-form-control nzSpan="16">
                            <nz-select nzPlaceHolder="Select activity" formControlName="activity">
                                <nz-option nzValue="activity 1" nzLabel="activity 1"></nz-option>
                                <nz-option nzValue="activity 2" nzLabel="activity 2"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired nzSpan="7">Loss Date</nz-form-label>
                        <nz-form-control nzSpan="16">
                            <nz-date-picker formControlName="lossDate" nzFormat="dd-MM-yyyy"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired nzSpan="7">Notification Date</nz-form-label>
                        <nz-form-control nzSpan="16">
                            <nz-date-picker formControlName="notificationDate" nzFormat="dd-MM-yyyy">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-form-item>
                <nz-form-control>
                    <div style="text-align: center; margin-top: 10px">

                        <button nz-button nzType="primary" style="margin-right: 8px">Intimate Claim</button>
                        <button nz-button nzType="default" (click)="resetForm($event)">Reset Form</button>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </nz-card>
    </form>

    <!-- </nz-card> -->
</div>