<div style="margin: 20px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            Settings
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Intermediaries
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-card [nzBordered]="false" style="margin-top: 20px;">
        <nz-tabset>
            <nz-tab nzTitle="Intermediaries">
                <nz-card [nzBordered]="false">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group [nzSuffix]="suffixIconSearch">
                                        <input type="text" nz-input placeholder="Search by ID, name, date, branch" />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <button nz-button nzType="primary" style="float: right;"
                                    (click)="openAddAgentsFormDrawer()">
                                    Add Intermediary
                                </button>
                            </div>
                        </div>
                    </div>

                    <nz-table #intermediaryTable [nzData]="displayIntermediariesList" [nzSize]="'small'"
                        [nzBordered]="true" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Intermediary ID</th>
                                <th>Intermediary Name</th>
                                <th>Intermediary Type</th>
                                <th>Intermediary Email</th>
                                <th>Intermediary Phone Number</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let intermediary of intermediaryTable.data">
                                <td>{{ intermediary.intermediaryId }}</td>
                                <td>
                                    {{ intermediary.companyName ? intermediary.companyName : (intermediary.contactFirstName + ' ' + intermediary.contactLastName)}}
                                </td>
                                <td>{{ intermediary.intermediaryType }}</td>
                                <td>{{ intermediary.email ? intermediary.email : intermediary.contactEmail }}</td>
                                <td>{{ intermediary.phone ? intermediary.phone : intermediary.contactPhone }}</td>
                                <td>
                                    {{
                                        intermediary.dateCreated.seconds * 1000 | date
                                    }}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-tab>
        </nz-tabset>
    </nz-card>

    <nz-card nzTitle="Commission Setups" style="margin-top: 10px;">
        <div style="padding:30px;">
            <div nz-row [nzGutter]="12">
                <div nz-col [nzSpan]="12">
                    <nz-card nzTitle="Products">
                        <p>Card content</p>
                    </nz-card>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-card nzTitle="Commission">
                        <p>Card content</p>
                    </nz-card>
                </div>
            </div>
        </div>
    </nz-card>
</div>



<app-add-agent [isAddAgentsFormDrawerVisible]="addAgentsFormDrawerVisible"
    (closeAddAgentsFormDrawerVisible)="addAgentsFormDrawerVisible = false"></app-add-agent>