<div style="margin: 20px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            Settings
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Intermediaries
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div style="margin: 20px;">
        <nz-row nzGutter="24">
            <!-- Intermediary card starts here -->
            <nz-col nzSpan="8">
                <nz-card
                    [nzBordered]="false"
                    nzTitle="Intermediaries"
                    [nzExtra]="addIntermediaryButton"
                >
                    <ng-template #addIntermediaryButton>
                        <button
                            nz-button
                            nzType="primary"
                            style="float: right;"
                            (click)="openAddAgentsFormDrawer()"
                        >
                            Add Intermediary
                        </button>
                    </ng-template>
                    <div style="margin-bottom: 10px;">
                        <div nz-row>
                            <div nz-col>
                                <div style="width: 100%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by name, type"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-table
                        #intermediaryTable
                        [nzData]="displayIntermediariesList"
                        [nzSize]="'small'"
                        [nzBordered]="true"
                        style="background-color: white;"
                    >
                        <thead>
                            <tr>
                                <th>Intermediary Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let intermediary of intermediaryTable.data
                                "

                            >
                                <td>
                                    {{
                                        intermediary ? (intermediary.companyName ? intermediary.companyName : intermediary.contactFirstName + ' ' + intermediary.contactLastName) : ''
                                    }}
                                </td>
                                <td style="text-align: center;">
                                        <button
                                        nz-button
                                        nzType="primary"
                                        (click)="
                                            editViewIntermediary(intermediary)
                                        "
                                        nz-tooltip nzTooltipTitle="intermediary details"
                                    >
                                    <i nz-icon nzType="eye" nzTheme="outline"></i>
                                    </button>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <button
                                        nz-button
                                        nzType="default"
                                        (click)="
                                            changeSelectedIntermediary(
                                                intermediary
                                            )
                                        "
                                        nz-tooltip nzTooltipTitle="intermediary commission structure"
                                    >
                                    <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-col>
            <!-- Intermediary card ends here -->

            <!-- Products card starts here -->
            <nz-col nzSpan="8">
                <nz-card
                    [nzBordered]="false"
                    nzTitle="Commission Structure"
                    [nzExtra]="Intermediary"
                >
                    <ng-template #Intermediary>
                        <div *ngIf="selectedIntermediary">
                            <div
                                *ngIf="
                                    selectedIntermediary.intermediaryType ==
                                        'Agent' || 'Broker'
                                "
                            >
                                {{ selectedIntermediary.companyName }}<br> ({{selectedIntermediary.intermediaryType}})
                            </div>
                            <div
                                *ngIf="
                                    selectedIntermediary.intermediaryType ==
                                    'Sales Representative'
                                "
                            >
                                {{ selectedIntermediary.contactFirstName }}
                                {{ selectedIntermediary.contactLastName }}
                            </div>
                        </div>
                    </ng-template>

                    <div style="margin-bottom: 10px;">
                        <div nz-row>
                            <div nz-col>
                                <div style="width: 100%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by product"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-table
                        #commissionTable
                        [nzData]="displayCommissionList"
                        [nzSize]="'small'"
                        [nzBordered]="true"
                        style="background-color: white;"
                    >
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Commission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let commission of commissionTable.data"
                                style="cursor: pointer;"
                                (click)="changeSelectedCommission(commission)"
                            >
                                <td>
                                    {{ commission.productName }}
                                </td>
                                <td>
                                    {{ commission.commission / 100 | percent }}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-col>
            <!-- Products card ends here -->

            <!-- Commissions card starts here -->
            <nz-col nzSpan="8">
                <nz-card
                    [nzBordered]="false"
                    nzTitle="Commission Setup"
                    [nzExtra]="editButton"
                >
                    <ng-template #editButton>
                        <div *ngIf="!isEditmode">
                            <button
                                nz-button
                                nzType="primary"
                                style="float: right;"
                                (click)="editCommissionSetupsForm()"
                            >
                                Edit
                            </button>
                        </div>
                        <div *ngIf="isEditmode">
                            <button
                                nz-button
                                nzType="primary"
                                style="float: right;"
                                (click)="cancelEditCommissionForm()"
                            >
                                Cancel
                            </button>
                        </div>
                    </ng-template>

                    <form [formGroup]="commissionSetupForm">
                        <div>
                            <nz-form-item>
<!--                                <nz-form-label-->
<!--                                    [nzSpan]="10"-->
<!--                                    nzFor="intermediaryName"-->
<!--                                    >Intermediary Name-->
<!--                                </nz-form-label>-->
                                <nz-form-control nzSpan="10">

                                  <input nz-input formControlName="intermediaryName" [hidden]="true" />
<!--                                    <nz-select-->
<!--                                        nzPlaceHolder="Select intermediary name"-->
<!--                                        style="width: 100%;"-->
<!--                                        -->
<!--                                        [nzDisabled]="!isEditmode"-->
<!--                                    >-->
<!--                                        <div-->
<!--                                            *ngFor="-->
<!--                                                let intermediary of intermediariesList-->
<!--                                            "-->
<!--                                        >-->
<!--                                            <nz-option-->
<!--                                                [nzValue]="-->
<!--                                                    selectedIntermediary-->
<!--                                                "-->
<!--                                                [nzLabel]="selectedIntermediary ? (selectedIntermediary.companyName ? selectedIntermediary.companyName : selectedIntermediary.contactFirstName + ' ' + selectedIntermediary.contactLastName) : ''"-->
<!--                                            >-->
<!--                                            </nz-option>-->
<!--                                        </div>-->
<!--                                    </nz-select>-->
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div>
                            <nz-form-item>
                                <nz-form-label
                                    [nzSpan]="10"
                                    nzFor="intermediaryType"
                                    >Intermediary Type
                                </nz-form-label>
                                <nz-form-control nzSpan="10">
                                    <nz-select
                                        nzPlaceHolder="Select intermediary type"
                                        style="width: 100%;"
                                        formControlName="intermediaryType"
                                        [nzDisabled]="!isEditmode"
                                    >

                                            <nz-option
                                              *ngFor="
                                                let option of sourceOfBusinessOptions
                                            "
                                                [nzValue]="option.value"
                                                [nzLabel]="option.label"
                                            >
                                            </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="10" nzFor="productClass"
                                    >Class
                                </nz-form-label>
                                <nz-form-control nzSpan="10">
                                    <nz-select
                                        nzPlaceHolder="Select class"
                                        style="width: 100%;"
                                        (ngModelChange)="loadProducts()"
                                        formControlName="productClass"
                                        [nzDisabled]="!isEditmode"
                                    >

                                            <nz-option
                                              *ngFor="let classForProduct of classesList"
                                                [nzValue]="classForProduct.className"
                                                [nzLabel]="classForProduct.className"
                                            >
                                            </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="10" nzFor="productName"
                                    >Product
                                </nz-form-label>
                                <nz-form-control nzSpan="10">
                                    <nz-select
                                        nzPlaceHolder="Select product"
                                        style="width: 100%;"
                                        formControlName="productName"
                                        [nzDisabled]="!isEditmode"
                                    >

                                            <nz-option
                                              *ngFor="let product of productsList"
                                                [nzValue]="product.productName"
                                                [nzLabel]="product.productName"
                                            >
                                            </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div>
                            <nz-form-item>
                                <nz-form-label [nzSpan]="10" nzFor="commission"
                                    >Commission
                                </nz-form-label>
                                <nz-form-control nzSpan="10">
                                    <nz-input-group nzCompact>
                                        <input
                                            nz-input
                                            disabled="true"
                                            value="%"
                                            style="width: 30%;"
                                        />
                                        <input
                                            nz-input
                                            nzPlaceHolder=""
                                            formControlName="commission"
                                            [disabled]="!isEditmode"
                                            style="width: 70%;"
                                            type="number"
                                        />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div *ngIf="isEditmode">
                            <nz-form-item>
                                <nz-form-control>
                                    <div
                                        style="
                                            text-align: center;
                                            margin-top: 10px;
                                        "
                                    >
                                        <button
                                            nz-button
                                            nzType="primary"
                                            style="margin-right: 8px;"
                                            (click)="submitCommissionSetup()"
                                        >
                                            Save
                                        </button>
                                        <button
                                            nz-button
                                            nzType="default"
                                            (click)="
                                                commissionSetupForm.reset()
                                            "
                                        >
                                            Reset Form
                                        </button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </form>
                </nz-card>
            </nz-col>
            <!-- Commissions card ends here -->
        </nz-row>
    </div>
</div>

<!-- Drawers -->
<app-add-agent
    [isAddAgentsFormDrawerVisible]="addAgentsFormDrawerVisible"
    (closeAddAgentsFormDrawerVisible)="addAgentsFormDrawerVisible = false"
    (closeAddAgentsFormDrawerVisible)="recieveUpdate($event)"
></app-add-agent>

<app-add-product-commission
    [isAddProductCommissionFormDrawerVisible]="
        addProductCommissionFormDrawerVisible
    "
    [selectedIntermediary]="selectedIntermediary"
    (closeAddProductCommissionDrawerVisible)="
        addProductCommissionFormDrawerVisible = false
    "
>
</app-add-product-commission>
