<div>
    <nz-divider nzText="Vehicle Details" nzOrientation="left">
    </nz-divider>
    <form nz-form [formGroup]="vehicleDetailsForm">
        <div nz-row nzGutter="0">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="vehicleMake" nzRequired>
                        Vehicle Make
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="vehicleMake" [disabled]="isRiskEditMode" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="vehicleModel" nzRequired>
                        Vehicle Model
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="vehicleModel" [disabled]="isRiskEditMode" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired nzSpan="10">Year Of Manf</nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input formControlName="yearOfManufacture" type="number" maxlength="4"
                            [disabled]="isRiskEditMode" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="regNumber" nzRequired>Reg Number
                    </nz-form-label>
                    <nz-form-control nzSpan="10" nzHasFeedback [nzErrorTip]="
                            compRegNumberErrorTp
                        ">
                        <input nz-input name="regNumber" formControlName="regNumber" type="text" id="regNumber"
                            [disabled]="isRiskEditMode" />
                        <ng-template #compRegNumberErrorTp let-control>
                            <ng-container *ngIf="
                                    control.hasError(
                                        'required'
                                    )
                                ">
                                Please input your
                                Registration Number!
                            </ng-container>
                            <ng-container *ngIf="
                                    control.hasError(
                                        'duplicated'
                                    )
                                ">
                                The Registration
                                Number already
                                exists on an active
                                policy!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="engineNumber">Engine Number
                    </nz-form-label>
                    <nz-form-control nzSpan="10" nzHasFeedback [nzErrorTip]="
                            compEngineNumberErrorTp
                        ">
                        <input nz-input name="engineNumber" formControlName="engineNumber" type="text" id="engineNumber"
                            [disabled]="isRiskEditMode" />
                        <ng-template #compEngineNumberErrorTp let-control>
                            <!-- <ng-container *ngIf="
                                    control.hasError(
                                        'required'
                                    )
                                ">
                                Please input Engine
                                Number!
                            </ng-container> -->
                            <ng-container *ngIf="
                                    control.hasError(
                                        'duplicated'
                                    )
                                ">
                                The Engine Number
                                already exists on an
                                active policy!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="chassisNumber" nzRequired>
                        Chassis Number
                    </nz-form-label>
                    <nz-form-control nzSpan="10" nzHasFeedback [nzErrorTip]="
                            compChassisNumberErrorTp
                        ">
                        <input nz-input name="chassisNumber" formControlName="chassisNumber" type="text"
                            id="chassisNumber" [disabled]="isRiskEditMode" />
                        <ng-template #compChassisNumberErrorTp let-control>
                            <ng-container *ngIf="
                                    control.hasError(
                                        'required'
                                    )
                                ">
                                Please input Chassis
                                Number!
                            </ng-container>
                            <ng-container *ngIf="
                                    control.hasError(
                                        'duplicated'
                                    )
                                ">
                                The Chassis Number
                                already exists on an
                                active policy!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="color" nzRequired>Color
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input name="color" formControlName="color" type="text" id="color"
                            [disabled]="isRiskEditMode" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="cubicCapacity" nzRequired>
                        Cubic Capacity
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input name="cubicCapacity" formControlName="cubicCapacity" type="number"
                            id="cubicCapacity" [disabled]="isRiskEditMode" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="seatingCapacity" nzRequired>
                        Seating Capacity
                    </nz-form-label>
                    <nz-form-control nzSpan="10">
                        <input nz-input name="seatingCapacity" formControlName="seatingCapacity" type="number"
                            id="seatingCapacity" [disabled]="isRiskEditMode" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzSpan="10" nzRequired>Body Type</nz-form-label>
                    <nz-form-control nzSpan="10">
                        <nz-select formControlName="bodyType" [nzDisabled]="isRiskEditMode">
                            <nz-option *ngFor="
                                    let bodyType of vehicleBodyType
                                " [nzValue]="
                                    bodyType.value
                                " [nzLabel]="
                                    bodyType.label
                                "></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>