<nz-spin nzSize="large" nzTip="Policies Details Loading...." [nzSpinning]="policyRenewalDetailsIsLoading">
    <div class="policy-detail">
        <div style="margin: 15px;">
            <nz-breadcrumb>
                <nz-breadcrumb-item (click)="goToRenewPoliciesList()" style="cursor: pointer;">
                    Policies
                </nz-breadcrumb-item>
                <nz-breadcrumb-item (click)="goToRenewPoliciesList()" style="cursor: pointer;">
                    Policies List
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    Policy Details
                </nz-breadcrumb-item>
            </nz-breadcrumb>
            <nz-page-header (nzBack)="goToRenewPoliciesList()" nzBackIcon
                nzTitle="Policy Number: {{ policyData.policyNumber }}" [nzSubtitle]="policyData.client">
                <nz-page-header-extra>
                    <!-- <button nz-button nzType="default" (click)="isCertificatePDFVisible = true">
                        Certificate
                    </button>
                    <button nz-button nzType="default" (click)="isDebitNotePDFVisible = true">
                        Debit Note
                    </button>
                    <button nz-button nzType="default" (click)="isClausesPDFVisible = true">
                        Clauses
                    </button> -->

                    <button *ngIf="policyData.paymentPlan === 'NotCreated'" nz-button nzType="primary"
                        (click)="showPolicyModal(policyData)">
                        Create Payment Plan
                    </button>
                </nz-page-header-extra>
            </nz-page-header>
        </div>
    </div>
    <div style="margin: 15px;">
        <nz-card>
            <nz-divider nzText="Policy Details" nzOrientation="left"></nz-divider>
            <form nz-form [formGroup]="policyDetailsForm">
                <div nz-row nzGutter="0">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Name of Insured</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <input nz-input formControlName="nameOfInsured" [disabled]="!isEditmode" readonly />
                            </nz-form-control>
                        </nz-form-item>
                        <!-- <nz-form-item>
                            <nz-form-label nzSpan="7">Currency</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <input nz-input formControlName="currency" />
                            </nz-form-control>
                        </nz-form-item> -->
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired>Currency</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-select formControlName="currency" nzPlaceHolder="Select currency">
                                    <nz-option nzValue="ZMW" nzLabel="ZMW"></nz-option>
                                    <nz-option nzValue="Dollar" nzLabel="Dollar"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Sum Insured</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <input nz-input formControlName="sumInsured" [disabled]="!isEditmode" readonly />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzSpan="7">Premium</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <input nz-input formControlName="netPremium" [disabled]="!isEditmode" readonly />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Quarter</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-select formControlName="quarter" nzPlaceHolder="Select quarter" (ngModelChange)="
                                        handlePolicyEndDateCalculation()
                                    ">
                                    <nz-option nzValue="1" nzLabel="1"></nz-option>
                                    <nz-option nzValue="2" nzLabel="2"></nz-option>
                                    <nz-option nzValue="3" nzLabel="3"></nz-option>
                                    <nz-option nzValue="4" nzLabel="4"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <!-- <nz-form-item>
                            <nz-form-label nzSpan="7">Quarter</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <input
                                    nz-input
                                    formControlName="quarter"
                                    readonly
                                />
                            </nz-form-control>
                        </nz-form-item> -->
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Start Date</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-date-picker formControlName="startDate" nzFormat="dd-MM-yyyy" (ngModelChange)="
                                        handlePolicyEndDateCalculation()
                                    ">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">End Date</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-date-picker formControlName="endDate" [nzDisabled]="!isEditmode" readonly>
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzSpan="7">Date Of Issue</nz-form-label>
                            <nz-form-control nzSpan="5">
                                <nz-date-picker formControlName="dateOfIssue" [nzDisabled]="!isEditmode">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Time Of Issue</nz-form-label>
                            <nz-form-control nzSpan="5">
                                <nz-time-picker formControlName="timeOfIssue" [nzDisabled]="!isEditmode">
                                </nz-time-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Expiry Date</nz-form-label>
                            <nz-form-control nzSpan="17">
                                <nz-date-picker formControlName="expiryDate" [nzDisabled]="!isEditmode" readonly>
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
        <!-- Risk Details starts here -->
        <nz-card nzTitle="Risk Details" style="margin-bottom: 5px;">
            <!-- <div nz-row nzGutter="0" style="margin-top: 20px;">
                <div nz-col>
                    <nz-collapse>
                        <nz-collapse-panel nzHeader="Add Risk" [nzActive]="isAddRiskPanelOpen"
                            (nzActiveChange)="resetForms()">
                            
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>
            </div> -->
            <div nz-row>
                <div nz-col nzSpan="12" style="margin-bottom: 10px; width: 50%;">
                </div>
                <div nz-col nzSpan="12">
                    <button nz-button nzType="primary" style="float: right;" (click)="openAddRiskFormModal()">
                        Add Risk
                    </button>
                </div>
            </div>

            <!-- Risks Table Search bar and Table details start here -->
            <div style="margin-bottom: 20px; margin-top: 20px; width: 50%;">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Search by client, quotation number, agent" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </div>
            <nz-table #risksTable [nzSize]="'small'" [nzData]="displayRisks" [nzBordered]="true" id="risksTable">
                <thead>
                    <tr>
                        <th>Insurance Type</th>
                        <th>Product Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Sum Insured</th>
                        <th>Premium</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let risk of displayRisks; trackBy:trackByRiskId" style="cursor: pointer">
                        <td>{{ risk.insuranceType }}</td>
                        <td>{{ risk.productType }}</td>
                        <td>{{ risk.riskStartDate | date}}</td>
                        <td>{{ risk.riskEndDate | date}}</td>
                        <td>{{ risk.sumInsured | number }}</td>
                        <td>{{ risk.netPremium | number: '1.2-2' }}</td>
                        <td>
                            <button nz-button nzType="primary" (click)="viewRiskDetails(risk)">
                                View
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button nzType="danger" nz-popconfirm nzTitle="Delete Risk?"
                                (nzOnConfirm)="removeRisk(risk.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <!-- <div *ngIf="!isTabletemplate">
                <nz-table [nzData]="risks" [nzSize]="'small'" [nzBordered]="true" id="risksTemplateTable">
                    <thead>
                        <tr>
                            <th>insuranceType</th>
                            <th>regNumber</th>
                            <th>vehicleMake</th>
                            <th>vehicleModel</th>
                            <th>engineNumber</th>
                            <th>chassisNumber</th>
                            <th>color</th>
                            <th>productType</th>
                            <th>SumInsured</th>
                            <th>netPremium</th>
                        </tr>
                    </thead>
                </nz-table>
            </div> -->
        </nz-card>

        <nz-card>
            <nz-divider nzText="Endorsement Remarks" nzOrientation="left"></nz-divider>
            <form [formGroup]="endorsementForm">
                <div nz-row>
                    <div nz-col nzSpan="12" style="margin-bottom: 10px; width: 50%;">
                        <nz-form-item>
                            <nz-form-label nzSpan="7">Effect Date</nz-form-label>
                            <nz-form-control nzSpan="12">
                                <nz-date-picker formControlName="effectDate"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12" style="margin-bottom: 10px; width: 50%;">
                        <nz-form-item>
                            <nz-form-label nzSpan="7" nzRequired>Endorsement Remarks</nz-form-label>
                            <nz-form-control nzSpan="12">
                                <textarea formControlName="remark" nz-input rows="2" placeholder="remarks"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col>
                        <div style="text-align: center; margin-top: 10px; margin-bottom: 10px; ">
                            <button nz-button nzType="primary" (click)="renewPolicy()"
                                [disabled]="!policyDetailsForm.valid">
                                Renew Policy
                            </button>
                            <button nz-button nzType="default" style="margin-left: 15px;">Reset Form</button>
                        </div>
                    </div>
                </div>
            </form>
        </nz-card>
    </div>
</nz-spin>

<!-- Modals -->
<app-add-risk [isAddRiskFormModalVisible]="addRiskFormModalVisible" [policyEndDate]="policyData.endDate"
    (closeAddRiskFormModalVisible)="addRiskFormModalVisible = false" (sendAddRiskEmitter)="recieveAddedrisk($event)">
</app-add-risk>

<app-view-risk [isViewRiskModalVisible]="viewRiskModalVisible" (closeViewRiskModal)="viewRiskModalVisible=false"
    [riskData]="selectedRisk"></app-view-risk>

<nz-modal [nzVisible]="isPlanVisible" nzTitle="Payment Plan" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk(policyData)" [nzWidth]="800">
    <div nz-row nzGutter="0">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="9" nzFor="paymentPlan">Payment Plan</nz-form-label>
                <nz-form-control nzSpan="15">
                    <nz-select name="paymentPlan" nzShowSearch nzAllowClear [(ngModel)]="selectedPlanValue"
                        nzPlaceHolder="Choose Payment Plan">
                        <nz-option *ngFor="let option of optionList" [nzValue]="option.value" [nzLabel]="option.label">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div *ngIf="selectedPlanValue === 'fully'">
        <div nz-row nzGutter="0">
            <div nz-col [nzSpan]="12" style="margin-left: 20px;">
                <p>Click Ok to Proceed To Receipt</p>
            </div>
        </div>
    </div>

    <div *ngIf="selectedPlanValue === 'plan'">
        <div nz-row nzGutter="0" style="margin-left: 20px;">
            <form nz-form [nzLayout]="'inline'" [formGroup]="paymentPlanForm">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12" nzFor="numberOfInstallments">Number Of Installments
                    </nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Please input your username!">
                        <input id="numberOfInstallments" type="number" nz-input
                            formControlName="numberOfInstallments" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired>Initial Installment Date
                    </nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24">
                        <nz-date-picker formControlName="startDate"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="12" nzFor="initialInstallmentAmount">Initial Installment Amount
                    </nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Please input your username!">
                        <input id="initialInstallmentAmountt" type="number" nz-input
                            formControlName="initialInstallmentAmount" />
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</nz-modal>

<nz-modal nzWidth="700" nzTitle="A Plus General Insurance" [(nzVisible)]="isCertificatePDFVisible"
    (nzOnCancel)="isCertificatePDFVisible = false" (nzOnOk)="isCertificatePDFVisible = false">
    <nz-card [nzBordered]="true" nzTitle="Policy Certificate Document">
        <app-policy-certificate-document *ngIf="!risksLoading" [clientName]="clientName" [clientNumber]="clientNumber"
            [clientEmail]="''" [insuredName]="clientName" [policyRisk]="policyRisk" [policyNumber]="policyNumber"
            [issueDate]="issueDate" [issueTime]="issueTime" [policy]="policyData">
        </app-policy-certificate-document>
    </nz-card>
</nz-modal>

<nz-modal style="width: 100%;" nzWidth="800" nzTitle="A Plus General Insurance" [(nzVisible)]="isDebitNotePDFVisible"
    (nzOnCancel)="isDebitNotePDFVisible = false" (nzOnOk)="isDebitNotePDFVisible = false">
    <nz-card style="width: 100%;" [nzBordered]="true" nzTitle="Debit Document">
        <app-policy-debit-note-document *ngIf="!risksLoading" [clientName]="clientName" [clientNumber]="clientNumber"
            [clientEmail]="clientEmail" [agency]="agency" [policyNumber]="policyNumber"
            [classOfBusiness]="classOfBusiness" [coverFrom]="coverForm" [coverTo]="coverTo"
            [basicPremium]="basicPremium" [loadingAmount]="loadingAmount" [discountAmount]="discountAmount"
            [totalAmount]="totalAmount" [risk]="policyRisk" [policy]="policyData">
        </app-policy-debit-note-document>
    </nz-card>
</nz-modal>

<nz-modal style="width: 100%;" nzTitle="A Plus General Insurance" [(nzVisible)]="isSchedulePDFVisible"
    (nzOnCancel)="isSchedulePDFVisible = false" (nzOnOk)="isSchedulePDFVisible = false">
    <nz-card style="width: 100%;" [nzBordered]="true" nzTitle="Schedule Document">
        <!-- <app-policy-certificate-document></app-policy-certificate-document> -->
    </nz-card>
</nz-modal>

<nz-modal style="width: 100%;" nzWidth="800" nzTitle="A Plus General Insurance" [(nzVisible)]="isClausesPDFVisible"
    (nzOnCancel)="isClausesPDFVisible = false" (nzOnOk)="isClausesPDFVisible = false">
    <nz-card style="width: 100%;" [nzBordered]="true" nzTitle="Policy Clauses Document">
        <app-policy-clauses-document></app-policy-clauses-document>
    </nz-card>
</nz-modal>