<div style="
        display: flex;
        margin-bottom: 15px;
        align-items: flex-end;
        width: 100%;
    ">
    <!-- <button nz-button nzType="primary" style="margin-right: 8px;" (click)="htmlToPdf()">
        Download
    </button> -->
    <button nz-button nzType="primary" [useExistingCss]="true" [printSectionId]="'debitPrintSection'" ngxPrint>
        Print
    </button>
</div>
<div id="debitPrintSection">
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="6">
                    <table>
                        <tr>

                            <td class="title"> <img src="/assets/images/Savenda-Logo-Final.png"
                                    style="width: 100%; max-width: 100px;" /></td>

                            <td style="
                                    font-size: 11px;
                                    float: right !important;
                                ">
                                Savenda General Insurance LTD<br />
                                Plot 20849 PSC Corporate Park, <br />
                                P.O Box 30363, Lusaka Zambia<br />
                                Tel: :+260 977 893 878, +260 960 344 478<br />

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <hr style="width: 100%; height: 1px; background-color: black;" />

        <table>
            <tr class="information">
                <td colspan="6">
                    <p id="title" style="font-weight: bold; color: rgb(56, 25, 101);">TAX INVOICE</p>
                </td>
            </tr>
            <tr class="subTitle">
                <td>
                    <p style="float: right !important;">
                        <span style="font-weight: bold;">TPIN No</span>: 1003035014
                    </p>
                    <span style="font-weight: bold;">VAT REGISTRATION No: </span>{{' '}}{{' TBA'}}
                </td>
            </tr>
        </table>

        <hr style="width: 100%; height: 1px; background-color: black;" />

        <br />

        <table>
            <tr class="information">
                <td colspan="6">
                    <span style="font-weight: bold;">Invoice
                        No:</span>{{' '}}{{policyDebitNote ? policyDebitNote.debitNoteNumber : '-'}}
                </td>
                <td colspan="6">
                    <span
                        style="font-weight: bold;">Date:</span>{{' '}}{{policyDebitNote ? (policyDebitNote.dateCreated | date) : '-' }}
                </td>
                <td>
                    <span style="font-weight: bold;">Policy No:</span>{{' '}}{{policy?.policyNumber}}
                </td>
            </tr>
        </table>

        <hr style="width: 100%; height: 1px; background-color: black;" />

        <br />
        <table>
            <tr>
                <td>
                    <span style="font-weight: bold;">Insured</span>:{{' '}} {{ policy.nameOfInsured }}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Address</span>:{{' '}} {{ client ? client.address : '-' }}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Telephone</span>:{{' '}} {{ client ? client.phone : '-' }}
                </td>
                <!-- <td style="float: right !important;">
                    <span style="font-weight: bold;">Agent:
                        {{
                            policy.sourceOfBusiness.toLocaleLowerCase() == 'direct'
                                ? 'Direct'
                                : policy.intermediaryName
                        }}</span>
                </td> -->
            </tr>
        </table>

        <br />

        <hr style="width: 100%; height: 1px; background-color: black;" />
        <table>
            <tr class="information">
                <td colspan="6">
                    <span style="font-weight: bold;">
                        <p>Period of insurance</p>
                    </span>
                    <table>
                        <tr>
                            <td><span style="font-weight: bold;">
                                    From
                                </span></td>
                            <td>{{policy.startDate | date:'hh:mm:ss'}}</td>
                            <td>{{policy.startDate | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td><span style="font-weight: bold;">
                                    To
                                </span></td>
                            <td>{{policy.endDate | date:'hh:mm:ss'}}</td>
                            <td>{{policy.endDate | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </table>

                </td>
                <td colspan="6">
                    <span style="font-weight: bold;">ENDORSEMENT-ADDITIONS</span>
                </td>
                <td>
                    <span style="font-weight: bold;">Endorsement No:</span>{{' '}}{{''}}
                </td>
            </tr>
        </table>
        <hr style="width: 100%; height: 1px; background-color: black;" />
        <br />
        <table>
            <tr>
                <td><span style="font-weight: bold;">Class:</span>{{' '}}{{policy.class.className}}</td>
                <td *ngIf="policy.class.className == 'Motor'"><span style="font-weight: bold;">Sub
                        Class:</span>{{' '}}{{policy?.risks[0]?.insuranceType}}</td>
                <td *ngIf="policy.class.className == 'Fire'"><span style="font-weight: bold;">Sub
                        Class:</span>{{' '}}{{policy?.risks[0]?.property?.subClass}}</td>
                <td *ngIf="policy.class.className == 'Accident'"><span style="font-weight: bold;">Sub
                        Class:</span>{{' '}}{{policy?.risks[0]?.accidentProduct?.subClass}}</td>
                <td *ngIf="policy.class.className == 'Marine'"><span style="font-weight: bold;">Sub
                        Class:</span>{{' '}}{{policy?.risks[0]?.marineProduct?.subClass}}</td>
                <td *ngIf="policy.class.className == 'Engineering'"><span style="font-weight: bold;">Sub
                        Class:</span>{{' '}}{{policy?.risks[0]?.engineeringProduct?.subClass}}</td>
                <td></td>
            </tr>
        </table>

        <br />
        <p><span style="font-weight: bold;">Invoice Totals</span></p>
        <table>
            <tr>
                <td>
                    <span style="font-weight: bold;">Total Sum Insured</span>:
                    {{' '}}{{ policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ policy.sumInsured }}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Total Premium</span>:
                    {{' '}}{{ policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ basicPremium }}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Total Levy</span>:
                    {{' '}}{{ policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ premiumLevy }}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Total Payable</span>:
                    {{' '}}{{ policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ policy.netPremium }}
                </td>
            </tr>
        </table>

        <hr style="width: 100%; height: 1px; background-color: black;" />
        <br />

        <span style="font-weight: bold;">Remarks: </span>
        <br />

        <br>
        <span style="font-weight: bold;">Insured risks</span>
        <hr style="width: 100%; height: 1px; background-color: black;" />
        <br />

        <table style="width: 100%; font-size: 12px;" #risksTable nzFrontPagination="false" nzShowPagination="false">
            <tr class="heading">
                <th>
                    No.
                </th>
                <th>
                    Cover No.
                </th>
                <th *ngIf="policy.class.className == 'Motor'">
                    Reg No.
                </th>
                <th *ngIf="policy.class.className == 'Motor'">
                    Make
                </th>
                <th *ngIf="policy.class.className == 'Fire'">
                    Risk ID.
                </th>
                <th *ngIf="policy.class.className == 'Fire'">
                    Risk Description
                </th>
                <th *ngIf="policy.class.className == 'Accident'">
                    Risk ID.
                </th>
                <th *ngIf="policy.class.className == 'Accident'">
                    Risk Description
                </th>
                <th *ngIf="policy.class.className == 'Marine'">
                    Risk ID.
                </th>
                <th *ngIf="policy.class.className == 'Marine'">
                    Risk Description
                </th>
                <th *ngIf="policy.class.className == 'Engineering'">
                    Risk ID.
                </th>
                <th *ngIf="policy.class.className == 'Engineering'">
                    Risk Description
                </th>
                <th>
                    Sum Insured
                </th>
                <th>
                    Premium
                </th>
                <th>
                    Levy
                </th>
                <th>
                    Premium Due
                </th>
            </tr>

            <tr *ngFor="let risk of policy.risks" class="details">
                <td></td>
                <td>
                    {{coverNotes ? coverNote(risk) : '-'}}</td>
                <td *ngIf="policy.class.className == 'Motor'">
                    {{risk?.vehicle?.regNumber}}
                </td>
                <td *ngIf="policy.class.className == 'Motor'">
                    {{risk?.vehicle?.vehicleMake}}
                </td>
                <td *ngIf="policy.class.className == 'Fire'">
                    {{risk?.property?.propertyId}}
                </td>
                <td *ngIf="policy.class.className == 'Fire'">
                    {{risk?.property?.propertyDescription}}
                </td>
                <td *ngIf="policy.class.className == 'Accident'">
                    {{risk?.accidentProduct?.riskProductId}}
                </td>
                <td *ngIf="policy.class.className == 'Accident'">
                    {{risk?.accidentProduct?.riskDescription}}
                </td>
                <td *ngIf="policy.class.className == 'Marine'">
                    {{risk?.marineProduct?.riskProductId}}
                </td>
                <td *ngIf="policy.class.className == 'Marine'">
                    {{risk?.marineProduct?.riskDescription}}
                </td>
                <td *ngIf="policy.class.className == 'Engineering'">
                    {{risk?.engineeringProduct?.riskProductId}}
                </td>
                <td *ngIf="policy.class.className == 'Engineering'">
                    {{risk?.engineeringProduct?.riskDescription}}
                </td>
                <td>
                    {{policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ risk?.sumInsured}}
                </td>
                <td>
                    {{policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ risk?.basicPremium}}
                </td>
                <td>
                    {{policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ risk?.premiumLevy}}
                </td>
                <td>
                    {{policy.currency == 'ZMW' ? 'ZMW' : 'USD' }}{{' '}}{{ risk?.netPremium }}
                </td>
            </tr>
        </table>

        <hr style="width: 100%; height: 1px; background-color: black;" />
        <br />
        <br />
        <br />
        <p style="font-weight: bold; text-align: left;">
            Prepared By: ................................................<span style="float: right;">
                Approved By: ................................................</span>
        </p>

        <br />

    </div>
</div>