<div style="margin: 20px;">
    <div style="margin-bottom: 20px; background: #fff;">
        <nz-page-header>
            <nz-page-header-title>Receipts</nz-page-header-title>
            <nz-page-header-subtitle
                >List of all receipts</nz-page-header-subtitle
            >
            <nz-page-header-extra> </nz-page-header-extra>
            <nz-page-header-content>
                <nz-descriptions [nzColumn]="3">
                    <nz-descriptions-item
                        nzTitle="Total Receipts"
                        [nzSpan]="1"
                        >{{ receiptsCount }}</nz-descriptions-item
                    >
                </nz-descriptions>
            </nz-page-header-content>
        </nz-page-header>
    </div>
    <nz-card [nzBordered]="false">
        <nz-tabset>
            <nz-tab nzTitle="Unreceipted">
                <nz-card [nzBordered]="false">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by type, account type"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-table
                        #unreceiptedTable
                        [nzData]="unreceiptedList"
                        [nzSize]="'small'"
                        [nzBordered]="true"
                    >
                        <thead>
                            <tr>
                                <th>Quote ID</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Client Name</th>
                                <th>Quote Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let unreceipted of unreceiptedTable.data
                                "
                            >
                                <td>{{ unreceipted.quoteNumber }}</td>
                                <td>
                                    {{
                                        unreceipted.startDate.seconds * 1000
                                            | date
                                    }}
                                </td>
                                <td>
                                    {{
                                        unreceipted.endDate.seconds * 1000
                                            | date
                                    }}
                                </td>
                                <td>{{ unreceipted.clientCode }}</td>
                                <td>
                                    <nz-badge
                                        [nzStatus]="
                                            unreceipted.status === 'Draft'
                                                ? 'warning'
                                                : 'success'
                                        "
                                        [nzText]="unreceipted.status"
                                    ></nz-badge>
                                </td>
                                <td>
                                    <button
                                        nz-button
                                        nzType="primary"
                                        (click)="showModal(unreceipted)"
                                    >
                                        <i nz-icon nzType="form"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>

                    <nz-modal
                        [(nzVisible)]="isVisible"
                        nzTitle="Capture Form"
                        (nzOnCancel)="handleCancel()"
                        (nzOnOk)="handleOk()"
                        [nzOkLoading]="isOkLoading"
                        [nzWidth]="'1200'"
                    >
                        <nz-card
                            style="width:90%; margin: 0 auto;"
                            [nzBordered]="true"
                            nzTitle="Personal Details"
                        >
                            <form [formGroup]="receiptForm" nz-form>
                                <div nz-row>
                                    <div nz-col [nzSpan]="12">
                                        <nz-form-item>
                                            <nz-form-label
                                                [nzSpan]="8"
                                                nzFor="receivedFrom"
                                                >Received From</nz-form-label
                                            >
                                            <nz-form-control [nzSpan]="16">
                                                <input
                                                    nz-input
                                                    formControlName="receivedFrom"
                                                    name="receivedFrom"
                                                    type="text"
                                                    id="receivedFrom"
                                                    placeholder="Received From"
                                                />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>

                                    <div nz-col [nzSpan]="12">
                                        <nz-form-item>
                                            <nz-form-label
                                                [nzSpan]="8"
                                                nzFor="sumInDigits"
                                                >Amount</nz-form-label
                                            >
                                            <nz-form-control [nzSpan]="16">
                                                <input
                                                    nz-input
                                                    formControlName="sumInDigits"
                                                    name="sumInDigits"
                                                    type="sumInDigits"
                                                    id="sumInDigits"
                                                    placeholder="Sum In Digits"
                                                />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col [nzSpan]="12">
                                        <nz-form-item>
                                            <nz-form-label
                                                [nzSpan]="8"
                                                nzFor="paymentMethod"
                                                >Payment Method</nz-form-label
                                            >
                                            <nz-form-control [nzSpan]="16">
                                                <input
                                                    nz-input
                                                    formControlName="paymentMethod"
                                                    name="paymentMethod"
                                                    id="paymentMethod"
                                                    placeholder="Payment Method"
                                                />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                            </form>
                        </nz-card>
                    </nz-modal>
                </nz-card>
            </nz-tab>

            <nz-tab nzTitle="Receipted">
                <nz-card [nzBordered]="false">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by account id, account name, bank"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-table
                        #receiptTable
                        [nzData]="receiptedList"
                        [nzSize]="'small'"
                        [nzBordered]="true"
                        style="background-color: white;"
                    >
                        <thead>
                            <tr>
                                <th>Receipt Number</th>
                                <th>Client Name</th>
                                <th>Amount</th>
                                <th>Date Receipted</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let receipt of receiptTable.data"
                                class="table-row"
                            >
                                <td>{{ receipt.receiptNumber }}</td>
                                <td>{{ receipt.onBehalfOf }}</td>
                                <td>{{ receipt.sumInDigits }}</td>

                                <td>
                                    {{
                                        receipt.todayDate.seconds * 1000 | date
                                    }}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-tab>
        </nz-tabset>
    </nz-card>
</div>
