<div style="margin: 20px;">
    <div style="margin-bottom: 20px; background: #fff;">
        <nz-page-header>
            <nz-page-header-title>Receipts</nz-page-header-title>
            <nz-page-header-subtitle
                >List of all receipts</nz-page-header-subtitle
            >
            <nz-page-header-extra> </nz-page-header-extra>
            <nz-page-header-content>
                <nz-descriptions [nzColumn]="3">
                    <nz-descriptions-item
                        nzTitle="Total Unreceipted Receipts"
                        [nzSpan]="1"
                        >{{ receiptsCount }}</nz-descriptions-item
                    >
                </nz-descriptions>
            </nz-page-header-content>
            <nz-page-header-extra>
                <button
                    nz-button
                    nzType="primary"
                    (click)="showClientTypeModal()"
                >
                    Select Client Type
                </button>

                <nz-modal
                    [(nzVisible)]="isVisibleClientType"
                    nzTitle="Client Type"
                    (nzOnCancel)="handleCancelClientType()"
                    (nzOnOk)="handleOkClientType()"
                    [nzOkLoading]="isOkClientTypeLoading"
                >
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <nz-select [(ngModel)]="selectedType">
                                <nz-option
                                    *ngFor="let option of typeOfClient"
                                    [nzLabel]="option"
                                    [nzValue]="option"
                                    placeholder="Select Agent"
                                ></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </nz-modal>

                <ng-container *ngIf="selectedType === 'Broker'">
                    <button
                        nz-button
                        nzType="default"
                        (click)="showBrokerReceiptModal()"
                    >
                        Receipt Broker
                    </button>

                    <nz-modal
                        [(nzVisible)]="isVisibleBrokerReceipting"
                        nzTitle="Client Type"
                        (nzOnCancel)="handleCancelBrokerReceipting()"
                        (nzOnOk)="handleOkBrokerReceipting()"
                        [nzOkLoading]="isOkBrokerReceiptingLoading"
                        [nzWidth]="'1200'"
                    >
                        <form [formGroup]="receiptForm" nz-form>
                            <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="8"
                                            nzFor="receivedFrom"
                                            >Received From</nz-form-label
                                        >
                                        <nz-form-control
                                            [nzSpan]="16"
                                            nzErrorTip="Please enter Depositor's name!"
                                        >
                                            <input
                                                nz-input
                                                formControlName="received_from"
                                                name="receivedFrom"
                                                type="text"
                                                id="receivedFrom"
                                                nzRequired
                                                placeholder="Received From"
                                            />
                                            <span
                                                class="text-danger"
                                                *ngIf="
                                                    (receiptFormControl
                                                        .received_from.touched ||
                                                        submitted) &&
                                                    receiptFormControl
                                                        .received_from.errors
                                                        ?.required
                                                "
                                            >
                                                Please enter Depositor's name!
                                            </span>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="8"
                                            nzFor="onBehalfOf"
                                            >On Behalf Of</nz-form-label
                                        >
                                        <nz-form-control
                                            [nzSpan]="16"
                                            nzErrorTip="Please enter Broker's name!"
                                        >
                                            <nz-select
                                                name="onBehalfOf"
                                                formControlName="on_behalf_of"
                                                nzAllowClear
                                                nzPlaceHolder="Choose Broker"
                                            >
                                                <nz-option
                                                    *ngFor="
                                                        let broker of brokerList
                                                    "
                                                    [nzValue]="
                                                        broker
                                                    "
                                                    [nzLabel]="
                                                        broker.companyName
                                                    "
                                                ></nz-option>
                                            </nz-select>

                                            <span
                                                class="text-danger"
                                                *ngIf="
                                                    (receiptFormControl
                                                        .on_behalf_of.touched ||
                                                        submitted) &&
                                                    receiptFormControl
                                                        .on_behalf_of.errors
                                                        ?.required
                                                "
                                            >
                                                Please enter Broker's name!
                                            </span>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="8"
                                            nzFor="sumInDigits"
                                            nzRequired
                                            >Amount</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="16">
                                            <input
                                                formControlName="sum_in_digits"
                                                nz-input
                                                name="sumInDigits"
                                                type="number"
                                                id="sumInDigits"
                                                placeholder="Please Enter Amount"
                                            />
                                            <span
                                                class="text-danger"
                                                *ngIf="
                                                    (receiptFormControl
                                                        .sum_in_digits.touched ||
                                                        submitted) &&
                                                    receiptFormControl
                                                        .sum_in_digits.errors
                                                        ?.required
                                                "
                                            >
                                                Please enter sum in digits!
                                            </span>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="6"
                                            nzFor="receiptType"
                                            nzRequired
                                            >Receipt Type</nz-form-label
                                        >
                                        <nz-form-control nzSpan="18">
                                            <nz-select
                                                name="receiptType"
                                                formControlName="receipt_type"
                                                nzAllowClear
                                                nzPlaceHolder="Choose"
                                            >
                                                <nz-option
                                                    *ngFor="
                                                        let option of optionList
                                                    "
                                                    [nzValue]="option.value"
                                                    [nzLabel]="option.label"
                                                ></nz-option>
                                            </nz-select>
                                            <span
                                                class="text-danger"
                                                *ngIf="
                                                    (receiptFormControl
                                                        .receipt_type.touched ||
                                                        submitted) &&
                                                    receiptFormControl
                                                        .receipt_type.errors
                                                        ?.required
                                                "
                                            >
                                                Please choose receipt type!
                                            </span>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="8"
                                            nzFor="paymentMethod"
                                            nzRequired
                                            >Payment Method</nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="16">
                                            <nz-select
                                                name="paymentMethod"
                                                formControlName="payment_method"
                                                nzAllowClear
                                                nzPlaceHolder="Choose payment Method"
                                            >
                                                <nz-option
                                                    *ngFor="
                                                        let method of paymentMethodList
                                                    "
                                                    [nzValue]="method.value"
                                                    [nzLabel]="method.label"
                                                ></nz-option>
                                            </nz-select>
                                            <span
                                                class="text-danger"
                                                *ngIf="
                                                    (receiptFormControl
                                                        .payment_method
                                                        .touched ||
                                                        submitted) &&
                                                    receiptFormControl
                                                        .payment_method.errors
                                                        ?.required
                                                "
                                            >
                                                Please choose payment method!
                                            </span>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label
                                            [nzSpan]="6"
                                            nzFor="narration"
                                            nzRequired
                                            >Narration</nz-form-label
                                        >
                                        <nz-form-control nzSpan="18">
                                            <textarea
                                                formControlName="narration"
                                                nz-input
                                                rows="2"
                                                placeholder="Write Your Narration Here"
                                            ></textarea>
                                            <span
                                                class="text-danger"
                                                *ngIf="
                                                    (receiptFormControl
                                                        .narration.touched ||
                                                        submitted) &&
                                                    receiptFormControl.narration
                                                        .errors?.required
                                                "
                                            >
                                                Please enter your Narration!
                                            </span>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </form>
                    </nz-modal>
                </ng-container>
            </nz-page-header-extra>
        </nz-page-header>
    </div>
    <div *ngIf="selectedType === 'Direct'">
        <app-direct-client></app-direct-client>
    </div>

    <div *ngIf="selectedType === 'Agent'">
        <app-agent-client></app-agent-client>
    </div>

    <div *ngIf="selectedType === 'Broker'">
        <app-broker-client></app-broker-client>
    </div>

    <div *ngIf="selectedType === 'Sales Representatives'">
        <app-sales-representative-client></app-sales-representative-client>
    </div>
    <div>
      <app-plan-receipt *ngIf="selectedType === 'Plan Receipt'"></app-plan-receipt>
    </div>
</div>
