<div style="margin: 20px;">
    <div style="margin-bottom: 20px; background: #fff;">
        <nz-page-header>
            <nz-page-header-title>Quotes</nz-page-header-title>
            <nz-page-header-subtitle
                >List of all quotes</nz-page-header-subtitle
            >
            <nz-page-header-content>
                <nz-descriptions [nzColumn]="3">
                    <nz-descriptions-item nzTitle="Total Quotes" [nzSpan]="1">{{
                        quotesCount
                    }}</nz-descriptions-item>
                </nz-descriptions>
            </nz-page-header-content>
        </nz-page-header>
    </div>
    <nz-card>
        <div style="margin-bottom: 20px; width: 50%;">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                    type="text"
                    nz-input
                    placeholder="Search by client, quotation number"
                    [(ngModel)]="searchString"
                    (ngModelChange)="search($event)"
                />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <nz-table
            #quotesTable
            [nzData]="displayQuotesList"
            [nzSize]="'small'"
            [nzBordered]="true"
        >
            <thead>
                <tr>
                    <th>Quote ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Client Name</th>
                    <th>Quote Status</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let quote of quotesTable.data"
                    (click)="viewDetails(quote)"
                    style="cursor: pointer;"
                >
                    <td>{{ quote.quoteNumber }}</td>
                    <td>{{ quote.startDate.seconds * 1000 | date }}</td>
                    <td>{{ quote.endDate | date}}</td>
                    <td>{{ quote.client }}</td>
                    <td>
                        <nz-badge
                            [nzStatus]="
                                quote.status === 'Draft' ? 'warning' : 'success'
                            "
                            [nzText]="quote.status"
                        ></nz-badge>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</div>
