<nz-spin
    [nzSize]="'large'"
    [nzSpinning]="loadingReceipt"
    [nzTip]="'Loading PDF'"
>
    <div style="margin: 15px;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                Finance
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Receipts
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                View Receipts
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-page-header nzBackIcon [nzTitle]="title">
            <ng-template #title>
                <div style="display: flex; align-items: center;">
                    <span style="margin-right: 8px;">Receipt </span>
                </div>
            </ng-template>
            <nz-page-header-extra>
                <button nz-button nzType="primary" (click)="htmlToPdf()">
                    Print
                </button>
                <button nz-button nzType="primary">
                    Email
                </button>
                <button nz-button nzType="primary">
                    Download
                </button>
            </nz-page-header-extra>
        </nz-page-header>
        <nz-card>
            <nz-divider
                nzText="Receipt Details"
                nzOrientation="left"
            ></nz-divider>
            <nz-spin [nzSpinning]="generatingPDF">
                <div class="invoice-box" id="printSection">
                    <table cellpadding="0" cellspacing="0">
                        <tr class="top">
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td class="title td2">
                                            <img
                                                src="assets/images/apluslogo.png"
                                                style="
                                                    width: 100%;
                                                    max-width: 300px;
                                                "
                                            />
                                        </td>
                                        <td class="td2">
                                            A Plus General Insurance<br />
                                            Plot No. 402, Roma Park, Zambezi
                                            Road<br />
                                            P.O. Box 31700, Lusaka Zambia<br />
                                            Tel: +260 211 239865/6 -
                                            Tele/Fax:+260 211 239867<br />
                                            E-mail: info@aplusgeneral.com<br />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <hr
                        style="
                            width: 100%;
                            height: 2px;
                            background-color: black;
                        "
                    />

                    <table>
                        <tr>
                            <td class="td2">
                                <span style="font-weight: bold;">TPIN</span>
                                <span style="font-weight: bold; color: red;"
                                    >1002167568</span
                                >
                            </td>
                            <td class="td3">
                                <span style="font-weight: bold;"
                                    >Receipt#:</span
                                >
                                <span style="font-weight: bold; color: red;">
                                    {{ receipt.receiptNumber }}</span
                                >
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="td3">
                                <span style="font-weight: bold;">Invoce#:</span>
                                <span style="font-weight: bold; color: red;">
                                    {{ receipt.receiptNumber }}</span
                                >
                            </td>
                        </tr>
                    </table>

                    <br />

                    <table>
                        <tr>
                            <td class="td2">
                                <span style="font-weight: bold;"
                                    >Captured By: {{ receipt.capturedBy }}</span
                                >
                            </td>
                            <td class="td3">
                                <span style="font-weight: bold;"
                                    >Date issued :
                                    {{ receipt.todayDate | date }}</span
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="td2">
                                <span style="font-weight: bold;"
                                    >Received From:
                                    {{ receipt.receivedFrom }}</span
                                >
                            </td>
                            <td class="td3">
                                <span style="font-weight: bold;"
                                    >On Behalf Of:
                                    {{ receipt.onBehalfOf }}</span
                                >
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="td3">
                                <span style="font-weight: bold;"
                                    >Amount In Words:
                                    {{ toWords(receipt.sumInDigits) }}</span
                                >
                            </td>
                        </tr>
                    </table>

                    <br />

                    <table
                        style="
                            border: 1px solid black;
                            border-collapse: collapse;
                        "
                    >
                        <tr class="heading">
                            <th class="td2" style="border: 1px solid black;">
                                Receipt Type
                            </th>
                            <th class="td2" style="border: 1px solid black;">
                                Payment Method
                            </th>
                            <th class="td2" style="border: 1px solid black;">
                                Amount Paid
                            </th>
                        </tr>
                        <tr class="details">
                            <td class="td2" style="border: 1px solid black;">
                                {{ receipt.receiptType }}
                            </td>
                            <td class="td2" style="border: 1px solid black;">
                                {{ receipt.paymentMethod }}
                            </td>
                            <td class="td2" style="border: 1px solid black;">
                                {{ receipt.sumInDigits | number: '1.2-2' }}
                            </td>
                        </tr>
                    </table>

                    <p
                        style="
                            text-align: right;
                            font-weight: bold;
                            text-align: right;
                        "
                    >
                        Total {{ receipt.sumInDigits | number: '1.2-2' }}
                    </p>
                    <br />

                    <p style="font-weight: bold;">
                        Naration: {{ receipt.narration }}
                    </p>
                    <p style="font-weight: bold;">
                        Remarks: {{ receipt.remarks }}
                    </p>
                    <p style="font-weight: bold;">Signature:</p>
                    <br />
                </div>
            </nz-spin>
            <!-- <pdf-viewer #page [src]="receiptURl" [original-size]="false"></pdf-viewer> -->
        </nz-card>
    </div>
</nz-spin>
