<div style="
        display: flex;
        margin-bottom: 15px;
        align-items: flex-end;
        width: 100%;
    ">
    <button nz-button nzType="primary" style="margin-right: 8px;" (click)="htmlToPdf()">
        Download
    </button>
    <button nz-button nzType="primary" [useExistingCss]="true" [printSectionId]="'creditPrintSection'" ngxPrint>
        Print
    </button>
</div>
<div id="creditPrintSection">
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="6">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="assets/images/apluslogo.png" style="width: 100%; max-width: 240px;" />
                            </td>
                            <td>
                                A Plus General Insurance<br />
                                Plot No. 402, Roma Park, Zambezi Road<br />
                                P.O. Box 31700, Lusaka Zambia<br />
                                Tel: +260 211 239865/6 - Tele/Fax:+260 211 239867<br />
                                E-mail: info@aplusgeneral.com<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <hr style="width:100%; height:2px; background-color: black;">

        <table>
            <tr class="information">
                <td colspan="6">
                    <p id="title">CREDIT NOTE</p>
                </td>
            </tr>
            <tr class="subTitle">
                <td>
                    <p style="float: right !important;">No. [credit note no.]</p>
                    <span style="font-weight: bold;">TPIN:</span><span
                        style="font-weight: bold; color: red;">1002167568</span><br />
                    <span style="font-weight: bold;">VAT No:</span><span
                        style="font-weight: bold; color: red;">10380514-13</span>
                </td>
            </tr>
        </table>

        <br />
        <table>
            <tr>
                <td><span style="font-weight: bold;">Policy cert No: {{ policy.policyNumber }}</span></td>
                <td><span style="font-weight: bold;">Date: [credit note date]</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Endorsement No:</span></td>
                <td><span style="font-weight: bold;">Insured: {{ policy.nameOfInsured }}</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Tax Invoice No:</span></td>
                <td><span style="font-weight: bold;"></span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Period From: [start date] to [end date]</span></td>
                <td><span style="font-weight: bold;"></span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">Reason of Credit Note:</span></td>
                <td><span style="font-weight: bold;"></span></td>
            </tr>
        </table>
        <br />

        <table style="border: 1px solid black; border-collapse: collapse;">
            <tr style="border: 1px solid black;" class="heading">
                <td style="border: 1px solid black;">
                    Binder No
                </td>
                <td class="td2" style="border: 1px solid black;">
                    Details
                </td>
                <td id="td3" style="border: 1px solid black;">
                    Amount(ZMK)
                </td>
            </tr>
            <tr class="details" style="border: 1px solid black;">
                <td style="border: 1px solid black;">some Binder No</td>
                <td class="td2" style="border: 1px solid black;">Some details</td>
                <td id="td3" style="border: 1px solid black;">{{ creditNoteAmount | number: '1.2-2' }}</td>
            </tr>
        </table>

        <p style="text-align: right; font-weight: bold;">
            TOTAL:
            <span id="td3">{{ creditNoteAmount | number: '1.2-2' }}</span>
        </p>

        <br />

        <p>Issued by:</p><br />
        <p>Authorised by:</p>
    </div>
</div>