<div>
    <nz-divider
        nzText="Employment Information"
        nzOrientation="left"
    ></nz-divider>
    <form
        nz-form
        [formGroup]="employementInformationForm"
        novalidate
        (ngSubmit)="onSubmit()"
    >
        <div nz-row>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="sector"
                        >Sector</nz-form-label
                    >
                    <nz-form-control [nzSpan]="18">
                        <nz-select
                            formControlName="sector"
                            nzShowSearch
                            nzAllowClear
                            placeholder="Select a Sector"
                        >
                            <nz-option
                                *ngFor="let option of listOfOption"
                                [nzLabel]="option"
                                [nzValue]="option"
                                [nzHide]="!isNotSelected(option)"
                            ></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="occupation"
                        >Occupation</nz-form-label
                    >
                    <nz-form-control [nzSpan]="18">
                        <nz-select
                            formControlName="occupation"
                            nzShowSearch
                            nzAllowClear
                            placeholder="Select Occupation"
                        >
                            <nz-option
                                nzLabel="Student"
                                nzValue="student"
                            ></nz-option>
                            <nz-option
                                nzLabel="Employed"
                                nzValue="employed"
                            ></nz-option>
                            <nz-option
                                nzLabel="Unemployed"
                                nzValue="unemployed"
                            ></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="14" [nzOffset]="10">
                <button nz-button nzType="primary" style="float: right;">
                    Submit
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
