<div style="background: #ECECEC;padding:30px;">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <nz-card>
                <nz-statistic
                    [nzValueTemplate]="clientStats"
                    [nzTitle]="'Total Clients'"
                ></nz-statistic>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card>
                <nz-statistic
                    [nzValueTemplate]="claimsStats"
                    [nzTitle]="'Pending Claims'"
                ></nz-statistic>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card>
                <nz-statistic
                    [nzValueTemplate]="policiesStats"
                    [nzTitle]="'Active Policies'"
                ></nz-statistic>
            </nz-card>
        </div>
    </div>
    <div nz-row [nzGutter]="8" style="padding-top: 10px">
        <div nz-col [nzSpan]="8">
            <nz-card>
                <nz-statistic
                    [nzValueTemplate]="policiesStats"
                    [nzTitle]="'Expiring Policies'"
                ></nz-statistic>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card>
                <nz-statistic
                    [nzValue]="commissionEarned | number"
                    [nzTitle]="'Commission Earned (ZMK)'"
                ></nz-statistic>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card>
                <nz-statistic
                    [nzValue]="commissionEarned | number"
                    [nzTitle]="'Total Policies'"
                ></nz-statistic>
            </nz-card>
        </div>
    </div>

    <div style="margin-top: 20px">
        <nz-card nzTitle="Expiring Policies">
            <nz-table></nz-table>
        </nz-card>
    </div>
</div>

<ng-template #clientStats>
    <div *ngIf="clientsLoading">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!clientsLoading">
        {{ clientsCount | number }}
    </div>
</ng-template>

<ng-template #claimsStats>
    <div *ngIf="claimsLoading">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!claimsLoading">
        {{ claimsCount | number }}
    </div>
</ng-template>

<ng-template #policiesStats>
    <div *ngIf="policiesLoading">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!policiesLoading">
        {{ policiesCount | number }}
    </div>
</ng-template>
