.flosure-header {
  padding-top: 20px;
  margin-left: 10px;
  padding-bottom: 20px;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  display: flex;
  flex-direction: column;
}

::ng-deep .ant-layout-header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  z-index: 999;
}


nz-sider {
  position: fixed;
  overflow: auto;
  height: 100vh;
  z-index: 99999;
  // padding-top: 20px;
  // padding-bottom: 50px;
}


nz-content {
  margin-left: 250px;
}

::ng-deep .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow-x: scroll !important;
  // width: fit-content;
}
