<nz-layout style="height: 100%;">
  <nz-sider [nzTheme]="'light'" [nzWidth]="250">
    <div class="flosure-header">
      <div>
        <nz-avatar [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
      </div>
      <div style="margin-top: 5px;">
        Charles Malama
      </div>
      <div>
        charlesmalam@gamil.com
      </div>
      <div style="margin-top: 15px;">
        <button nz-button nzType="default" nzSize="small">Logout</button>
      </div>
    </div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Dashboard' : ''" nzSelected>
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
      </li>

      <li nz-submenu nzTitle="Clients" nzIcon="usergroup-add" nzOpen>
        <ul>
          <li nz-menu-item><a routerLink="/clients/create-client">Create Clients</a></li>
          <li nz-menu-item><a routerLink="/clients/clients-list">View Clients</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quotes" nzIcon="mail">
        <ul>
          <li nz-menu-item><a routerLink="/quotes/create-quote">Create Quotes</a></li>
          <li nz-menu-item><a routerLink="/quotes/quotes-list">View Quotes</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Underwriting" nzIcon="edit">
        <ul>
          <li nz-menu-item><a routerLink="/endorsements">Endorsements</a></li>
          <li nz-menu-item><a routerLink="/policies">Policies</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Certificates" nzIcon="bars">
        <ul>
          <li nz-menu-item><a routerLink="/certificates">Certificate Type</a></li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Claims" nzIcon="question-circle">
        <ul>
          <li nz-menu-item><a routerLink="/initimate-claims">Intimate Claims</a></li>
          <li nz-menu-item><a routerLink="/claim-transactions">Claim Transactions</a></li>
          <li nz-menu-item><a routerLink="/claimants">Claimants</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Accounts" nzIcon="dollar">
        <ul>
          <li nz-menu-item><a routerLink="/generate-receipts">Generate Reciepts</a></li>
          <li nz-menu-item><a routerLink="/view-receipts">View Reciepts</a></li>
          <li nz-menu-item><a routerLink="/payments">Payments</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Reports" nzIcon="reconciliation">
        <ul>
          <li nz-menu-item><a routerLink="/claims">Claims</a></li>
          <li nz-menu-item><a routerLink="/policies">Policies</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="User Managenent" nzIcon="user">
        <ul>
          <li nz-menu-item><a routerLink="/users-roles">Users and Roles</a></li>
          <li nz-menu-item><a routerLink="/roles-permissions">Roles and Permisions</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Settings" nzIcon="setting">
        <ul>
          <li nz-menu-item><a routerLink="/settings">Organization Setups</a></li>
          <li nz-menu-item><a routerLink="/underwriting">Underwriting Setups</a></li>
          <li nz-menu-item><a routerLink="/accounts">Accounts Setups</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>

  <nz-content style="background: #ececec;">
    <router-outlet></router-outlet>
  </nz-content>
  </nz-layout>
</nz-layout>
