.flosure-header {
  padding-top: 20px;
  margin-left: 10px;
  padding-bottom: 20px;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  display: flex;
  flex-direction: column;
}


nz-sider {
  position: fixed;
  overflow: auto;
  height: 100vh;
  // padding-bottom: 50px;
}


nz-content {
  margin-left: 250px;
}
