<div style="margin: 20px;">
    <nz-row nzGutter="24">
        <nz-col nzSpan="6">
            <nz-card nzTitle="Class">
                <input nz-input placeholder="Search products..." />
            </nz-card>
        </nz-col>
        <nz-col nzSpan="6">
            <nz-card nzTitle="Products">

            </nz-card>
        </nz-col>
        <nz-col nzSpan="6">
            <nz-card nzTitle="Cover Types">

            </nz-card>
        </nz-col>
        <nz-col nzSpan="6">
            <nz-card nzTitle="Perils">

            </nz-card>
        </nz-col>
    </nz-row>
</div>