<div>
    <nz-divider
        nzText="Personal Contact Details"
        nzOrientation="left"
    ></nz-divider>
    <form
        nz-form
        [formGroup]="contactPersornForm"
        novalidate
        (ngSubmit)="onSubmit()"
    >
        <div nz-row>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="contactFirstName"
                        >Contact First Name</nz-form-label
                    >
                    <nz-form-control [nzSpan]="16">
                        <input
                            nz-input
                            formControlName="contactFirstName"
                            name="contactFirstName"
                            type="text"
                            id="contactFirstName"
                            placeholder="Contact First Name"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="contactLastName"
                        >Contact Last Name</nz-form-label
                    >
                    <nz-form-control [nzSpan]="16">
                        <input
                            nz-input
                            formControlName="contactLastName"
                            name="contactLastName"
                            id="contactLastName"
                            placeholder="Contact Last Name"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="contactEmail"
                        >Contact Email</nz-form-label
                    >
                    <nz-form-control [nzSpan]="16">
                        <input
                            nz-input
                            formControlName="contactEmail"
                            name="contactEmail"
                            type="email"
                            id="contactEmail"
                            placeholder="Contact Email Address"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="14" [nzOffset]="10">
                <button nz-button nzType="primary" style="float: right;">
                    Submit
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
