<div style="margin: 10px;">
  <div style="margin-bottom: 10px; background: #fff;">

    <nz-page-header class="site-page-header"  (nzBack)="onBack()" nzBackIcon nzTitle="Departments">
      <nz-page-header-title>Department</nz-page-header-title>
      <nz-page-header-subtitle>Department</nz-page-header-subtitle>

      <nz-page-header-extra>



      </nz-page-header-extra>

    </nz-page-header>

  </div>

  <nz-card>


    <nz-card [nzBordered]="false" nzTitle="Departments">
      <div style="margin-bottom: 10px;">
        <div nz-row [nzGutter]="24">
          <div nz-col nzSpan="12">
            <div style="width: 100%;">
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                  type="text"
                  nz-input
                  placeholder="Search by Department name"
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>
          </div>
          <div nz-col nzSpan="12" >
            <div style="margin-right: 10px">
              <nz-page-header-extra>
                <button nz-button nzType="primary" (click)="showDepartmentModal()">Create</button>
              </nz-page-header-extra>

            </div>
          </div>
        </div>
      </div>

      <nz-table
        #departmentsTable
        [nzData]="displayDepartment"
        [nzSize]="'small'"
        [nzBordered]="true"
        style="background-color: white;"
      >

        <thead>
        <tr>
          <th>Department Name</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr
          style="cursor: pointer;"
          *ngFor="let department of departmentsTable.data"
        >
          <td>{{department.name}}</td>
          <td>{{department.description}}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              (click)="editDepartmentModal(department)"
            >
              Edit
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>


</nz-card>
</div>


<nz-modal [nzWidth]="900" [(nzVisible)]="isDepartmentVisible" nzTitle="The first Modal" (nzOnCancel)="handleDepartmentCancel()" (nzOnOk)="handleDepartmentOk()">
  <form [formGroup]="departmentForm" nz-form>
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            [nzSpan]="8"
            nzFor="name"
          >Department name</nz-form-label
          >
          <nz-form-control
            [nzSpan]="16"
            nzErrorTip="Please enter Department name!"
          >
            <input
              nz-input
              formControlName="name"
              name="name"
              type="text"
              id="name"
              nzRequired
              placeholder="Name"
            />
            <span
              class="text-danger"
              *ngIf="(departmentFormControl.name.touched || submittedDepartment) && departmentFormControl.name.errors?.required"
            >Please enter Department name!</span>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            [nzSpan]="8"
            nzFor="description"
            nzRequired
          >Description</nz-form-label
          >
          <nz-form-control [nzSpan]="16">
            <input
              formControlName="description"
              nz-input
              name="description"
              type="text"
              id="description"
              placeholder="Please Enter Description"
            />
            <span
              class="text-danger"
              *ngIf="(departmentFormControl.description.touched || submittedDepartment) && departmentFormControl.description.errors?.required"
            >Please enter Description!
            </span>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>


  </form>
</nz-modal>
