<nz-spin
    [nzSize]="'large'"
    [nzSpinning]="loadingReceipt"
    [nzTip]="'Loading Installments'"
>
    <div style="margin: 15px;">
        <div style="margin-bottom: 20px; background: #fff;">
            <nz-page-header nzBackIcon>
                <nz-page-header-title>Installments</nz-page-header-title>
                <nz-page-header-content>
                    <nz-descriptions [nzColumn]="3">
                        <nz-descriptions-item
                            nzTitle="Total installments"
                            [nzSpan]="1"
                            >{{
                                paymentPlanPolicyInstallmentsCount
                            }}</nz-descriptions-item
                        >
                    </nz-descriptions>
                </nz-page-header-content>
                <nz-page-header-extra>
                    <button
                        nz-button
                        nzType="primary"
                        (click)="showPolicyModal()"
                    >
                        Add Policy
                    </button>
                </nz-page-header-extra>
            </nz-page-header>
        </div>
        <div style="margin-bottom: 5px; margin-top: 5px;">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                    <nz-card nzTitle="Client Details">
                        <nz-descriptions
                            nzBordered
                            nzSize="small"
                            nzSpan="6"
                            style="margin-top: 5px;"
                            [nzColumn]="1"
                            [nzBordered]="true"
                            nzSize="middle"
                        >
                            <nz-descriptions-item nzTitle="Client Name">
                                {{ client.clientType === 'Individual'
                                ? capitalize(client.firstName + ' ' + client.lastName)
                                : capitalize(client.companyName) }}
                            </nz-descriptions-item> 
                             <nz-descriptions-item nzTitle="Registration Number">
                                {{ client.clientType === 'Individual'
                                ? client.idNumber 
                                : client.registrationNumber}}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Address">
                                {{ client.address }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Email">
                                {{ client.email }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Phone Number">
                                {{ client.phone }}</nz-descriptions-item
                            >
                       
                        </nz-descriptions>
                    </nz-card>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-card nzTitle="Account Details">
                        <nz-descriptions
                            nzBordered
                            nzSize="small"
                            nzSpan="6"
                            style="margin-top: 5px;"
                            [nzColumn]="1"
                            [nzBordered]="true"
                            nzSize="middle"
                        >
                            <nz-descriptions-item nzTitle="Total Premium">
                                {{
                                    paymentPlan.total_premium
                                        | number: '1.2-2'
                                }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Amount Paid">
                                {{
                                    paymentPlan.amount_paid | number: '1.2-2'
                                }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Amount Outstanding">
                                {{
                                    paymentPlan.amount_outstanding
                                        | number: '1.2-2'
                                }}
                            </nz-descriptions-item>
                            <nz-descriptions-item
                                nzTitle="Remaining Installments"
                            >
                                {{ paymentPlan.remaining_installments }}
                            </nz-descriptions-item>
                            <nz-descriptions-item
                                nzTitle="Number of Paid Installments"
                            >
                                {{
                                    paymentPlan.number_of_paid_installments
                                }}</nz-descriptions-item
                            >
                        </nz-descriptions>
                    </nz-card>
                </div>
            </div>
        </div>

        <nz-card style="margin-bottom: 5px;">
            <div style="margin-bottom: 5px;">
                <nz-collapse>
                    <nz-collapse-panel [nzHeader]="'Receipts'">
                        <!-- <div style="margin-bottom: 10px; width: 50%">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                    type="text"
                    nz-input
                    placeholder="Search by client, policy number, agent"
                    [(ngModel)]="searchString"
                    (ngModelChange)="search($event)"
                />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div> -->

                        <nz-table
                            #receiptTable
                            [nzData]="displayReceiptsList"
                            [nzSize]="'small'"
                            [nzBordered]="true"
                        >
                            <thead>
                                <tr>
                                    <th>Receipt Number</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let receipt of receiptTable.data"
                                    style="cursor: pointer;"
                                >
                                    <td>{{ receipt.receipt_number }}</td>
                                    <td>
                                        {{
                                            receipt.amount
                                                | number: '1.2-2'
                                        }}
                                    </td>
                                    <td>{{ receipt.allocation_status }}</td>
                                    <td>
                                        <div
                                            *ngIf="
                                                receipt.allocation_status !==
                                                'Allocated'
                                            "
                                        >
                                            <button
                                                nz-button
                                                nzType="primary"
                                                (click)="
                                                    showAllocationModal(receipt)
                                                "
                                            >
                                                Allocate
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>

            <nz-collapse>
                <nz-collapse-panel [nzHeader]="'Policies'">
                    <!-- <div style="margin-bottom: 10px; width: 50%">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                    type="text"
                    nz-input
                    placeholder="Search by client, policy number, agent"
                    [(ngModel)]="searchString"
                    (ngModelChange)="search($event)"
                />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div> -->

                    <nz-table
                        #policiesTable
                        [nzData]="policyPlan"
                        [nzSize]="'small'"
                        [nzBordered]="true"
                    >
                        <thead>
                            <tr>
                                <th>Policy Number</th>
                                <th>Cover From</th>
                                <th>Cover To</th>
                                <th>Client Name</th>
                                <th>Premium</th>
                                <th>Allocated Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let policy of policiesTable.data"
                                style="cursor: pointer;"
                            >
                                <td>{{ policy.policy_number }}</td>
                                <td>{{ policy.start_date | date }}</td>
                                <td>{{ policy.end_date | date }}</td>
                                <td>{{ policy.net_premium }}</td>
                                <td>{{ policy.allocated_amount }}</td>
                                <td>{{ policy.allocation_status }}</td>
                                <!--<td>
                                     <div
                                        *ngIf="
                                            policy.allocation_status !==
                                            'Allocated'
                                        "
                                    >
                                        <button
                                            nz-button
                                            nzType="primary"
                                            (click)="showAllocationModal()"
                                        >
                                            Allocate
                                        </button>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-collapse-panel>
            </nz-collapse>
            <div style="margin-bottom: 20px; margin-top: 20px; width: 50%;">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Search by" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </div>
            <nz-table
                #paymentPlanPolicyInstallmentsTable
                [nzSize]="'small'"
                [nzBordered]="true"
                [nzData]="paymentPlanPolicyInstallments"
            >
                <thead>
                    <tr>
                        <th>Installment Amount</th>
                        <th>Installment Date</th>
                        <th>Actual Paid Date</th>
                        <th>Balance</th>
                        <th>Installment Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let paymentPlanPolicyInstallment of paymentPlanPolicyInstallmentsTable.data
                        "
                        style="cursor: pointer;"
                    >
                        <td>
                            {{
                                paymentPlanPolicyInstallment.installment_amount
                                    | number: '1.2-2'
                            }}
                        </td>
                        <td>
                            {{
                                paymentPlanPolicyInstallment.installment_date
                                    | date: 'dd/MM/yyyy'
                            }}
                        </td>
                        <td>
                            {{
                                paymentPlanPolicyInstallment.actual_paid_date
                                    | date: 'dd/MM/yyyy'
                            }}
                        </td>
                        <td>
                            {{
                                paymentPlanPolicyInstallment.balance
                                    | number: '1.2-2'
                            }}
                        </td>
                        <td>
                            {{ paymentPlanPolicyInstallment.installment_status }}
                        </td>
                        <td>
                            <div
                                *ngIf="
                                    paymentPlanPolicyInstallment.installment_status !==
                                    'Fully Paid'
                                "
                            >
                                <button
                                    nz-button
                                    nzType="primary"
                                    (click)="
                                        showModal(paymentPlanPolicyInstallment)
                                    "
                                >
                                    Receipt
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>

    <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Capture Form"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzOkLoading]="isOkLoading"
        [nzWidth]="'1200'"
    >
        <nz-card
            style="width: 90%; margin: 0 auto;"
            [nzBordered]="true"
            nzTitle="Receipt Details"
        >
            <form [formGroup]="receiptForm" nz-form>
                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzFor="receivedFrom"
                                >Received From</nz-form-label
                            >
                            <nz-form-control
                                [nzSpan]="16"
                                nzErrorTip="Please enter Depositor's name!"
                            >
                                <input
                                    nz-input
                                    formControlName="received_from"
                                    name="receivedFrom"
                                    type="text"
                                    id="receivedFrom"
                                    nzRequired
                                    placeholder="Received From"
                                />
                                <!-- <span
                                    class="text-danger"
                                    *ngIf="
                                        (receiptFormControl.receivedFrom
                                            .touched ||
                                            submitted) &&
                                        receiptFormControl.receivedFrom.errors
                                            ?.required
                                    "
                                >
                                    Please enter Depositor's name!
                                </span> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label
                                [nzSpan]="8"
                                nzFor="sum_in_digits"
                                nzRequired
                                >Amount</nz-form-label
                            >
                            <nz-form-control [nzSpan]="16">
                                <input
                                    nz-input
                                    name="sumInDigits"
                                    type="number"
                                    id="sumInDigits"
                                    formControlName="sum_in_digits"
                                />

                                <!-- <span
                                    class="text-danger"
                                    *ngIf="
                                        (receiptFormControl.sumInDigits
                                            .touched ||
                                            submitted) &&
                                        receiptFormControl.sumInDigits.errors
                                            ?.required
                                    "
                                >
                                    Please enter sum in digits!
                                </span>
                                -- -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label
                                [nzSpan]="6"
                                nzFor="receiptType"
                                nzRequired
                                >Receipt Type</nz-form-label
                            >
                            <nz-form-control nzSpan="18">
                                <nz-select
                                    name="receiptType"
                                    formControlName="receipt_type"
                                    nzAllowClear
                                    nzPlaceHolder="Choose"
                                >
                                    <nz-option
                                        *ngFor="let option of optionList"
                                        [nzValue]="option.value"
                                        [nzLabel]="option.label"
                                    ></nz-option>
                                </nz-select>
                                <!-- <span
                                    class="text-danger"
                                    *ngIf="
                                        (receiptFormControl.receiptType
                                            .touched ||
                                            submitted) &&
                                        receiptFormControl.receiptType.errors
                                            ?.required
                                    "
                                >
                                    Please choose receipt type!
                                </span> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label
                                [nzSpan]="8"
                                nzFor="paymentMethod"
                                nzRequired
                                >Payment Method</nz-form-label
                            >
                            <nz-form-control [nzSpan]="16">
                                <nz-select
                                    name="paymentMethod"
                                    formControlName="payment_method"
                                    nzAllowClear
                                    nzPlaceHolder="Choose payment Method"
                                >
                                    <nz-option
                                        *ngFor="let method of paymentMethodList"
                                        [nzValue]="method.value"
                                        [nzLabel]="method.label"
                                    ></nz-option>
                                </nz-select>
                                <!-- <span
                                    class="text-danger"
                                    *ngIf="
                                        (receiptFormControl.paymentMethod
                                            .touched ||
                                            submitted) &&
                                        receiptFormControl.paymentMethod.errors
                                            ?.required
                                    "
                                >
                                    Please choose payment method!
                                </span> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label
                                [nzSpan]="6"
                                nzFor="narration"
                                nzRequired
                                >Narration</nz-form-label
                            >
                            <nz-form-control nzSpan="18">
                                <textarea
                                    formControlName="narration"
                                    nz-input
                                    rows="2"
                                    placeholder="Write Your Narration Here"
                                ></textarea>
                                <!-- <span
                                    class="text-danger"
                                    *ngIf="
                                        (receiptFormControl.narration.touched ||
                                            submitted) &&
                                        receiptFormControl.narration.errors
                                            ?.required
                                    "
                                >
                                    Please enter your Narration!
                                </span> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
    </nz-modal>

    <nz-modal
        [(nzVisible)]="isAllocationVisible"
        nzTitle="Allocation Form"
        (nzOnCancel)="handleAllocationCancel()"
        (nzOnOk)="handleAllocationOk()"
        [nzOkLoading]="isOkLoading"
        [nzWidth]="'1200'"
    >
        <nz-card
            style="width: 90%; margin: 0 auto;"
            [nzBordered]="true"
            nzTitle="Allocation Details"
        >
            <form [formGroup]="allocationForm" nz-form>
                <div nz-row>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label
                                [nzSpan]="8"
                                nzFor="sumInDigits"
                                nzRequired
                                >Amount</nz-form-label
                            >
                            <nz-form-control [nzSpan]="16">
                                <input
                                    nz-input
                                    name="sumInDigits"
                                    type="number"
                                    id="sumInDigits"
                                    formControlName="amount"
                                    placeholder="{{ amount }}"
                                    readonly
                                />
                                <!--
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        (receiptFormControl.sumInDigits
                                            .touched ||
                                            submitted) &&
                                        receiptFormControl.sumInDigits.errors
                                            ?.required
                                    "
                                >
                                    Please enter sum in digits!
                                </span>
                              -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="12" nzFor="policies"
                                >Policy</nz-form-label
                            >
                            <nz-form-control nzSpan="12">
                                <nz-select
                                    formControlName="policies"
                                    [(ngModel)]="selectedPolicies"
                                    nzMode="multiple"
                                    nzPlaceHolder="Please select"
                                >
                                    <nz-option
                                        *ngFor="let option of listOfPolicies"
                                        [nzLabel]="option.policyNumber"
                                        [nzValue]="option"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
    </nz-modal>
</nz-spin>
