<div style="margin: 20px;">
    <div style="margin-bottom: 20px; background: #fff;">
        <nz-page-header>
            <nz-page-header-title>Payment Plans</nz-page-header-title>
            <nz-page-header-content>
                <nz-descriptions [nzColumn]="3">
                <nz-descriptions-item nzTitle="Total Payment Plans" [nzSpan]="1">{{paymentPlansCount}}</nz-descriptions-item>
                </nz-descriptions>
            </nz-page-header-content>
        </nz-page-header>
    </div>

    <nz-card [nzBordered]="false" style="margin-top: 20px;">
        
                <nz-card [nzBordered]="false">
                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <div style="width: 75%;">
                                    <nz-input-group
                                        [nzSuffix]="suffixIconSearch"
                                    >
                                        <input
                                            type="text"
                                            nz-input
                                            placeholder="Search by Client name, Client ID"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixIconSearch>
                                        <i nz-icon nzType="search"></i>
                                    </ng-template>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <button
                                    nz-button
                                    nzType="primary"
                                    style="float: right;"
                                    (click)="addPaymentPlan()"
                                >
                                    Add New Payment Plan
                                </button>
                            </div>
                        </div>
                    </div>

                    <nz-table
                        #paymentPlansTable
                        [nzData] = "dispalyPaymentPlansList"
                        [nzSize]="'small'"
                        [nzBordered]="true"
                        style="background-color: white;"
                    >
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>Client ID</th>
                                <th>Number of Policies</th>
                                <th>Total Premium</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  
                            style="cursor: pointer;" *ngFor="let paymentPlan of paymentPlansTable.data" (click)="viewPaymentPlanDetails(paymentPlan)" >
                                <td>{{paymentPlan.clientName}}</td>
                                <td>{{paymentPlan.clientId}}</td>
                                <td>{{paymentPlan.numberOfPolicies}}</td>
                                <td>{{paymentPlan.totalPremium | number:'1.2-2'}}</td>
                                <td>{{paymentPlan.status}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
    </nz-card>
</div>

