<div style="margin: 20px;">
    <nz-card> 
        <h4 nz-typography>Finance</h4>
        <div style="margin-bottom: 10px;">
            <div nz-row [nzGutter]="24">
                <div nz-col nzSpan="12">
                    <div style="width: 75%;"></div>
                </div>
               
            </div>
        </div>
        
        <nz-divider nzType="horizontal"></nz-divider>

            <nz-tabset>
                    <!--
                        ///////////////////////////////////////////////////////////////////////
                        /////////// Banks /////////////////////////////////////////
                        /////////////////////////////////////////////////
                    -->
                <nz-tab nzTitle="Banks Setups">
                                

                    <div style="margin-bottom: 10px;">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <button nz-button nzType="primary" style="position: right;" (click)="openBanks()">
                                    Add Bank
                                </button>
                            </div>
                        </div>
                    </div>
                    <nz-table #bankTable [nzData]="bankList">
                        <thead>
                            <tr>
                                <th>Bank Name</th>
                                <th>Branch Name</th>
                                <th>Swift Code</th>
                            </tr>
                        </thead>
                            <tbody>
                                <tr *ngFor="let bank of bankTable.data"  (click)="onSelectBank(bank)"
                                    style="cursor: pointer;">
                                    <td>{{bank.bank_name }}</td>
                                    <td>{{bank.branch_name}}</td>
                                    <td>{{bank.swift_code}}</td>
                                </tr>
                            </tbody>
                </nz-table>
            </nz-tab>


                    <!--
                        ///////////////////////////////////////////////////////////////////////
                        /////////// PAYMENTS/////////////////////////////////////////
                        /////////////////////////////////////////////////
                    -->
                    <nz-tab nzTitle="Payments Setups">
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <button nz-button nzType="primary" style="position: right;" (click)="openPaymentMethods()">
                                    Add Method
                                </button>
                            </div>
                        </div> 
                    <nz-table #paymentMethodTable [nzData]="paymentMethodList">
                        <thead>
                            <tr>
                                <th> Name</th>
                                <th> Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paymentMethod of paymentMethodTable.data"  (click)="onSelectPaymentMethod(paymentMethod)"
                                style="cursor: pointer;">
                                <td>{{paymentMethod.Method_name }}</td>
                                <td> {{ paymentMethod.description }}</td>
                            
                            </tr>
                        </tbody>
                    </nz-table>
                        
                    </nz-tab>

                    <nz-tab nzTitle="Receipt Setups">
                    <!--
                        ///////////////////////////////////////////////////////////////////////
                        /////////// RECEIPTS TYPES/////////////////////////////////////////
                        /////////////////////////////////////////////////
                    -->
                        <div nz-row [nzGutter]="24">
                            <div nz-col nzSpan="12">
                                <button nz-button nzType="primary" style="position: right;" (click)="openReceiptTypes()">
                                    Add Receipt Type
                                </button>
                            </div>
                        </div> 
                    <nz-table #receiptTypeTable [nzData]="receiptTypeList">
                        <thead>
                            <tr>
                                <th> Name</th>
                                <th> Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let receiptType of receiptTypeTable.data"  (click)="onSelectReceiptType(receiptType)"
                                style="cursor: pointer;">
                                <td>{{receiptType.Type_name }}</td>
                                <td>{{receiptType.Description }}</td>
                            
                            </tr>
                        </tbody>
                    </nz-table>
                
                    </nz-tab>

              <nz-tab nzTitle="Discounts Setups">
 <!--
                        ///////////////////////////////////////////////////////////////////////
                        /////////// Discount TYPES/////////////////////////////////////////
                        /////////////////////////////////////////////////
                    -->
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzSpan="12">
                            <button nz-button nzType="primary" style="position: right;" (click)="openDiscountTypes()">
                                Add Discount Type
                            </button>
                        </div>
                    </div> 
                <nz-table #dicountTypeTable [nzData]="discountTypeList">
                    <thead>
                        <tr>
                            <th> Name</th>
                            <th> Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let discountType of dicountTypeTable.data"  (click)="onSelectDiscountType(discountType)"
                            style="cursor: pointer;">
                            <td>{{discountType.dtype }}</td>
                            <td>{{discountType.ddescription }}</td>
                        
                        </tr>
                    </tbody>
                </nz-table>
            
                </nz-tab>

            </nz-tabset>
   
    </nz-card>
    
</div> 





<!--///////////////////////////////////////////////////////////////////////
  /////////// BANK INPUTS/////////////////////////////////////////
  /////////////////////////////////////////////////-->

<nz-drawer [nzClosable]="false" [nzVisible]="isBankVisible" nzPlacement="left" nzTitle="Create Banks"
    (nzOnClose)="closeBanks()" [nzWidth]="600">
    <form nz-form [formGroup]="bankForm" (ngSubmit)="submitBankForm()">
       
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="bankErrorTpl">
                <input nz-input formControlName="bank_name" placeholder="Enter Name" />
                <ng-template #bankErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Bank Name!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The Name is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Branch</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="bankErrorTpl">
                <input nz-input formControlName="branch_name" placeholder="Enter Branch Name" />
                <ng-template #bankErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Branch Name!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The Name is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <!--nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Branch Code</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="bankErrorTpl">
                <input nz-input formControlName="branch_code" placeholder="Enter code" />
                <ng-template #bankErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Branch Code!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The code is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item-->
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Swift Code</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="bankErrorTpl">
                <input nz-input nz-type="text" formControlName="swift_code"  [ngModel]="'BAZAZMLU'" />
                <ng-template #bankErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Swift Code!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The Code is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" [disabled]="!bankForm.valid">
                    Submit
                </button>
                <button nz-button (click)="resetBankForm($event)">
                    Reset
                </button>
            </nz-form-control>
        </nz-form-item>



<!--
                    ///////////////////////////////////////////////////////////////////////
                    /////////// PAYMENTS INPUTS/////////////////////////////////////////
                    /////////////////////////////////////////////////
                -->


        <nz-drawer [nzClosable]="false" [nzVisible]="isPaymentMethodVisible" nzPlacement="left" nzTitle="Create paymentMethod"
        (nzOnClose)="closePaymentMethods()" [nzWidth]="600">
        <form nz-form [formGroup]="paymentMethodForm" (ngSubmit)="submitPaymentMethodForm()">
           
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Method Name</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="paymentMethodErrorTpl">
                    <input nz-input formControlName="Method_name" placeholder="Enter Method" />
                    <ng-template #paymentMethodErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input Method Name!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">
                            The Method is redundant!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedBack nxValidatingTip="Validating" [nzErrorTip]="descriptionErrorTp1!">
                  <textarea formControlName="description" nz-input rows="3" placeholder="write any thing"></textarea>
                  <ng-template #descriptionErrorTp1 let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input Method Name!
                    </ng-container>
                    </ng-template>
                </nz-form-control>
              </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="!paymentMethodForm.valid">
                        Submit
                    </button>
                   
                    <button nz-button nzType="default">Reset Form</button>
                </nz-form-control>
            </nz-form-item>
    

                    <!--
                    ///////////////////////////////////////////////////////////////////////
                    /////////// RECEIPT INPUTS/////////////////////////////////////////
                    /////////////////////////////////////////////////
                -->


                <nz-drawer [nzClosable]="false" [nzVisible]="isReceiptTypeVisible" nzPlacement="left" nzTitle="Create ReceiptType"
                (nzOnClose)="closeReceiptTypes()" [nzWidth]="600">
                <form nz-form [formGroup]="receiptTypeForm" (ngSubmit)="submitReceiptTypeForm()">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired> Name</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="DescriptionErrorTp1">
                            <input nz-input formControlName="Type_name" placeholder="Enter Type">
                        </nz-form-control>
                    </nz-form-item>
        
                    <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedBack nxValidatingTip="Validating" [nzErrorTip]="DescriptionErrorTp1!">
                          <textarea formControlName="Description" nz-input rows="3" placeholder="write any thing"></textarea>
                          <ng-template #DescriptionErrorTp1 let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please Add Input  !
                            </ng-container>
                            </ng-template>
                        </nz-form-control>
                      </nz-form-item>  
                      
                      <nz-form-item>
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                            <button nz-button nzType="primary" [disabled]="!receiptTypeForm.valid">
                                Submit
                            </button>                          
                    <!-- <button nz-button nzType="default">Reset Form</button> -->
                        </nz-form-control>
                    </nz-form-item>
            
   

                    <!--
                    ///////////////////////////////////////////////////////////////////////
                    /////////// Discount INPUTS/////////////////////////////////////////
                    /////////////////////////////////////////////////
                -->


                <nz-drawer [nzClosable]="false" [nzVisible]="isDiscountTypeVisible" nzPlacement="left" nzTitle="Create discountType"
                (nzOnClose)="closeDiscountTypes()" [nzWidth]="600">
                <form nz-form [formGroup]="discountTypeForm" (ngSubmit)="submitDiscountTypeForm()">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired> Name</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="dtypeErrorTp1">
                            <input nz-input formControlName="dtype" placeholder="Enter Type">
                        </nz-form-control>
                    </nz-form-item>
        
                    <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzHasFeedBack nzValidatingTip="Validating" [nzErrorTip]="ddescriptionErrorTp1!">
                          <textarea formControlName="ddescription" nz-input rows="3" placeholder="write any description"></textarea>
                          <ng-template #dtypenErrorTp1 let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please Add Input  !
                            </ng-container>
                            </ng-template>
                        </nz-form-control>
                      </nz-form-item>  
                      
                      <nz-form-item>
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                            <button nz-button nzType="primary" [disabled]="!discountTypeForm.valid">
                                Submit
                            </button>                          
                   <button nz-button nzType="default">Reset Form</button>
                        </nz-form-control>
                    </nz-form-item>
            
   




