<div style="margin: 15px;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      Clients
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Clients List
    </nz-breadcrumb-item>
  </nz-breadcrumb>
    <div >
      <div style="margin-bottom: 20px; margin-top: 20px; background: #fff;">
        <nz-page-header>
          <nz-page-header-title>Registered Clients</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button routerLink="/clients/create-client" nzType="primary">Add New Client</button>
          </nz-page-header-extra>
          <nz-page-header-content>
            <nz-row [nzGutter]="1">
              <nz-col [nzSpan]="6">
                <nz-statistic [nzValue]="1941 | number" [nzTitle]="'Total Clients'"></nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="6">
                <nz-statistic [nzValue]="2019 | number " [nzTitle]="'Individual Clients'"></nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="6">
                <nz-statistic [nzValue]="941 | number" [nzTitle]="'Corporate Clients'"></nz-statistic>
              </nz-col>
            </nz-row>
          </nz-page-header-content>
        </nz-page-header>
      </div>
    </div>
  <nz-card>
      <div style="margin-bottom: 20px;">
        <div style="margin-bottom: 20px; width: 50%">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Search by client, First Name, Last Name" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </div>
        <div style="margin: 20px;">
          <nz-radio-group>
            <label nz-radio nzValue="all">View All</label>
            <label nz-radio nzValue="corporate">Corporate Clients</label>
            <label nz-radio nzValue="individual">Individual Clients</label>
          </nz-radio-group>
        </div>
        <nz-table #clientsTable [nzData]="Clients" [nzSize]="'small'" [nzBordered]="true"
          style="background-color: white;">
          <thead>
            <tr>
              <th>Client ID</th>
              <th>Client Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Client Type</th>
              <th>Client Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let client of clientsTable.data" (click)="addClient(client)"> -->

            <tr *ngFor="let client of clientsTable.data" (click)="viewDetails(client)" style="cursor: pointer;">
              <td>{{ client.id }}</td>
              <td>{{ client.firstName + ' ' + client.lastName }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.phone }}</td>
              <td>{{ client.type }}</td>
              <td>
                <nz-badge [nzStatus]="client.status === 'Inactive' ? 'error' : 'success'" [nzText]="client.status">
                </nz-badge>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
</div>
