<div style="margin: 15px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            Clients
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Clients List
        </nz-breadcrumb-item>
    </nz-breadcrumb>
    <div>
        <div style="margin-bottom: 20px; margin-top: 20px; background: #fff;">
            <nz-page-header>
                <nz-page-header-title>Registered Clients</nz-page-header-title>
                <nz-page-header-extra>
                    <button
                        nz-button
                        (click)="isAddClientDrawerOpen = true"
                        nzType="primary"
                    >
                        Add New Client
                    </button>
                </nz-page-header-extra>
                <nz-page-header-content>
                    <nz-row [nzGutter]="1">
                        <nz-col [nzSpan]="6">
                            <nz-statistic
                                [nzValueTemplate]="clientsTotal"
                                [nzTitle]="'Total Clients'"
                            ></nz-statistic>
                        </nz-col>
                        <nz-col [nzSpan]="6">
                            <nz-statistic
                                [nzValueTemplate]="individaulTotal"
                                [nzTitle]="'Individual Clients'"
                            >
                            </nz-statistic>
                        </nz-col>
                        <nz-col [nzSpan]="6">
                            <nz-statistic
                                [nzValueTemplate]="corporateTotal"
                                [nzTitle]="'Corporate Clients'"
                            >
                            </nz-statistic>
                        </nz-col>
                    </nz-row>
                </nz-page-header-content>
            </nz-page-header>
        </div>
    </div>
    <nz-card>
        <div style="margin-bottom: 20px;">
            <nz-row style="margin-bottom: 20px;" [nzGutter]="20">
                <div nz-col [nzSpan]="18">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input
                            type="text"
                            nz-input
                            placeholder="Search by client, First Name, Last Name"
                        />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <div nz-col [nzSpan]="6" style="float: right;">
                    <nz-input-group>
                        <nz-select
                            nzShowSearch
                            nzAllowClear
                            nzPlaceHolder="Select client type."
                        >
                            <nz-option nzLabel="All" nzValue="All"></nz-option>
                            <nz-option
                                nzLabel="Individaul"
                                nzValue="Corporate"
                            ></nz-option>
                            <nz-option
                                nzLabel="Corporate"
                                nzValue="Corporate"
                            ></nz-option>
                        </nz-select>
                    </nz-input-group>
                </div>
            </nz-row>

            <nz-table
                #clientsTable
                [nzData]="displayClientList"
                [nzSize]="'small'"
                [nzBordered]="true"
                style="background-color: white;"
            >
                <thead>
                    <tr>
                        <th>Client ID</th>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Client Type</th>
                        <th>Client Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let client of clientsTable.data"
                        (click)="viewDetails(client)"
                        style="cursor: pointer;"
                    >
                        <td>{{ client.clientID }}</td>
                        <td>
                            {{
                                client.clientType === 'Individual'
                                    ? client.firstName + ' ' + client.lastName
                                    : client.companyName
                            }}
                        </td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.clientType }}</td>
                        <td>
                            <nz-badge
                                [nzStatus]="
                                    client.status === 'Inactive'
                                        ? 'error'
                                        : 'success'
                                "
                                [nzText]="client.status"
                            >
                            </nz-badge>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-card>
</div>

<ng-template #clientsTotal>
    <div *ngIf="clientsLoading">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!clientsLoading">
        {{ totalClients | number }}
    </div>
</ng-template>

<ng-template #individaulTotal>
    <div *ngIf="clientsLoading">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!clientsLoading">
        {{ totalIndividualClients | number }}
    </div>
</ng-template>

<ng-template #corporateTotal>
    <div *ngIf="clientsLoading">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!clientsLoading">
        {{ totalCorporateClients | number }}
    </div>
</ng-template>

<!-- Drawer for adding app-clients -->
<!-- TODO: Should move this to a seperate component -->
<nz-drawer
    [nzBodyStyle]="{
        height: 'calc(100% - 55px)',
        overflow: 'auto',
        'padding-bottom': '53px'
    }"
    [nzPlacement]="'left'"
    [nzMaskClosable]="false"
    [nzWidth]="850"
    [nzVisible]="isAddClientDrawerOpen"
    nzTitle="Create"
    (nzOnClose)="isAddClientDrawerOpen = false"
>
    <!-- <app-personal-details></app-personal-details>
    <app-contact-person></app-contact-person>
    <app-employement-information></app-employement-information>
    <app-company-details></app-company-details>
    <app-bank-details></app-bank-details>
    <app-company-bank-details></app-company-bank-details> -->
    <app-create-client></app-create-client>

    <!-- <div class="footer">
        <button
            type="button"
            (click)="isAddClientDrawerOpen = false"
            class="ant-btn"
            style="margin-right: 8px;"
        >
            <span>Cancel</span>
        </button>
        <button
            type="button"
            (click)="isAddClientDrawerOpen = false"
            class="ant-btn ant-btn-primary"
        >
            <span>Add Client</span>
        </button>
    </div> -->
</nz-drawer>
